interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/flavors/101
  response:
    body: {string: !!python/unicode '{"flavor": {"ram": 512, "id": 101, "links": [{"href":
        "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/101",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/101",
        "rel": "bookmark"}], "name": "512MB Redis Instance"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"instance": {"flavorRef": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/101",
      "datastore": {"version": "2.8", "type": "redis"}, "name": "test-delete-me"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/instances
  response:
    body: {string: !!python/unicode '{"instance": {"status": "BUILD", "updated": "2015-03-30T22:04:35",
        "name": "test-delete-me", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/instances/9b5180fc-f34b-49bd-9810-02b9f8fb9d95",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/instances/9b5180fc-f34b-49bd-9810-02b9f8fb9d95",
        "rel": "bookmark"}], "created": "2015-03-30T22:04:35", "hostname": "redacted",
        "id": "9b5180fc-f34b-49bd-9810-02b9f8fb9d95", "flavor": {"id": "101", "links":
        [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/101",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/101",
        "rel": "bookmark"}]}, "password": "redacted", "datastore": {"version": "2.8",
        "type": "redis"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/instances/9b5180fc-f34b-49bd-9810-02b9f8fb9d95
  response:
    body: {string: !!python/unicode '{"instance": {"status": "BUILD", "updated": "2015-03-30T22:05:03",
        "name": "test-delete-me", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/instances/9b5180fc-f34b-49bd-9810-02b9f8fb9d95",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/instances/9b5180fc-f34b-49bd-9810-02b9f8fb9d95",
        "rel": "bookmark"}], "created": "2015-03-30T22:04:35", "hostname": "redacted",
        "id": "9b5180fc-f34b-49bd-9810-02b9f8fb9d95", "flavor": {"id": "101", "links":
        [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/101",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/101",
        "rel": "bookmark"}]}, "datastore": {"version": "2.8", "type": "redis"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/instances/9b5180fc-f34b-49bd-9810-02b9f8fb9d95
  response:
    body: {string: !!python/unicode '{"instance": {"status": "ACTIVE", "updated":
        "2015-03-30T22:05:03", "name": "test-delete-me", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/instances/9b5180fc-f34b-49bd-9810-02b9f8fb9d95",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/instances/9b5180fc-f34b-49bd-9810-02b9f8fb9d95",
        "rel": "bookmark"}], "created": "2015-03-30T22:04:35", "local_storage": {"used":
        0.48999999999999999}, "hostname": "redacted", "id": "9b5180fc-f34b-49bd-9810-02b9f8fb9d95",
        "flavor": {"id": "101", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/101",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/101",
        "rel": "bookmark"}]}, "datastore": {"version": "2.8", "type": "redis"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
