interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/flavors/2
  response:
    body: {string: !!python/unicode '{"flavor": {"ram": 1024, "id": 2, "links": [{"href":
        "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/2", "rel":
        "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/2",
        "rel": "bookmark"}], "name": "1GB Instance"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"instance": {"volume": {"size": 1}, "flavorRef": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/2",
      "name": "test-delete-me-master"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/instances
  response:
    body: {string: !!python/unicode '{"instance": {"status": "BUILD", "updated": "2015-03-30T22:05:38",
        "name": "test-delete-me-master", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/instances/7c38fdae-f6e2-48ff-a37f-db3651a2bbba",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/instances/7c38fdae-f6e2-48ff-a37f-db3651a2bbba",
        "rel": "bookmark"}], "created": "2015-03-30T22:05:38", "hostname": "redacted",
        "id": "7c38fdae-f6e2-48ff-a37f-db3651a2bbba", "volume": {"size": 1}, "flavor":
        {"id": "2", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/2",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/2",
        "rel": "bookmark"}]}, "datastore": {"version": "5.6", "type": "mysql"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/instances/7c38fdae-f6e2-48ff-a37f-db3651a2bbba
  response:
    body: {string: !!python/unicode '{"instance": {"status": "BUILD", "updated": "2015-03-30T22:05:42",
        "name": "test-delete-me-master", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/instances/7c38fdae-f6e2-48ff-a37f-db3651a2bbba",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/instances/7c38fdae-f6e2-48ff-a37f-db3651a2bbba",
        "rel": "bookmark"}], "created": "2015-03-30T22:05:38", "hostname": "redacted",
        "id": "7c38fdae-f6e2-48ff-a37f-db3651a2bbba", "volume": {"size": 1}, "flavor":
        {"id": "2", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/2",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/2",
        "rel": "bookmark"}]}, "datastore": {"version": "5.6", "type": "mysql"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/instances/7c38fdae-f6e2-48ff-a37f-db3651a2bbba
  response:
    body: {string: !!python/unicode '{"instance": {"status": "ACTIVE", "updated":
        "2015-03-30T22:06:15", "name": "test-delete-me-master", "links": [{"href":
        "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/instances/7c38fdae-f6e2-48ff-a37f-db3651a2bbba",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/instances/7c38fdae-f6e2-48ff-a37f-db3651a2bbba",
        "rel": "bookmark"}], "created": "2015-03-30T22:05:38", "hostname": "redacted",
        "id": "7c38fdae-f6e2-48ff-a37f-db3651a2bbba", "volume": {"used": 0.17999999999999999,
        "size": 1}, "flavor": {"id": "2", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/2",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/2",
        "rel": "bookmark"}]}, "datastore": {"version": "5.6", "type": "mysql"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"instance": {"volume": {"size": 1}, "flavorRef": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/2",
      "name": "test-delete-me-replica-1", "replica_of": "7c38fdae-f6e2-48ff-a37f-db3651a2bbba"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/instances
  response:
    body: {string: !!python/unicode '{"instance": {"status": "BUILD", "updated": "2015-03-30T22:08:11",
        "name": "test-delete-me-replica-1", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/instances/924eee37-7af1-45d2-81ed-3f676140d24d",
        "rel": "se[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/instances/924eee37-7af1-45d2-81ed-3f676140d24d
  response:
    body: {string: !!python/unicode '{"itemNotFound": {"message": "Resource 924eee37-7af1-45d2-81ed-3f676140d24d
        cannot be found.", "code": 404}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
[...]
