interactions:
- request:
    body: '{"configuration": {"datastore": {"version": "14069833-2efd-4d3a-b7e7-d57b51fc7dc4",
      "type": "10000000-0000-0000-0000-000000000001"}, "values": {"connect_timeout":
      60, "expire_logs_days": 90}, "name": "checkmate:IAD:mysql:5.6"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/configurations
  response:
    body: {string: !!python/unicode '{"configuration": {"datastore_name": "mysql",
        "updated": "2015-03-30T22:04:33", "values": {"connect_timeout": 60, "expire_logs_days":
        90}, "name": "checkmate:IAD:mysql:5.6", "created": "2015-03-30T22:04:33",
        "datastore_version_name": "5.6", "instance_count": 0, "id": "8c6717d4-c7f2-4179-8312-e3f76eaea4e6",
        "datastore_version_id": "14069833-2efd-4d3a-b7e7-d57b51fc7dc4", "description":
        null}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/configurations/8c6717d4-c7f2-4179-8312-e3f76eaea4e6
  response:
    body: {string: !!python/unicode '{"configuration": {"datastore_name": "mysql",
        "updated": "2015-03-30T22:04:33", "values": {"connect_timeout": 60, "expire_logs_days":
        90}, "name": "checkmate:IAD:mysql:5.6", "created": "2015-03-30T22:04:33",
        "datastore_version_name": "5.6", "instance_count": 0, "id": "8c6717d4-c7f2-4179-8312-e3f76eaea4e6",
        "datastore_version_id": "14069833-2efd-4d3a-b7e7-d57b51fc7dc4", "description":
        null}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
