<div class='dropdown pull-left'>
  <button class="dropdown-toggle btn" ng-disabled="data.status != 'UP'">
    <i class="icon-plus-sign action action-add"></i>
    Add Nodes
  </button>

  <ul class="dropdown-menu" ng-init="num_nodes=1">
    <li class="nav-header" cm-stop-click-propagation>
      Service: <br />
      <div ng-repeat="service in available_services(data)">
        <input ng-model="$parent.selected_service" name="service" value="{{service}}" type="radio" />
        {{service | capitalize}}
        <br />
      <div>
    </li>

    <li class="nav-header" cm-stop-click-propagation>
      Number of Nodes: <br />
      <input ng-model="num_nodes" type="number" min="1" max="8" class="span12" />
    </li>

    <li class="nav-header">
      <button class="btn btn-primary" ng-click="add_nodes(data, selected_service, num_nodes)">Add resources</button>
    </li>
  </ul>
</div>

<div class='pull-right'>
  <i class="icon-question-sign muted" ng-hide="tree.count" tooltip="Select some nodes first"></i>
  <button class="dropdown-toggle btn" ng-click="open_modal('/partials/deployments/_delete_nodes_warning.html', {}, this)" ng-disabled="tree.count == 0 || data.status != 'UP'">
      <i class="icon-minus-sign action action-delete"></i>
      Delete Selected Nodes
  </button>
</div>

