<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()">&times;</button>
  <h3>
    Secrets: Passwords and Keys
    <clippy style="top:0" content="{{allAvailableSecrets()}}" bgcolor="#FFFFFF"></clippy>
  </h3>
</div>

<div class="modal-body">
  <div ng-show="loading.secrets" class="well summary">
    <img src="/img/ajax-loader-bar.gif" alt="Loading..."/>
    Loading secrets
  </div>

  <fieldset>
    <div class="control-group" ng-repeat="(name, output) in secrets_info.secrets">
      <label class="control-label" for="{{'output' + $index}}">{{name}}</label>
      <div class="controls">
        <span ng-show="output.status == 'LOCKED'">
          <i class="icon-lock" tooltip="This value is locked"></i>
          Locked on {{output['last-locked'] | formattedFullDate}}
        </span>

        <span ng-show="output.status != 'LOCKED' &amp;&amp; output.type != 'private-key'">
          <input type="text" readonly id="{{'output' + $index}}" value="{{output.value}}">
        </span>

        <div ng-show="output.status != 'LOCKED' &amp;&amp; output.type == 'private-key'">
          <pre>{{output.value}}</pre>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="modal-footer">
  <button class="btn btn-danger" tooltip="Once dismissed, secrets will not be available anymore!"
          tooltip-placement="left"
          ng-click="dismissSecrets();"
          ng-disabled="secrets_dismissed">
    Dismiss Secrets
  </button>
  <button class="btn" ng-click="dismiss()">Close</button>
</div>
