<style>
  body {
    background:#fcfcfc url("/img/top.png") top left repeat-x;
    padding:40px 0 0;
    border-top:3px solid #ddd;
  }

  /*h3 {
      text-align:center;
      font-size:32px;
      line-height:40px;
      font-family: 'Open Sans', sans-serif;
      font-weight:400;
      margin:0 0 15px;
  }*/


  .hand {
      font-family: sans-serif;
      font-weight:400;
      color:#4fb6e9;
  }
/*
  h2 {
      text-align:center;
      font-size:48px;
      line-height:56px;
      margin:15px 0;
      font-family: 'Open Sans', sans-serif;
      font-weight:400;
  }*/
  h2 {
    margin-bottom: 0;
  }

  h2 strong {
      font-weight:700;
  }

  /*h4 {
      font-family:'Open Sans', sans-serif;
      font-weight:600;
      font-size:16px;

  }*/


  /** FEATURE ***/

  .feature {
      margin-top:60px;
      margin-bottom:60px;
      text-align:center;
  }

  .feature img {
      margin:30px 0 0;
      text-align:center;
  }

  .box h3 {
      font-family:'Open Sans', sans-serif;
      font-weight:600;
      font-size:24px;
      margin-bottom:15px;
      text-align:left;
  }


  .box {
      background:#fff;
      box-shadow:none;
      border:1px solid #ddd;
      -webkit-border-radius:3px;
      border-radius:3px;
      padding:60px 0;
      margin-top:15px;
      margin-bottom:60px;
  }

  .box .row + .row {
      margin-top:30px;
  }

  .box .span6 + .span4 img {
      float:right;
  }

  .quotes {
      margin-top:30px;
      margin-bottom:60px;
  }

  /*** PRICING ****/

  .pricing {
      padding-top:38px;
      margin-bottom:30px;
  }

  .pricing .well {
      background:#fff;
      box-shadow:none;
      border:1px solid #ddd;
  }

  .pricing .well.highlighted {
      box-shadow:rgba(0,0,0,0.2) 0 0 10px;
      margin-top:-19px;
      padding-top:38px;
      padding-bottom:38px;
  }

  .pricing .well ul {
      margin-left:0;
  }

  .pricing .well ul li {
      list-style:none;
      text-align:center;
      padding:8px 0;
      border-bottom:1px solid #eee;

  }

  .pricing .well h4 {
      text-align:center;
  }

  .pricing .spot {
      font-family: 'Open Sans', sans-serif;
      font-weight:700;
      font-size:14px;
      -webkit-border-radius:64px;
      border-radius:64px;
      background:#71be42;
      border:1px solid #ddd;
      border-color:#7dca4f #71be42 #63a73a;
      color:#fff;
      text-shadow:none;

      background-image: -o-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -moz-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -webkit-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -ms-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgb(188,255,146)),
          color-stop(0.05, rgb(144,231,91)),
          color-stop(1, rgb(124,202,79))
      );
      background-image: linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      text-shadow:#63a73a 0 -1px 0;
      box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
      position:relative;
      z-index:10;
      height:32px;
      padding:16px 0;
      line-height:16px;
      width:64px;
      text-align:center;
      margin-top:-35px;
      margin-left:-16px;
  }

    .pricing .spot2 {
      font-family: 'Open Sans', sans-serif;
      font-weight:700;
      font-size:14px;
      -webkit-border-radius:64px;
      border-radius:64px;
      background:#bebe0;
      border:1px solid #ddd;
      border-color:#caca4f #bebe42 #a7a73a;
      color:#fff;
      text-shadow:none;

      background-image: -o-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -moz-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -webkit-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -ms-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgb(255,255,0)),
          color-stop(0.05, rgb(231,231,0)),
          color-stop(1, rgb(202,202,0))
      );
      background-image: linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      text-shadow:#63a73a 0 -1px 0;
      box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
      position:relative;
      z-index:10;
      height:32px;
      padding:16px 0;
      line-height:16px;
      width:64px;
      text-align:center;
      margin-top:-35px;
      margin-left:-16px;
  }

  .pricing img {
    display: block;
      height: 130px;
      text-align:center;
      margin-left: auto;
      margin-right: auto;
  }

  /*** OTHER BITS ****/

  .signup {
      display:inline-block;
      font-family:'Open Sans', sans-serif;
      font-size:24px;
      font-weight:400;
      padding:15px 30px;
      -webkit-border-radius:32px;
      border-radius:32px;
      background:#4fb6e9;
      border:1px solid #ddd;
      border-color:#3ca3d7 #3799ca #338bb8;
      color:#fff;
      text-shadow:none;
      background-image: linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -o-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -moz-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -webkit-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -ms-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);

      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgb(146,219,255)),
          color-stop(0.05, rgb(79,182,233)),
          color-stop(1, rgb(57,160,211))
      );
      text-shadow:#3799ca 0 -1px 0;
      box-shadow:rgba(0,0,0,0.2) 0 1px 1px;

  }

  .signup:link, .signup:visited {
      color:#fff;
  }

  .signup:hover {
      background:#3ca3d7;
      box-shadow:none;
      color:#fff;
      text-decoration:none;
  }


  .graded {
      padding-bottom:100px;
      background:url("/img/marketing/graded2.png") bottom center repeat-x;
  }

  .drop-shadow {
     position:relative;
  }

  .drop-shadow:before,
  .drop-shadow:after {
     content:"";
     position:absolute;
     z-index:-1;
      bottom:15px;
     left:10px;
     width:50%;
     height:20%;
     -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
     -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
     box-shadow:0 15px 15px rgba(0, 0, 0, 0.7);
     -webkit-transform:rotate(-2deg);
     -moz-transform:rotate(-2deg);
     -o-transform:rotate(-2deg);
     transform:rotate(-2deg);
  }

  .drop-shadow:after{
     right:10px;
     left:auto;
     -webkit-transform:rotate(2deg);
     -moz-transform:rotate(2deg);
     -o-transform:rotate(2deg);
     transform:rotate(2deg);
  }

  .footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 15px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
  }
  .entry {
    box-shadow: none;
  }
  .container-narrow {
    margin: 0 auto;
    max-width: 850px;
  }
  p {
    font-size: 14px;
  }
  .entries {
    margin-top: 50px;
  }
  .entry {
    margin-top: 40px;
  }
  .motto {
    font-size: 43px;
    color: #444;
    margin-bottom: 10px;
  }
  .hand {
    font-size: 24px;
    color: #666;
  }
  .form-inline-fat {
    margin-top: 20px;
  }
  .form-inline-fat p {
    margin-bottom: 20px;
  }
  .form-inline-fat form {
    font-size: 19px;
    color: #999;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .form-inline-fat form.ng-submitted input.ng-invalid-required {
    border-color: #c0392b;
  }
  .form-inline-fat form input {
    height: 42px;
    font-size: 16px;
    margin-bottom: 0;
    width: 160px;
  }
  .form-inline-fat form input,
  .form-inline-fat form .btn {
    margin-top: -5px;
  }
  table.deployment-list {
    width: 32% !important;
    float: left;
    margin-right: 1%;
  }
  table.deployment-list td {
    font-size: 14px;
  }
  table.deployment-list img {
    width: auto;
    height: 20px;
    opacity: .5;
    float: right;
  }
</style>
<a href="http://github.com/checkmate">
  <img style="position: absolute; top: 0px; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub">
</a>

<section class="entries">
  <article class="entry">
    <div class="container-narrow">

      <div class="row-fluid">
        <div class="span12">
          <h2 class="motto text-center">Get environments up quicker.</h2>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <h3 class="hand text-center">Checkmate lets you quickly create and deploy application infrastructure.</h3>
        </div>
      </div>

      <div class="row-fluid text-center form-inline-fat">
        <div class="span12">
          <p>Import and get started with a Checkmate.yaml file from a Github Repository.</p>
          <form class="form-inline"
                name="githubImport"
                ng-submit="importGithubDeployment(githubImport)"
                novalidate>
            github.com/
            <input type="text"
                   class="input-medium"
                   placeholder="Github Username"
                   ng-model="githubImport.repo"
                   required>
            /
            <input type="text"
                   class="input-medium"
                   placeholder="Repo Name"
                   ng-model="githubImport.password"
                   required>
            <button type="submit" class="btn btn-large btn-primary">
              Gimme!
            </button>
          </form>
        </div>
      </div>
    </div>
  </article>


  <article class="entry">
    <div class="container-narrow">

      <div class="row-fluid">
        <div class="span12">
          <h2 class="text-center">Powered by Rackers</h2>
        </div>
      </div>

      <p class="lead text-center">
        Get started from one of our Blueprints that we've built, just for you.
      </p>
      <p class="text-center">
        If one isn't written yet, you should totally <a ng-href="spot_write_url" target="_blank">write it and contribute.
        <i class="fa fa-external-link"></i></a>
      </p>

      <table class="table deployment-list" ng-repeat="column in deployments_list">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in column">
            <td>
              <img ng-class="item.name | lowercase"
                   height="20"
                   class="center hover-fade"
                   alt="{{item.description || item.name}}"
                   ng-src="/img/applications/{{item.image}}">
            </td>
            <td>
              <a ng-href="{{item.url}}" ng-show="item.url">
                {{item.name}}
              </a>
              <span ng-hide="item.url">{{item.name}}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <div style="clear:both;">
      </div>


      <div ng-show="github.config.url === 'https://github.com'" class="row-fluid pricing" ng-controller="ActivityFeedController" style="padding-top: 0px;">
        <div class="span12" ng-show="!items &amp;&amp; !loading">

          <div class="alert">Access to internal Rackspace GitHub server does not seem to be available from this Checkmate server. The list of blueprints available may be limited and some blueprint pages may not function.</div>
          <ul>
            <li>Check out the latest activity on <a href="https://github.com/checkmate" target="_blank">github</a></li>
            <li><a target="_blank" href="https://github.com/checkmate/checkmate/blob/master/docs/Checkmatefile.md">Create your own</a> application blueprints.</li>
            <li><a href="https://github.com/checkmate" target="_blank">Checkmate server &amp; UI code</a></li>
            <li><a href="https://github.com/Blueprints" target="_blank">Blueprints</a></li>
            <li><a href="https://github.com/Cookbooks" target="_blank">Chef Cookbooks</a></li>
          </ul>
        </div>

        <div ng-show="items &amp;&amp; !loading" class="span10 offset1">
          <h4>Join these Rackers and <a target="_blank" href="https://github.com/checkmate/checkmate/blob/master/docs/Checkmatefile.md">create your own</a> application Blueprints!</h4>
          <div style="overflow: scroll; height: 620px;">
            <table class="table table-condensed">
              <tr ng-repeat="item in items">
                <td style="width: 20px;"><img class="img-rounded pull-left" style="width:20px; height:20px;" ng-src="{{item.actor_avatar_url}}"></td>
                <td><a ng-href="{{item.actor_url}}" target="_blank"> {{item.actor}}</a>
                <span>{{item.verb}} {{item.subject_type}}<a ng-href="{{item.action_url}}" target="_blank">{{item.action | snippet:20}}</a></span> {{item.article}} <a ng-href="{{item.target_url}}" target="_blank">{{item.target}}</a> {{item.when | formattedDate}}</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
