graft examples
include setup.py
include README.md
include checkmate/checkmate.cfg
include checkmate/patterns.yaml
include checkmate/providers/rackspace/compute/catalog.yaml
include checkmate/components.yaml
graft checkmate/providers/rackspace/compute/scripts
global-exclude *.pyc *.sdx *.log *.db *.swp
prune bin
