# Use pip to install these requirements before running checkmate tests:
# pip install -r pip-test-requirements.txt
#
# Note - uncomment the following line to have this also install checkmate
# (Note the relative directory, must run pip from the correct relative directory.)
# -e ./
#

coverage
fakeredis
# Latest versions of pyflakes and pep8 break flake8.
# Freezing versions until flake8 catches up
pyflakes==0.7.2
pep8==1.4.5
flake8
hacking  # plugins for enforcement of HACKING.rst
mock
pylint==0.28.0
nose
nosexcover
webtest
mongobox
virtualenv

# pymox
#  Upstream: http://pymox.googlecode.com/svn/trunk/
#  Notes:    mox hasn't had a commit in 1.5 years. We lock it down to revision
#            r75 just to be safe.
# -e svn+http://pymox.googlecode.com/svn/trunk@r75#egg=mox
# modified the requirement to use PyPi for consistency, and general usability. 
mox==0.5.3
