# Use pip to install these requirements before running checkmate tests:
# pip install -r pip-test-requirements.txt
#
# Note - uncomment the following line to have this also install checkmate
# (Note the relative directory, must run pip from the correct relative directory.)
# -e ./
#

coverage==3.7
fakeredis==0.4.0
# Latest versions of pyflakes and pep8 break flake8.
# Freezing versions until flake8 catches up
pyflakes==0.7.2
pep8==1.4.5
flake8==2.0
hacking==0.7.2  # plugins for enforcement of HACKING.rst
mock==1.0.1
mongobox==0.1.3
pylint==0.28.0
nose==1.3.0
nosexcover==1.0.8
webtest==2.0.9
virtualenv==1.10.1

# pymox
#  Upstream: http://pymox.googlecode.com/svn/trunk/
#  Notes:    mox hasn't had a commit in 1.5 years. We lock it down to revision
#            r75 just to be safe.
-e svn+http://pymox.googlecode.com/svn/trunk@r75#egg=mox
