# Use pip to install these requirements before running checkmate tests:
# pip install -r pip-test-requirements.txt
#
# Note - uncomment the following line to have this also install checkmate
# (Note the relative directory, must run pip from the correct relative directory.)
# -e ./
#

coverage
flake8
hacking  # plugins for enforcement of HACKING.rst
mock
pep8
pylint
nose
nosexcover
webtest
unittest2
mongobox

# pymox
#  Upstream: http://pymox.googlecode.com/svn/trunk/
#  Notes:    mox hasn't had a commit in 1.5 years. We lock it down to revision
#            r75 just to be safe.
-e svn+http://pymox.googlecode.com/svn/trunk@r75#egg=mox

