# Use pip to install these requirements before installing checkmate:
# pip install -r pip-requirements.txt
#
# Note - uncomment the following line to have this also install checkmate
# (Note the relative directory, must run pip from the correct relative directory.)
#-e ./
#
# Items from internal Enterprise github.rackspace.com

# SpiffWorkflow
#Upstream: https://github.com/knipknap/SpiffWorkflow
-e git+https://github.rackspace.com/checkmate/SpiffWorkflow.git@master#egg=SpiffWorkflow-0.3.2-rackspace

# python-clouddns
#Upstream: https://github.com/rackspace/python-clouddns
#Note: version would end up being 0.0.0, which appears to be ignored by pip/setup.py, so we exclude it here.
-e git+https://github.rackspace.com/checkmate/python-clouddns.git@master#egg=python-clouddns

# python-cloudlb
#Upstream: https://github.com/rackspace/python-cloudlb
-e git+https://github.rackspace.com/checkmate/python-cloudlb.git@master#egg=python-cloudlb

# python-cloudfiles
#Upstream: https://github.com/rackspace/python-cloudfiles
-e git+https://github.rackspace.com/checkmate/python-cloudfiles.git@master#egg=python-cloudfiles

# openstack.compute
#Upstream: https://github.com/jacobian/openstack.compute
-e git+https://github.rackspace.com/checkmate/openstack.compute.git@master#egg=openstack.compute-2.0a1

# python-clouddb
#Upstream: https://github.com/slizadel/python-clouddb
#Note: python-clouddb would end up being ".01", but that is not valid (with a leading ".") so we exclude it here.
-e git+https://github.rackspace.com/checkmate/python-clouddb.git@master#egg=python-clouddb

# python-novaclient
#Upstream: https://github.com/openstack/python-novaclient
-e git+https://github.rackspace.com/checkmate/python-novaclient.git@master#egg=python-novaclient-2012.2

# rook
#Upstream: https://github.rackspace.com/checkmate/rook
-e git+https://github.rackspace.com/checkmate/rook.git@master#egg=rook

# GitPython
#Upstream: https://github.rackspace.com/checkmate/GitPython
-e git+https://github.rackspace.com/checkmate/GitPython.git@0.3#egg=GitPython

# rackspace-monitoring
#Upstream: https://github.com/racker/rackspace-monitoring
-e git+https://github.com/racker/rackspace-monitoring.git@master#egg=rackspace-monitoring


# from our fork - GitPython==0.3.2.RC1
# from our fork - openstack.compute==2.0a1
# from our fork - python-clouddb
# from our fork - python-novaclient==2012.2
# from our fork - python-cloudlb
# from our fork - python-clouddns
# from our fork - python-cloudfiles
# from fork - rackspace-monitoring
# from our fork - SpiffWorkflow==0.3.2-rackspace

amqp==1.0.8
anyjson==0.3.3
billiard==2.7.3.21
bottle==0.10.11
celery==3.0.15
eventlet==0.9.17
Jinja2==2.6
kombu==2.5.6
morpheus=0.0.4
pam==0.1.4
paramiko==1.7.7.2
prettytable==0.6
pycrypto==2.6
pymongo==2.5
python-keystoneclient==0.2.0
PyChef==0.2.1
PyYAML==3.10
SQLAlchemy==0.7.8
sqlalchemy-migrate==0.7.2
tldextract==1.1.2
WebOb==1.2.2


# All other needed requirements should work as specified through the setup.py file.
# Really, this file is only needed for the github.rackspace.com repositories.
