# Use pip to install these requirements before installing checkmate:
# pip install -r requirements.txt
#
# Note - uncomment the following line to have this also install checkmate
# (Note the relative directory, must run pip from the correct relative directory.)
#-e ./
#

##### Packages that we have not forked but are locked to a specific commit

# GitPython
#Upstream: https://github.com/gitpython-developers/GitPython
-e git://github.com/gitpython-developers/GitPython.git@0b820e617ab21b372394bf12129c30174f57c5d7#egg=GitPython

#### Packages that we've forked and cannot converge with upstream

# SpiffWorkflow
#   Upstream: https://github.com/knipknap/SpiffWorkflow
#   Notes:    Some of our changes have been pushed upstream but not in a
#             while. There have been other changes to upstream that aren't
#             compatible with our changes.
-e git://github.com/checkmate/SpiffWorkflow.git#egg=SpiffWorkflow

##### Rackspace client packages that have been abandoned because of pyrax. We
#     have forked and modified these in some way.

# python-cloudfiles
#   Upstream: https://github.com/rackerlabs/python-cloudfiles
#   Notes:    python-cloudfiles is deprecated. The upstream README says that
#             it is going to be unavailable after 8/1/2013. Our only difference
#             has been the ability to write metadata to a container. Caleb's
#             fork has this feature merged in with upstream.
-e git://github.com/calebgroom/python-cloudfiles.git@d2ce52ed803a871d5cbe1d5faff208b4f467e5e0#egg=python-cloudfiles

# openstack.compute
#   Upstream: https://github.com/jacobian/openstack.compute
#   Notes:    This project is stale. The last commit is over two years old.
#             We're only using this code base in
#             providers/rackspace/compute_legacy.py. Our additions were small
#             (2 commits) and can be reviewed at
#             https://rax.io/openstack-compute-diff
-e git://github.com/calebgroom/openstack.compute.git@c870e94cf53f0d5b76889d0c8ece22e9da356e65#egg=openstack.compute-2.0a1

# pyrax - mailgun
# Upstream: https://github.com/naterh/pyrax.git
# Notes: 	This is the initial add for the mailgun module.  This should be
#			integrated into pyrax shortly and can be removed.
-e git://github.com/ziadsawalha/pyrax.git@7c5eda1f8be2ab4da45da2747d508e1c48da7025#egg=pyrax

# Requires a newer version of pbr, so install it first
-e git://github.com/samstav/satori.git@bug/1389034#egg=satori

#### Checkmate packages
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
bottle==0.11.7
celery==3.1.17
eventlet==0.15.2
impacket==0.9.12
Jinja2==2.7.3
kombu==3.0.24
morpheus==0.0.4
pam==0.1.4
paramiko==1.15.1
passlib==1.6.2
prettytable==0.7.2
pycrypto==2.6.1
pymongo==2.7.2
python-novaclient==2.20.0
#pyrax==1.4.11
python-keystoneclient==0.11.2
python-statsd==1.7.2
PyChef==0.2.3
PyGithub==1.25.2
PyYAML==3.11
redis==2.10.3
requests==2.5.0
simplefsm==0.1.3
six==1.8.0
SQLAlchemy==0.9.8
tldextract==1.5.1
voluptuous==0.8.7
WebOb==1.4
