# Use pip to install these requirements before running checkmate tests:
# pip install -r test-requirements.txt
#
# Note - uncomment the following line to have this also install checkmate
# (Note the relative directory, must run pip from the correct relative directory.)
# -e ./
#

# Install first to avoid version conflicts
mccabe==0.2.1
pep8==1.5.7

# Alphabetical order
coverage==4.0a1
fakeredis==0.5.1
flake8==2.2.4
flake8_docstrings>=0.2.0
hacking==0.10.1
mock==1.0.1
mongobox==0.1.4
nose==1.3.4
nosexcover==1.0.10
pylint==1.4.1
vcrpy==1.1.4
webtest==2.0.16

# pymox
#  Upstream: http://pymox.googlecode.com/svn/trunk/
#  Notes:    mox hasn't had a commit in 1.5 years. We lock it down to revision
#            r75 just to be safe.
#            Just say no to SVN. Copied r75 to GitHub.
-e git+https://github.com/hhoover/pymox.git#egg=mox
