# Use pip to install these requirements before running checkmate tests:
# pip install -r test-requirements.txt
#
# Note - uncomment the following line to have this also install checkmate
# (Note the relative directory, must run pip from the correct relative directory.)
# -e ./
#

coverage==4.0a1
fakeredis==0.5.1
flake8==2.2.5
hacking==0.9.5
mock==1.0.1
mongobox==0.1.4
nose==1.3.4
nosexcover==1.0.10
pylint==1.4.0
webtest==2.0.16

# pymox
#  Upstream: http://pymox.googlecode.com/svn/trunk/
#  Notes:    mox hasn't had a commit in 1.5 years. We lock it down to revision
#            r75 just to be safe.
-e svn+http://pymox.googlecode.com/svn/trunk@r75#egg=mox
