<div class="row-fluid">
  <div class="span3">
    <ul class="nav nav-list">
      <li class="nav-header">
        Commands
      </li>
      <li><a href="#" ng-click="save()" class="tip" title="Save any edits of the JSON. The JSON on the right is editable!"><i class="icon-ok"></i> Save</a></li>
      <!--<li class="nav-header">
        Resources
      </li>
      <li ng-repeat="(key, resource) in data.resources">{{key}} - {{resource.type}}</li>
      -->
    </ul>
  </div>
  <div class="span9">
    <h3>Deployment: {{data.id}}</h3>
    <table>
        <tr><td style="width: 30%">Blueprint:</td><td>{{data.blueprint.name}}</td></tr>
        <tr><td>Environment:</td><td>{{data.environment.name}}</td></tr>
    </table>
    <textarea id="source" ui-codemirror="{ theme: 'lesser-dark', mode: {name: 'javascript', json: true}, lineNumbers: true, autoFocus: true, lineWrapping: true, dragDrop: false, matchBrackets: true }"
              ng-model="data_json"></textarea>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button> <strong>Warning!</strong> If your updates include any 'secret' values (like password or private keys) and you have not opened this screen with a ?with_secrets query parameter, then any existing secrets will be overwritten and lost
    </div>
  </div>
</div>
