<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3>Support for Checkmate</h3>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>Support Coverage</dt>
      <dd>
        24x7 support coverage will be starting soon, but for now please look up contact and support info at
        <a href="//rax.io/where" target="_blank">https://rax.io/where</a>,
        or open issues on
        <a target="_blank" href="http://github.com/checkmate/checkmate/issues/new">github (private repo)</a>.
      </dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Rackers</dt>
      <dd>
        This product was built by Rackers for Rackers. Let us know what features you want and we'll do our best to get them done.
        And feel free to contribute code yourself!
      </dd>
    </dl>

    <dl class="dl-horizontal" ng-hide="1">
      <dt>Feedback</dt>
      <dd>
        Click the feedback button on the right and let us know if you experience any problems using Checkmate, have suggestions for improvement, or stories of how Checkmate helped you.
      </dd>
    </dl>
  </div>
  <div class="modal-footer">
      <small class="pull-left">
        <strong>Checkmate version:</strong> <a ng-href="https://github.com/checkmate/checkmate/tree/{{api_git_commit || 'master'}}" target="_blank">{{api_version}}<span ng-show="api_git_commit"> - {{api_git_commit | limitTo:8}}</a><br />
        <!--<strong>Rook version:</strong> <a href="https://github.com/checkmate/checkmate/tree/{{rook_version}}/ui" target="_blank">{{rook_version}}</a>-->
      </small>
  </div>
</div>
