<div class="entries container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Blueprint</th>
        <th>Environment</th>
        <th>Tenant</th>
        <th>Status</th>
        <th>Date Created</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="deployment in items | orderBy:'-created'" >
        <td><a ng-href="/{{deployment.tenantId}}/deployments/{{deployment.id}}"><i class="icon-picture"></i> {{deployment.id}}</a></td>
        <td>{{deployment.blueprint.name}}</td>
        <td>{{deployment.environment.name}}</td>
        <td>{{deployment.tenantId}}</td>
        <td>{{deployment.status}}</td>
        <td>{{deployment.created | formattedFullDate}} <button ng-cloak ng-show="auth.identity.is_admin" class="btn btn-mini btn-info pull-right" type="button" ng-click="sync(deployment.id)">sync</button></td>
      </tr>
    </tbody>
  </table>
  <div data-ng-include data-src="'/partials/shared/pagination.html'"></div>
</div>
