<div class="entries container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Blueprint</th>
        <th>Environment</th>
        <th>Tenant</th>
        <th>Status</th>
        <th>Date Created</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="deployment in items | orderBy:'-created'" >
        <td><a ng-href="/{{auth.context.tenantId}}/deployments/{{deployment.id}}"><i class="icon-picture"></i> {{deployment.id}}</a></td>
        <td>{{deployment.blueprint.name}}</td>
        <td>{{deployment.environment.name}}</td>
        <td>{{deployment.tenantId}}</td>
        <td>{{deployment.status}}</td>
        <td>{{deployment.created | formattedFullDate}} <button ng-cloak ng-show="auth.identity.is_admin" class="btn btn-mini btn-info pull-right" type="button" ng-click="sync(deployment.id)">sync</button></td>
      </tr>
    </tbody>
  </table>

  <div data-ng-show="showPagination()" class="pagination">
    <ul>
      <li data-ng-show="links.previous" >
        <a data-ng-href="{{links.previous.uri}}">{{links.previous.text}}</a>
      </li>

      <li data-ng-repeat="link in links.first_numbered_links">
        <a data-ng-href="{{link.uri}}">{{link.text}}</a>
      </li>

      <li data-ng-hide="links.hide_first_separator">
        <span class='separator'>{{links.separator}}</span>
      </li>

      <li data-ng-class="{active: link.text == currentPage}" data-ng-repeat="link in links.middle_numbered_links">
        <a data-ng-href="{{link.uri}}">{{link.text}}</a>
      </li>

      <li data-ng-hide="links.hide_last_separator">
        <span class='separator'>{{links.separator}}</span>
      </li>

      <li data-ng-repeat="link in links.last_numbered_links">
        <a data-ng-href="{{link.uri}}">{{link.text}}</a>
      </li>

      <li data-ng-show="links.next">
        <a data-ng-href="{{links.next.uri}}">{{links.next.text}}</a>
      </li>
    </ul>
  </div>
</div>
