<span class="dropdown">
  <button class="btn btn-mini dropdown-toggle">
    <i class="icon-wrench"></i>
  </button>
  <ul class="dropdown-menu">

    <li class="nav-header">
      <i class="icon-picture"></i> Deployment
    </li>
    <li>
      <a ng-click="wrap_admin_call(deployment.created_by, sync, deployment)">Sync</a>
    </li>

    <li class="divider" ng-show="is_admin(true)"></li>
    <li class="nav-header" ng-show="is_admin(true)">
      <i class="icon-tags"></i> Tenant Tags
    </li>
    <li ng-repeat="tag in all_tags()" ng-show="is_admin(true)">
      <a ng-click="toggle_tag(deployment.tenantId, tag)" cm-stop-click-propagation>
        {{tag}}<i class="icon-remove pull-right" ng-show="has_tag(deployment.tenantId, tag)"></i>
      </a>
    </li>
    <li ng-show="is_admin(true)">
      <form ng-submit="toggle_tag(deployment.tenantId, tenant.new_tag); tenant.new_tag = ''">
        <input ng-model="tenant.new_tag" type="text" placeholder="Custom tag..." class="new_tag" cm-stop-click-propagation />
      </form>
    </li>

  </ul>
</span>
