<div class="entries container-fluid" ng-init="load()" ng-show="is_content_loaded()">

  <label ng-repeat="filter in filter_list">
    <div>
      <input type="radio" ng-model="activeFilter" value="{{filter}}" name='activeFilter' ng-click="applyFilter(filter)"> 
      <span>{{filter}}</span>
    </div>
  </label>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Blueprint</th>
        <th ng-show="is_admin(true)">Tenant</th>
        <th>Status</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="deployment in items | orderBy:'-created'" class="deployment">
        <td>
          <ng-include src="'/partials/deployment_settings.html'"></ng-include>
          <a ng-href="/{{deployment.tenantId}}/deployments/{{deployment.id}}">{{deployment.id | truncate:15}}</a>
        </td>
        <td>{{deployment.name}}</td>
        <td>{{deployment.blueprint.name}}</td>
        <td ng-show="is_admin(true)">
          {{deployment.tenantId}}
          <span class="tenant_tag" ng-repeat="tag in tenant_tags(deployment.tenantId)" ng-show="!is_impersonating()">
            <i class="icon {{tag | lowercase}}" tooltip="{{tag}}"></i>
            <span class="label {{tag | lowercase}}">{{tag}}</span>
          </span>
        </td>
        <td>
          <div class="progress deploy_progress">
            <div class="bar" ng-style="{width: ((deployment.operation.complete/deployment.operation.tasks) * 100 || '0') + '%'}"
              ng-class="{'bar-success': deployment.status == 'UP'}">
            </div>
            <span>{{deployment.display_status}}</span>
          </div>
        </td>
        <td>
          {{deployment.created | formattedFullDate}}<span ng-cloak ng-show="deployment.created_by"> by {{deployment.created_by}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div data-ng-include data-src="'/partials/shared/pagination.html'"></div>
</div>
