<div class='hidden' id='deployment_summary_clipping'>
From: {{abs_url}}
App URL: {{formatted_data.path}}
App IP: {{formatted_data.vip}}
Servers:
{{formatted_data.clippy.server_data}}
Databases:
{{formatted_data.clippy.database_data}}
Load balancers:
{{formatted_data.clippy.lb_data}}
Applications:
User:     {{formatted_data.username}}
Password: {{formatted_data.password}}
Priv Key: {{formatted_data.private_key}}
</div>

<div class="entries container-fluid">
  <div class="entry well">
    <div class="row-fluid">
      <div class="span2">
        <ul class="nav nav-list">
          <li class="nav-header">
            Commands
          </li>
          <li><a href="#" ng-click="save()" class="tip" title="Save any edits of the JSON. The JSON on the right is editable!"><i class="icon-ok"></i> Save</a></li>
          <li><a href="#" data-target="#deleteWarning" class="tip" title="Delete Resources and Deployment" data-toggle="modal"><i class="icon-remove"></i> Delete</a></li>
          <li><a href="#" ng-show="auth.identity.is_admin" ng-click="sync()" class="tip" title="Sync the deployment resources"><i class="icon-retweet"></i> Sync</a></li>
            <!-- deleteWarning -->
            <div id="deleteWarning" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <h3 id="myModalLabel" class="alert alert-danger">Warning! Data Destructive Task</h3>
              </div>
              <div class="modal-body">
                <p>Deleting the deployment will also delete all resources and data in it.</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" href="#" ng-click="delete_deployment()">Go ahead and Delete</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              </div>
            </div>
        </ul>
      </div>

      <div class="span10 deployment_container" style="background-position: right top; background-repeat: no-repeat; background-size: auto 140px; background-image: url({{data.blueprint['meta-data']['reach-info'].tattoo}})">
        <div class="page-header">
          <p>CLOUD DEPLOYMENT</p>
          <h3 style="display: inline">{{data.name || data.blueprint.name}}  </h3>
        </div>
        <p class="lead">{{data.blueprint['meta-data']['application']}} Details</p>
        <form class="form-horizontal">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="status">Status</label>
              <div class="controls">
                <div id="status" class="label"
                ng-class="{
                'label-success': data.status == 'UP' || data.status == 'LAUNCHED' || data.status == 'ACTIVE',
                'label-warning': data.status == 'ALERT' || data.status == 'DELETING' || data.status == 'BUILD', 'label-important': data.status == 'FAILED' || data.status == 'UNREACHABLE' || data.status == 'DOWN',
                'label-info': data.status == 'PLANNED',
                'label-inverse': data.status == 'DELETED'
              }" style="margin-right: 10px; margin-bottom: 5px;">{{deployment_status()}}</div> <!-- if there's an operation running, operation type, otherwise data.status -->
                <div ng-cloak ng-show="display_progress_bar()">
                  <div id="deployment_progress" class="progress progress-striped">
                    <div class="bar background"></div>
                    <div class="bar" ng-style="{width: operation_progress() + '%'}"></div> <!-- operation status -->
                    <span>{{operation_status()}}</span>
                  </div>
                  <button class="btn btn-mini tip" title="Auto refresh" ng-class="{active: auto_refresh}" ng-click="toggle_auto_refresh()"><i class="icon-refresh"></i></button>
                  <div><a ng-href="{{data.operation.link}}/status" ng-cloak ng-show="display_workflow()">View {{data.operation.type}} operation status</a></div>
                </div>
              </div>
            </div>

            <div ng-controller="WorkflowController">
              <div class="control-group" ng-cloak ng-show="timeRemaining">
                  <div class="controls">
                    <p><span class="label label-info cmtip" title="Total items">{{count}}</span> tasks total:</p>
                    <p>&nbsp;&nbsp;<span class="label label-success cmtip" title="Completed">{{taskStates['completed'] + taskStates['ready']}}</span> completed</p>
                    <p>&nbsp;&nbsp;<span class="label label-warning cmtip" title="In Progress">{{taskStates['waiting']}}</span> in progress</p>
                    <p>&nbsp;&nbsp;<span class="label label-important cmtip" title="Errors">{{taskStates['error']}}</span> errored out</p>
                    <p>&nbsp;&nbsp;<span class="label cmtip" title="Waiting on other tasks">{{taskStates['future'] + taskStates['likely'] +
                    taskStates['maybe']}}</span> tasks waiting on other tasks to finish.</p>
                  </div>
                  &nbsp;
                  <a style="margin-bottom: 15px;" class="btn" ng-cloak ng-show="data.id == 'simulate'" href="./status?complete">Complete the Simulation Now</a>
                  <div class="alert controls">You can access an <a href=".">advanced</a> view of
                  the workflow to manage any errors or hack at the workflow.</div>
              </div>
              <div ng-show="!timeRemaining" class="control-group">
                <div class="alert controls">The advanced view of the workflow can still be reached <a ng-href="/{{auth.context.tenantId}}/workflows/{{data.id}}">here</a>.</div>
              </div>
            </div>


            <div class="control-group">
              <label class="control-label" for="secrets">Secrets:</label>
              <div class="controls" ng-switch="data.secrets">
                <div ng-switch-when="AVAILABLE"><a href="#" ng-click="showSecrets()">Secrets available</a></div>
                <div ng-switch-when="LOCKED"><i class="icon-lock"></i> dismissed</div>
                <div ng-switch-when="GENERATING">available soon</div>
                <div ng-switch-default>No secrets</div>
              </div>
            </div>

            <div class="control-group" ng-repeat="(name, output) in data['display-outputs']" ng-hide="output['is-secret']">
              <label class="control-label" for="{{'output' + $index}}">{{name}}</label>
              <div class="controls">
                <input type="text" readonly id="{{'output' + $index}}" value="{{output.value.url ||output.value}}">
              </div>
            </div>

            <hr>

            <div class="control-group">
              <label class="control-label" for="environment">Environment</label>
              <div class="controls">
                <input type="text" class="input-xxlarge" readonly id="environment" value="{{data.environment.name}}">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="environment">Blueprint</label>
              <div class="controls">
                <input type="text" class="input-xxlarge" readonly id="blueprint" value="{{data.blueprint.name}}">
              </div>
            </div>
          </fieldset>
        </form>

        <hr>

        <p class="lead">Infrastructure</p>

        <table class="table table-bordered table-condensed">
          <thead><tr><th>Name</th><th>Type</th><th>IP</th><th>Build Status</th></tr></thead>
          <tbody>
            <tr ng-repeat="resource in data.resources" ng-hide="['application', 'key-pair', 'user', 'database', ''].indexOf(resource.type || '') > -1">
              <td ng-switch="resource.provider">
                <a ng-switch-when="nova" target="_blank" ng-href="{{CloudControlURL(rresource.region || resource.instance.region)}}/customer/{{auth.context.tenantId}}/next_gen_servers/{{resource.region || resource.instance.region}}/{{resource.instance.id}}">{{resource['dns-name']}}</a>
                <a ng-switch-when="legacy" target="_blank" ng-href="{{CloudControlURL(resource.region || resource.instance.region)}}/customer/{{auth.context.tenantId}}/first_gen_servers/{{resource.instance.id}}">{{resource['dns-name']}}</a>
                <a ng-switch-when="load-balancer" target="_blank" ng-href="{{CloudControlURL(resource.region || resource.instance.region)}}/customer/{{auth.context.tenantId}}/load_balancers/{{resource.region || resource.instance.region}}/{{resource.instance.id}}">{{resource['dns-name']}}</a>
                <a ng-switch-when="databases" target="_blank" ng-href="{{CloudControlURL(resource.region || resource.instance.region)}}/customer/{{auth.context.tenantId}}/dbaas/instances/{{resource.region || resource.instance.region}}/{{resource.instance.id}}">{{resource['dns-name']}}</a>
                <span ng-switch-default>{{resource['dns-name']}} ({{resource.provider}})</a>
              </td>
              <td>{{resource.type}}{{resource.service | prepend: ' - '}}</td>
              <td>{{resource.instance.public_ip}}</td>
              <td>{{resource.status}} <span ng-cloak ng-show="resource.instance['status-message']">({{resource.instance['status-message']}})</span></td>
            </tr>
          </tbody>
        </table>

        <button class="btn toggle-button" ng-click="showAdvancedDetails = !showAdvancedDetails">Show me the old completion screen</button>
        <div collapse="!showAdvancedDetails">
          <div class="well well-large">
            <clippy clippy-element="{{clippy_element}}" style="top:0" bgcolor="#f5f5f5"></clippy>
            <div ng-hide="!formatted_data.path"><p><strong>Access your application</strong> from <a ng-href="{{formatted_data.path}}" target="_blank">{{formatted_data.path}}</a>.</p>
            <p>Alternatively, enter the IP address in your hosts file if the domain name is not yet accessible:</p>
            <p><pre>echo "{{formatted_data.vip}}  {{formatted_data.domain}}" >> /etc/hosts</pre></p>
            <p>You might need to run this with elevated priviledges:
              <pre>sudo bash -c 'echo "{{formatted_data.vip}}  {{formatted_data.domain}}" >> /etc/hosts'</pre>
            </p></div>

            <br>
            <p><strong>Servers</strong> created were:
            <table class="table table-bordered table-condensed">
              <thead><tr><th>Name</th><th>Role</th><th>IP</th><th>Root Password</th></tr></thead>
              <tbody><tr ng-repeat="resource in formatted_data.resources | filter:{component:'linux_instance'}">
                  <td><a target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/#compute%2CcloudServersOpenStack%2C{{resource.region}}/{{resource.instance.id}}">{{resource['dns-name']}}</a></td>
                  <td>{{resource.service}}</td>
                  <td>{{resource.instance.public_ip}}</td>
                  <td>{{resource.instance.password}}</td>
              </tr></tbody></table>

              <p><strong>Databases</strong><br>
              <table class="table table-condensed" ng-repeat="resource in formatted_data.resources | filter:{type:'database'}">
                <tr><td>Name:</td><td>
                  <a ng-cloak ng-show="resource.provider=='database'" target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/database#rax%3Adatabase%2CcloudDatabases%2C{{formatted_data.resources[resource.hosted_on].region}}/{{formatted_data.resources[resource.hosted_on].instance.id}}">{{resource['dns-name']}}</a>
                  <a ng-cloak ng-show="resource.provider=='chef-local'" target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/#compute%2CcloudServersOpenStack%2C{{formatted_data.resources[resource.hosted_on].region}}/{{formatted_data.resources[resource.hosted_on].instance.id}}">{{resource['dns-name']}}</a>
                  <a ng-cloak ng-show="resource.provider=='chef-solo'" target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/#compute%2CcloudServersOpenStack%2C{{formatted_data.resources[resource.hosted_on].region}}/{{formatted_data.resources[resource.hosted_on].instance.id}}">{{resource['dns-name']}}</a>
                <tr><td>Role:</td><td>{{resource.service}}</td></tr>
                <tr><td>Host:</td><td>{{resource.instance.interfaces.mysql.host}}</td></tr>
                <tr><td>Database:</td><td>{{resource.instance.interfaces.mysql.database_name}}</td></tr>
                <tr><td>Username:</td><td>{{resource.instance.interfaces.mysql.username || formatted_data.username}}</td></tr>
                <tr><td>Password:</td><td>{{resource.instance.interfaces.mysql.password || formatted_data.password}}</td></tr>
              </table>

            <p><strong>Access your application</strong> using these administrative credentials:
            <pre>username: {{formatted_data.username}}<br>password: {{formatted_data.password}}</pre></p>
            <p ng-cloak ng-show="formatted_data.private_key">Alternatively, you can use this private key:<clippy content="{{formatted_data.private_key}}" bgcolor="#f5f5f5"></clippy>
            </p>
            <p ng-cloak ng-show="formatted_data.private_key"><pre>{{formatted_data.private_key}}</pre></p>
            <p>The advanced view of the workflow can still be reached <a ng-href="/{{auth.context.tenantId}}/workflows/{{data.id}}">here</a>.</p>
          </div>
        </div>

        <hr>

        <button class="btn toggle-button" ng-click="showInstructions = !showInstructions">Display Instructions</button>
        <div collapse="!showInstructions">

          <p class="lead" ng-cloak ng-show="data.blueprint.documentation.instructions">Instructions</p>
          <p class="help-block" ng-cloak ng-show="data.blueprint.documentation.instructions" ng-bind-html-unsafe="render_markdown(data.blueprint.documentation.instructions)"></p>
        </div>

        <p class="lead">Raw Source</p>

        <textarea id="source" ui-codemirror="{ theme: 'lesser-dark', mode: {name: 'javascript', json: true}, lineNumbers: true, autoFocus: true, lineWrapping: true, dragDrop: false, matchBrackets: true, onGutterClick: foldFunc }" ng-model="data_json"></textarea>

        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button> <strong>Warning!</strong> If your updates include any 'secret' values (like password or private keys) and you have not opened this screen with a ?with_secrets query parameter, then any existing secrets will be overwritten and lost
        </div>

      </div>
    </div>
  </div>
</div>
