<style>
  body {
    background:#fcfcfc url("/marketing/img/top.png") top left repeat-x;
    padding:40px 0 0;
    border-top:3px solid #ddd;
  }

  h3 {
      text-align:center;
      font-size:32px;
      line-height:40px;
      font-family: 'Open Sans', sans-serif;
      font-weight:400;
      margin:0 0 15px;
  }


  .hand {
      font-family: sans-serif;
      font-weight:400;
      color:#4fb6e9;
  }

  h2 {
      text-align:center;
      font-size:48px;
      line-height:56px;
      margin:15px 0;
      font-family: 'Open Sans', sans-serif;
      font-weight:400;
  }


  h2 strong {
      font-weight:700;
  }

  h4 {
      font-family:'Open Sans', sans-serif;
      font-weight:600;
      font-size:16px;

  }


  /** FEATURE ***/

  .feature {
      margin-top:60px;
      margin-bottom:60px;
      text-align:center;
  }

  .feature img {
      margin:30px 0 0;
      text-align:center;
  }

  .box h3 {
      font-family:'Open Sans', sans-serif;
      font-weight:600;
      font-size:24px;
      margin-bottom:15px;
      text-align:left;
  }


  .box {
      background:#fff;
      box-shadow:none;
      border:1px solid #ddd;
      -webkit-border-radius:3px;
      border-radius:3px;
      padding:60px 0;
      margin-top:15px;
      margin-bottom:60px;
  }

  .box .row + .row {
      margin-top:30px;
  }

  .box .span6 + .span4 img {
      float:right;
  }

  .quotes {
      margin-top:30px;
      margin-bottom:60px;
  }

  /*** PRICING ****/

  .pricing {
      padding-top:38px;
      margin-bottom:30px;
  }

  .pricing .well {
      background:#fff;
      box-shadow:none;
      border:1px solid #ddd;
  }

  .pricing .well.highlighted {
      box-shadow:rgba(0,0,0,0.2) 0 0 10px;
      margin-top:-19px;
      padding-top:38px;
      padding-bottom:38px;
  }

  .pricing .well ul {
      margin-left:0;
  }

  .pricing .well ul li {
      list-style:none;
      text-align:center;
      padding:8px 0;
      border-bottom:1px solid #eee;

  }

  .pricing .well h4 {
      text-align:center;
  }

  .pricing .spot {
      font-family: 'Open Sans', sans-serif;
      font-weight:700;
      font-size:14px;
      -webkit-border-radius:64px;
      border-radius:64px;
      background:#71be42;
      border:1px solid #ddd;
      border-color:#7dca4f #71be42 #63a73a;
      color:#fff;
      text-shadow:none;

      background-image: -o-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -moz-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -webkit-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -ms-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgb(188,255,146)),
          color-stop(0.05, rgb(144,231,91)),
          color-stop(1, rgb(124,202,79))
      );
      background-image: linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      text-shadow:#63a73a 0 -1px 0;
      box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
      position:relative;
      z-index:10;
      height:32px;
      padding:16px 0;
      line-height:16px;
      width:64px;
      text-align:center;
      margin-top:-35px;
      margin-left:-16px;
  }

    .pricing .spot2 {
      font-family: 'Open Sans', sans-serif;
      font-weight:700;
      font-size:14px;
      -webkit-border-radius:64px;
      border-radius:64px;
      background:#bebe0;
      border:1px solid #ddd;
      border-color:#caca4f #bebe42 #a7a73a;
      color:#fff;
      text-shadow:none;

      background-image: -o-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -moz-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -webkit-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -ms-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgb(255,255,0)),
          color-stop(0.05, rgb(231,231,0)),
          color-stop(1, rgb(202,202,0))
      );
      background-image: linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      text-shadow:#63a73a 0 -1px 0;
      box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
      position:relative;
      z-index:10;
      height:32px;
      padding:16px 0;
      line-height:16px;
      width:64px;
      text-align:center;
      margin-top:-35px;
      margin-left:-16px;
  }

  .pricing img {
    display: block;
      height: 130px;
      text-align:center;
      margin-left: auto;
      margin-right: auto;
  }

  /*** OTHER BITS ****/

  .signup {
      display:inline-block;
      font-family:'Open Sans', sans-serif;
      font-size:24px;
      font-weight:400;
      padding:15px 30px;
      -webkit-border-radius:32px;
      border-radius:32px;
      background:#4fb6e9;
      border:1px solid #ddd;
      border-color:#3ca3d7 #3799ca #338bb8;
      color:#fff;
      text-shadow:none;
      background-image: linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -o-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -moz-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -webkit-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -ms-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);

      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgb(146,219,255)),
          color-stop(0.05, rgb(79,182,233)),
          color-stop(1, rgb(57,160,211))
      );
      text-shadow:#3799ca 0 -1px 0;
      box-shadow:rgba(0,0,0,0.2) 0 1px 1px;

  }

  .signup:link, .signup:visited {
      color:#fff;
  }

  .signup:hover {
      background:#3ca3d7;
      box-shadow:none;
      color:#fff;
      text-decoration:none;
  }


  .graded {
      padding-bottom:100px;
      background:url("/marketing/img/graded2.png") bottom center repeat-x;
  }

  .drop-shadow {
     position:relative;
  }

  .drop-shadow:before,
  .drop-shadow:after {
     content:"";
     position:absolute;
     z-index:-1;
      bottom:15px;
     left:10px;
     width:50%;
     height:20%;
     -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
     -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
     box-shadow:0 15px 15px rgba(0, 0, 0, 0.7);
     -webkit-transform:rotate(-2deg);
     -moz-transform:rotate(-2deg);
     -o-transform:rotate(-2deg);
     transform:rotate(-2deg);
  }

  .drop-shadow:after{
     right:10px;
     left:auto;
     -webkit-transform:rotate(2deg);
     -moz-transform:rotate(2deg);
     -o-transform:rotate(2deg);
     transform:rotate(2deg);
  }

  .footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 15px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
  }
</style>
<a href="http://github.rackspace.com/checkmate">
  <img style="position: absolute; top: 0px; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub">
</a>
<section class="entries"><article class="entry">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <h2 class="motto">Automated <strong>solutions</strong> in the Cloud<br>quick, repeatable, and portable</h2>
      </div>
    </div>
    <div class="row-fluid pricing" style="margin-bottom: 0px;">
      <div class="carousel slide" id="appCarousel" data-interval="0">
        <div class="carousel-inner">
          <div class="item active">
            <ul class="thumbnails" style="padding-left: 65px; padding-right: 65px; ">
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot">Ready<br>Now</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <a href="/deployments/new/wordpress">
                      <img class="center hover-fade" id="fanatical" alt="Wordpress" src="/img/applications/wordpress.png"></a>
                    <h3><strong>WordPress</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot">Ready<br>Now</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <a href="/deployments/new?blueprint=https:%2F%2Fgithub.rackspace.com%2FBlueprints%2Fdrupal%23v0.5">
                      <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="Managed Cloud Drupal" src="/img/applications/druplicon.small_.png"></a>
                    <h3><strong>Drupal</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot">Ready<br />Now</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <a href="/deployments/new?blueprint=https:%2F%2Fgithub.rackspace.com%2FBlueprints%2Fmongodb-replicaset%23v0.5">
                    <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="MongoDB" src="/img/applications/mongodb.png"></a>
                    <h3><strong>MongoDB</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot">Ready<br />Now</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <a href="/deployments/new?blueprint=https:%2F%2Fgithub.rackspace.com%2FBlueprints%2Fcassandra%23v0.5">
                    <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="Cassandra" src="/img/applications/cassandra.png"></a>
                    <h3><strong>Cassandra</strong></h3>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails" style="padding-left: 65px; padding-right: 65px; ">
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot">Ready<br>Now</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <a href="/deployments/new?blueprint=https:%2F%2Fgithub.rackspace.com%2FBlueprints%2Fmysql-server%23v0.5">
                      <img class="center hover-fade" style="opacity: 0.5;" id="fanatical" alt="MySQL" src="/img/applications/mysql.png"></a>
                    <h3><strong>MySQL</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot">Ready<br>Now</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <a href="/deployments/new?blueprint=https:%2F%2Fgithub.rackspace.com%2FBlueprints%2Fawwbomb%23v0.5" style="padding-top: 30px;">
                      <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="Aww Bomb" src="/img/applications/awwbomb.png"></a>
                    <h3><strong>Awwbomb</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot">Ready<br>Now</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <a href="/deployments/new?blueprint=https:%2F%2Fgithub.rackspace.com%2FBlueprints%2Fzerobin%23v0.5" style="padding-top: 30px;">
                      <img class="center hover-fade" style="opacity: .5; margin-top: 20px; height: 80px; margin-bottom: 30px;" id="fanatical" alt="ZeroBin" src="/img/applications/ZeroBin.png"></a>
                    <h3><strong>&nbsp;</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot">Ready<br>Now</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <a href="/deployments/new?blueprint=https:%2F%2Fgithub.rackspace.com%2FBlueprints%2Fetherpad-lite%23v0.5" style="padding-top: 30px;">
                      <img class="center hover-fade" style="opacity: .5; margin-top: 20px; height: 80px; margin-bottom: 30px;" id="fanatical" alt="Etherpad Lite" src="/img/applications/etherpad_lite.png"></a>
                    <h3><strong>&nbsp;</strong></h3>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails" style="padding-left: 65px; padding-right: 65px; ">
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Being<br />built</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <a href="/deployments/new?blueprint=https:%2F%2Fgithub.rackspace.com%2FBlueprints%2Fphp_app-blueprint%23v0.5" style="padding-top: 30px;">
                      <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="PHP" src="/img/applications/php.png"></a>
                    <h3><strong>&nbsp;</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Coming<br />soon</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="DevStack" src="/img/applications/openstack.png">
                    <h3><strong>DevStack</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Coming<br />soon</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <img class="center hover-fade" style="opacity: 0.5; margin-top: 20px; height: 80px; margin-bottom: 30px;" id="fanatical" alt="node.js" src="/img/applications/nodejs.png">
                    <h3><strong>&nbsp;</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Coming<br />soon</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                      <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="Rails" src="/img/applications/rails.png">
                    <h3><strong>&nbsp;</strong></h3>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails" style="padding-left: 65px; padding-right: 65px; ">
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Coming<br />soon</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                      <img class="center hover-fade" style="opacity: .5; margin-top: 20px; height: 80px; margin-bottom: 30px;" id="fanatical" alt="Django" src="/img/applications/django_small.png">
                    <h3><strong>&nbsp;</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Coming<br />soon</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                      <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="Tomcat" src="/img/applications/tomcat_small.gif">
                    <h3><strong>tomcat</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Coming<br />soon</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                      <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="Managed Cloud Magento" src="/img/applications/magento1-6.png">
                    <h3><strong>Magento</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Coming<br />soon</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                      <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="Managed Cloud SugarCRM" src="/img/applications/sugarcrm-box-only.jpg">
                    <h3><strong>SugarCRM</strong></h3>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails" style="padding-left: 65px; padding-right: 65px; ">
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Coming<br />soon</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                      <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="Joomla" src="/img/applications/joomla_small.png">
                    <h3><strong>Joomla</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Coming<br />soon</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="Python" src="/img/applications/python.png">
                    <h3><strong>python</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Coming<br />soon</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="Apache" src="/img/applications/apache.png">
                    <h3><strong>&nbsp;</strong></h3>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div style="padding-top: 35px;">
                  <div class="spot2">Coming<br />soon</div>
                  <div class="well highlighted" style="margin-top: -45px;">
                    <img class="center hover-fade" style="opacity: .5;" id="fanatical" alt="Hadoop" src="/img/applications/hadoop.jpeg">
                    <h3><strong>Hadoop</strong></h3>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#" data-target="#appCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#" data-target="#appCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
    <div class="row pricing" ng-controller="ActivityFeedController" style="padding-top: 0px;">
      <div class="span8 offset2" ng-cloak ng-show="!items &amp;&amp; !loading">
        <div class="alert">Access to internal Rackspace GitHub server does not seem to be available from this Checkmate server. The list of blueprints available may be limited and some blueprint pages may not function.</div>
        <ul>
          <li>Check out the latest activity on <a href="https://github.rackspace.com/checkmate" target="_blank">github</a></li>
          <li><a target="_blank" href="https://github.rackspace.com/checkmate/checkmate/wiki/Getting-Started">Create your own</a> application blueprints.</li>
          <li><a href="https://github.rackspace.com/checkmate" target="_blank">Checkmate server &amp; UI code</a></li>
          <li><a href="https://github.rackspace.com/Blueprints" target="_blank">Blueprints</a></li>
          <li><a href="https://github.rackspace.com/Cookbooks" target="_blank">Chef Cookbooks</a></li>
        </ul>
      </div>
      <div ng-cloak ng-show="items &amp;&amp; !loading" class="span10 offset1">
        <h4>Join these Rackers and <a target="_blank" href="https://github.rackspace.com/checkmate/checkmate/wiki/Getting-Started">create your own</a> application Blueprints!</h4>
        <div style="overflow: scroll; height: 200px;">
          <table class="table table-condensed">
            <tr ng-repeat="item in items">
              <td style="width: 20px;"><img class="img-rounded pull-left" style="width:20px; height:20px;" ng-src="{{item.actor_avatar_url}}"></td>
              <td><a ng-href="{{item.actor_url}}" target="_blank"> {{item.actor}}</a>
              <span>{{item.verb}} {{item.subject_type}}<a ng-href="{{item.action_url}}" target="_blank">{{item.action | snippet:20}}</a></span> {{item.article}} <a ng-href="{{item.target_url}}" target="_blank">{{item.target}}</a> {{item.when | formattedDate}}</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  </article>
  <footer class="footer">
    <div class="row-fluid">
      <div class="span12">
        <h3 class="hand">This is an <strong>early release</strong> with limited support<sup><a href="#" data-toggle="modal" data-target="#modalSLA">*</a></sup> and no SLA.</h3>
      </div>
    </div>
  </footer>
</section>
