<style>
  body {
    background:#fcfcfc url("/marketing/img/top.png") top left repeat-x;
    padding:40px 0 0;
    border-top:3px solid #ddd;
  }
  
  h3 {
      text-align:center;
      font-size:32px;
      line-height:40px;
      font-family: 'Open Sans', sans-serif;
      font-weight:400;
      margin:0 0 15px;
  }
  
  
  .hand {
      font-family: sans-serif;
      font-weight:400;
      color:#4fb6e9;
  }
  
  h2 {
      text-align:center;
      font-size:48px;
      line-height:56px;
      margin:15px 0;
      font-family: 'Open Sans', sans-serif;
      font-weight:400;
  }
  
  
  h2 strong {
      font-weight:700;
  }
  
  h4 {
      font-family:'Open Sans', sans-serif;
      font-weight:600;
      font-size:16px;
      
  }
  
  
  /** FEATURE ***/
  
  .feature {
      margin-top:60px;
      margin-bottom:60px;
      text-align:center;
  }
  
  .feature img {
      margin:30px 0 0;
      text-align:center;
  }
  
  .box h3 {
      font-family:'Open Sans', sans-serif;
      font-weight:600;
      font-size:24px;
      margin-bottom:15px;
      text-align:left;
  }
  
  
  .box {
      background:#fff;
      box-shadow:none;
      border:1px solid #ddd;
      -webkit-border-radius:3px;
      border-radius:3px;
      padding:60px 0;
      margin-top:15px;
      margin-bottom:60px;
  }
  
  .box .row + .row {
      margin-top:30px;
  }
  
  .box .span6 + .span4 img {
      float:right;
  }
  
  .quotes {
      margin-top:30px;
      margin-bottom:60px;
  }
  
  /*** PRICING ****/
  
  .pricing {
      padding-top:38px;
      margin-bottom:30px;
  }
  
  .pricing .well {
      background:#fff;
      box-shadow:none;
      border:1px solid #ddd;
  }
  
  .pricing .well.highlighted {
      box-shadow:rgba(0,0,0,0.2) 0 0 10px;
      margin-top:-19px;
      padding-top:38px;
      padding-bottom:38px;
  }
  
  .pricing .well ul {
      margin-left:0;
  }
  
  .pricing .well ul li {
      list-style:none;
      text-align:center;
      padding:8px 0;
      border-bottom:1px solid #eee;
      
  }
  
  .pricing .well h4 {
      text-align:center;
  }
  
  .pricing .spot {
      font-family: 'Open Sans', sans-serif;
      font-weight:700;
      font-size:14px;
      -webkit-border-radius:64px;
      border-radius:64px;
      background:#71be42;
      border:1px solid #ddd;
      border-color:#7dca4f #71be42 #63a73a;
      color:#fff;
      text-shadow:none;
      
      background-image: -o-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -moz-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -webkit-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -ms-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgb(188,255,146)),
          color-stop(0.05, rgb(144,231,91)),
          color-stop(1, rgb(124,202,79))
      );
      background-image: linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
      text-shadow:#63a73a 0 -1px 0;
      box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
      position:relative;
      height:32px;
      padding:16px 0;
      line-height:16px;
      width:64px;
      text-align:center;
      margin-top:-35px;
      margin-left:-16px;
  }

    .pricing .spot2 {
      font-family: 'Open Sans', sans-serif;
      font-weight:700;
      font-size:14px;
      -webkit-border-radius:64px;
      border-radius:64px;
      background:#bebe0;
      border:1px solid #ddd;
      border-color:#caca4f #bebe42 #a7a73a;
      color:#fff;
      text-shadow:none;
      
      background-image: -o-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -moz-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -webkit-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -ms-linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgb(255,255,0)),
          color-stop(0.05, rgb(231,231,0)),
          color-stop(1, rgb(202,202,0))
      );
      background-image: linear-gradient(top, rgb(255,255,0) 0%, rgb(231,231,0) 5%, rgb(202,202,0) 100%);
      text-shadow:#63a73a 0 -1px 0;
      box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
      position:relative;
      height:32px;
      padding:16px 0;
      line-height:16px;
      width:64px;
      text-align:center;
      margin-top:-35px;
      margin-left:-16px;
  }

  .pricing img {
    display: block;
      height: 130px;
      text-align:center;
      margin-left: auto;
      margin-right: auto;
  }
  
  /*** OTHER BITS ****/
  
  .signup {
      display:inline-block;
      font-family:'Open Sans', sans-serif;
      font-size:24px;
      font-weight:400;
      padding:15px 30px;
      -webkit-border-radius:32px;
      border-radius:32px;
      background:#4fb6e9;
      border:1px solid #ddd;
      border-color:#3ca3d7 #3799ca #338bb8;
      color:#fff;
      text-shadow:none;
      background-image: linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -o-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -moz-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -webkit-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      background-image: -ms-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
      
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgb(146,219,255)),
          color-stop(0.05, rgb(79,182,233)),
          color-stop(1, rgb(57,160,211))
      );
      text-shadow:#3799ca 0 -1px 0;
      box-shadow:rgba(0,0,0,0.2) 0 1px 1px;
  
  }
  
  .signup:link, .signup:visited {
      color:#fff;
  }
  
  .signup:hover {
      background:#3ca3d7;
      box-shadow:none;
      color:#fff;
      text-decoration:none;
  }
  
  
  .graded {
      padding-bottom:100px;
      background:url("/marketing/img/graded2.png") bottom center repeat-x;
  }
  
  .drop-shadow {
     position:relative;
  }
  
  .drop-shadow:before,
  .drop-shadow:after {
     content:"";
     position:absolute;
     z-index:-1;
      bottom:15px;
     left:10px;
     width:50%;
     height:20%;
     -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
     -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
     box-shadow:0 15px 15px rgba(0, 0, 0, 0.7);
     -webkit-transform:rotate(-2deg);
     -moz-transform:rotate(-2deg);
     -o-transform:rotate(-2deg);
     transform:rotate(-2deg);
  }
  
  .drop-shadow:after{
     right:10px;
     left:auto;
     -webkit-transform:rotate(2deg);
     -moz-transform:rotate(2deg);
     -o-transform:rotate(2deg);
     transform:rotate(2deg);
  }

</style>
<a href="http://github.rackspace.com/checkmate">
  <img style="position: absolute; top: 0px; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub">
</a>
<section class="entries"><article class="entry">
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h2 class="motto">Automated <strong>solutions</strong> in the Cloud<br>quick, repeatable, and portable</h2>
      <h3 class="hand">This is an <strong>early release</strong> with limited support<sup><a href="#" data-toggle="modal" data-target="#modalSLA">*</a></sup> and no SLA.</h3>
    </div>
  </div>
  <div class="row pricing">
    <div class="span3">
      <div class="spot">Start<br />here</div>
      <div class="well highlighted">
        <a href="/deployments/default">
          <img class="center" id="fanatical" alt="Managed Cloud Wordpress" src="/img/applications/wordpress.png"></a>
        <h3>Managed Cloud <strong>WordPress</strong></h3>
      </div>
    </div>
    <div class="span3">
      <div class="spot2">Coming<br />soon</div>
      <div class="well highlighted">
          <img class="center" style="opacity: .5;" id="fanatical" alt="Managed Cloud Drupal" src="/img/applications/druplicon.small_.png">
        <h3>Managed Cloud <strong>Drupal</strong></h3>
      </div>
    </div>
    <div class="span3">
      <div class="spot2">Q4<br />2012</div>
      <div class="well highlighted">
          <img class="center" style="opacity: .5;" id="fanatical" alt="Managed Cloud Magento" src="/img/applications/magento1-6.png">
        <h3>Managed Cloud <strong>Magento</strong></h3>
      </div>
    </div>
    <div class="span3">
      <div class="spot2">Q4<br />2012</div>
      <div class="well highlighted">
          <img class="center" style="opacity: .5;" id="fanatical" alt="Managed Cloud SugarCRM" src="/img/applications/sugarcrm-box-only.jpg">
        <h3>Managed Cloud <strong>SugarCRM</strong></h3>
      </div>
    </div>
  </div>
  <div class="row pricing">
    <div class="span4 offset2">
      <div class="well">
        <a href="/marketing/customer.html" onclick="window.location='/marketing/customer.html';">
          <img class="center" alt="Learning" id="learning" src="/marketing/img/worker-at-cubicle.png">
        </a>
        <h3>Learn more</h3>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <a href="#" data-toggle="modal" data-target="#modalSLA">
          <img class="center" alt="Support" id="hacking" src="/marketing/img/fanatiguy.png" data-original-title="">
        </a>
        <h3>Support</h3>
      </div>
    </div>
  </div>
</div>
</article></section>

<div id="modalSLA" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Support for Checkmate</h3>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>About 24 hours</dt>
      <dd>We don't have a 24x7 team. The code is an advanced prototype,
    but a prototype nonetheless, so there could be show-stopping bugs in here and we can't guarantee a time by which we
    could get them fixed.</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Passion</dt>
      <dd>That said, we love this product and believe in it. We'll do our best to make it rock and to make your
    experience using it awesome.</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Helping each other out</dt>
      <dd>You can help (or help us help you) by giving us feedback or letting us know about issues
    <a href="#nav-feedback" class="dropdown-toggle" data-toggle="dropdown">here</a>,
    by <a target="_blank" href="mailto:checkmate@lists.rackspace.com">email</a>,
    <a href="irc://irc.intra.rackspace.com/#checkmate" target="_blank">IRC</a>,
    or <a href="http://github.rackspace.com/checkmate">contributing</a> on github.</dd>
    </dl>
  </div>
  <div class="modal-footer">
  </div>
  </div>
</div>


<script src="/libs/jquery.timeago.js" type="text/javascript"></script>

<script src="/marketing/js/jquery_ujs.js" type="text/javascript"></script>
<script src="/marketing/js/builds.js" type="text/javascript"></script>
<script src="/marketing/js/configurations.js" type="text/javascript"></script>
<script src="/marketing/js/customers.js" type="text/javascript"></script>
<script src="/marketing/js/sessions.js" type="text/javascript"></script>
<script src="/marketing/js/environments.js" type="text/javascript"></script>
<script src="/marketing/js/home.js" type="text/javascript"></script>
<script src="/marketing/js/newsletter.js" type="text/javascript"></script>
<script src="/marketing/js/templates.js" type="text/javascript"></script>
<script src="/marketing/js/application.js" type="text/javascript"></script>
