<section id="leftControls" class="lcontrols no-select" ng-cloak ng-show="showControls">
  <div class="tControls">
    <div class="top"></div>
    <div class="middle"></div>
    <div class="bottom">
      <button ng-click="load()" class="btn" title="Refresh feeds" alt="Refresh feeds">
        <i class="icon-refresh"></i>
      </button>
    </div>
  </div>
</section>

<section class="summaries" ng-cloak ng-show="showSummaries">
  <section class="top well" ng-cloak ng-show="showStatus">
    <h4>{{name}}</h4>
    <div>
      <a class="label label-info cmtip" title="Total items" ng-click="showAll()">{{count}}</a> items:
      <a class="label label-success cmtip" title="Completed" ng-click="showUnread()">{{count}}</a>
      <a class="label label-warning cmtip" title="Waiting" ng-click="showStarred()">{{count}}</a>
      <a class="label label-important cmtip" title="Errors" ng-click="showRead()">{{count}}</a>
    </div>
  </section>
  <article ng-repeat="item in items | filter: search | orderBy: '-created'" id="{{item.id}}" ng-class="{read: item.read, active: item.selected}" class="well summary" ng-click="selectItem($index)">
    <div class="row-fluid" >
      <div class="span6 pub-name">
        {{item.name}}
      </div>
      <div class="span6 pub-date">
        {{item.created | formattedDate}}
      </div>
    </div>
    <h3 class="pub-title">{{item.name}}</h3>
  </article>
</section>

<section class="entries">
  <article class="well entry" ng-class="{active: selected.selected}" ng-hide="!selected">
    <div id="entry" class="row-fluid">
      <div class="span8">{{selected.created | formattedDate}}</div>
        <div class="span4 actions">
          <!--<input type="checkbox" class="read" ng-model="items.selected.read">
          <input type="checkbox" class="star" ng-model="items.selected.starred">
          <a href="{{items.selected.item_link}}"><i class="icon-share"></i></a>-->
        </div>
      </div>
      <h2>{{selected.name}}</h2>
      <span class="author">{{selected.tenantId}}</span> - <span class="pub-name">{{selected.id}}</span>
      <hr />
      <div id="content"/>
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">YAML</li>
          <li>
            <pre class="prettyprint lang-yaml" style="height: 120px;">{{selectedObject() | yaml | snippet}}</pre>
          </li>
        </ul>
      </div>
    </div>
    <!--<pre class="prettyprint linenums post-content" ng-bind-html-unsafe="selectedObject() | json"></p>-->
  </article>
  <div class="nothingSelected" ng-show="!items.length || !selected">
    <img src="/static/ui/img/sadpanda.png" alt="Sad Panda" title="Sad Panda">
    <p>Blank template.</p>
  </div>
</section>

<script id="task" type="text/ng-template">
  <div id="{{id}}" class="alert task span2 {{state}}">
    {{name}}
    <a href="#/workflows/{{workflow.spec..id}}/tasks/{{id}}">details</a>
  </div>
</script>
