<div class='entries'>
  <div class='row-fluid'>
    <div class='span6' ng-init="load_resources()">

      <div class='well'>
        <h4>Nova Servers</h4>
        <div class='alert alert-info'>Displaying only servers that are not already part of a deployment</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th>Region</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="serv in resources_by_provider['nova'] | orderBy:'instance.id'">
              <td>{{serv['dns-name']}}</td>
              <td>{{serv['instance']['id']}}</td>
              <td>{{serv['region']}}</td>
              <td>{{serv['status']}}</td>
              <td><i ng-click="add_to_deployment(serv)" class="icon-plus-sign-alt clickable"></i></td>
            </tr>
            <tr class='messages'>
              <td colspan="5">
                <div ng-show="!servers_loaded">
                  <img class="loading" src="/img/ajax-loader.gif" />
                  Loading...
                </div>

                <div ng-show="no_servers">
                  No servers found
                </div>

                <div ng-show="servers_error">
                  {{servers_error}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class='well'>
        <h4>Load Balancers</h4>
        <div class='alert alert-info'>Due to limitations in the Load Balancer API, <b>all</b> load balancers are displayed below, <b>including ones that are already part of another deployment</b>. Take caution in selecting your resources</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th>Region</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="lb in resources_by_provider['load-balancer'] | orderBy:'instance.id'">
              <td>{{lb['dns-name']}}</td>
              <td>{{lb['instance']['id']}}</td>
              <td>{{lb['region']}}</td>
              <td>{{lb['status']}}</td>
              <td><i ng-click="add_to_deployment(lb)" class="icon-plus-sign-alt clickable"></i></td>
            </tr>

            <tr class='messages'>
              <td colspan="5">
                <div ng-show="!lbs_loaded">
                  <img class="loading" src="/img/ajax-loader.gif" />
                  Loading...
                </div>

                <div ng-show="no_lbs">
                  No load balancers found
                </div>

                <div ng-show="lbs_error">
                  {{lbs_error}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class='well'>
        <h4>Databases</h4>
        <div class='alert alert-info'>Due to limitations in the Database API, <b>all</b> databases are displayed below, <b>including ones that are already part of another deployment</b>. Take caution in selecting your resources</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th>Region</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="db in resources_by_provider['database'] | orderBy:'instance.id'">
              <td>{{db['dns-name']}}</td>
              <td>{{db['instance']['id']}}</td>
              <td>{{db['region']}}</td>
              <td>{{db['status']}}</td>
              <td><i ng-click="add_to_deployment(db)" class="icon-plus-sign-alt clickable"></i></td>
            </tr>

            <tr class='messages'>
              <td colspan="5">
                <div ng-show="!dbs_loaded">
                  <img class="loading" src="/img/ajax-loader.gif" />
                  Loading...
                </div>

                <div ng-show="no_dbs">
                  No databases found
                </div>

                <div ng-show="dbs_error">
                  {{dbs_error}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class='span6 well'>
      <form ng-submit='submit()'>
        <h4>Create a Deployment</h4>
        Name this deployment: <input type="text" ng-model="deployment.name">
        </input>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th>Region</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="resource in selected_resources">
              <td><i ng-click="remove_from_deployment(resource)" class="icon-minus-sign-alt clickable"></i></td>
              <td>{{resource['dns-name']}}</td>
              <td>{{resource['instance']['id']}}</td>
              <td>{{resource['region']}}</td>
              <td>{{resource['status']}}</td>
            </tr>
          </tbody>
        </table>
        <input type='submit' class='btn' value='Submit' />
      </form>
    </div>
  </div>
</div>

