 <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .textwrap {
		    float: left;
		    margin: 10px;
      }
      .price {
        text-align: center;
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
      }
      .performance {
        text-align: center;
        font-size: 15px;
        font-style: italic;
      }
</style>
<div class="container">
    <img src="http://s.wordpress.org/about/images/logos/wordpress-logo-notext-rgb.png" height=150 width=150 class="textwrap">
    <h1>Which Architecture Is Right For Your Customer?</h1>
    <p>WordPress deployments come in many shapes and sizes. Pick from the configs below based on your customer's  <strong>budget, performance and reliability needs.</strong></p>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Small</th>
          <th>Medium</th>
          <th>Medium, Cloud Databases</th>
          <th>Large</th>
          <th>Extra Large<th>
        </tr>
    
     </thead>
      <tbody>
        <tr>
          <td>Cheap. Great for development. Host server or OS issue will take down the website.</td>
          <td>Database is offloaded to increase performance. Host server or OS issue will take down the website.</td>
          <td>Database is offloaded to increase performance. Host server or OS issue will take down the website.</td>
    <td>No single host server or OS issue will take down the website.</td>
    <td>Maximum performance and reliability.</td>
        </tr>
        <tr>
          <th><img style="margin:0px auto;display:block" src="/static/img/artwork/small.png" height=130 width=130</th>
          <th><img style="margin:0px auto;display:block" src="/static/img/artwork/medium.png" height=130 width=130</th>
          <th><img style="margin:0px auto;display:block" src="/static/img/artwork/medium_clouddb.png" height=130 width=130</th>
          <th><img style="margin:0px auto;display:block" src="/static/img/artwork/medium_clouddb.png" height=130 width=130</th>
          <th><img style="margin:0px auto;display:block" src="/static/img/artwork/medium_clouddb.png" height=130 width=130</th>
        </tr>
        <tr>
          <td><div class="performance">X users/minute</div></td>
          <td><div class="performance">X users/minute</div></td>
          <td><div class="performance">X users/minute</div></td>
          <td><div class="performance">X users/minute</div></td>
          <td><div class="performance">X users/minute</div></td>
        </tr>
        <tr>
          <td><div class="price">$150/month</div></td>
          <td><div class="price">$250/month</div></td>
          <td><div class="price">$185/month</div></td>
          <td><div class="price">$400+/month</div></td>
          <td><div class="price">$600+/month</div></td>
        </tr>
        <tr>
          <td><button style="margin:0px auto;display:block" type="button" class="btn btn-primary" ng-click="navigate('/deployments/default')">Build It</button></td>
          <td><button style="margin:0px auto;display:block" type="button" class="btn btn-primary" ng-click="navigate('/deployments/default')">Build It</button></td>
          <td><button style="margin:0px auto;display:block" type="button" class="btn btn-primary" ng-click="navigate('/deployments/default')">Build It</button></td>
          <td><button style="margin:0px auto;display:block" type="button" class="btn btn-primary" ng-click="navigate('/deployments/default')">Build It</button></td>
          <td><button style="margin:0px auto;display:block" type="button" class="btn btn-primary" ng-click="navigate('/deployments/default')">Build It</button></td>
        </tr>
      </tbody>
    </table>
</div>