<ng-include src="'/partials/workflows/_sidebar.html'"></ng-include>

<div class="entries">
  <div class="nothingSelected" ng-show="!data">
    <p>Nothing selected.</p>
  </div>

  <div class="well entry" ng-show="data">
    <svg id="workflow_tree" viewBox="0 0 1080 300"></svg>
    <cm-workflow specs="data.wf_spec.task_specs" deployment="deployment"></cm-workflow>

    <h2>{{current_spec.name}}</h2>
    <h5>{{current_spec.description}} &nbsp;</h5>

    <ng-include src="'/partials/workflows/_spec.html'"></ng-include>

    <ng-include src="'/partials/workflows/_task.html'"></ng-include>
  </div>
</div>
