<div class="entries container-fluid" ng-init="load()">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="span3">ID</th>
        <th class="span7">Name</th>
        <th class="span2">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="workflow in items | orderBy:'id'" >
        <td><a ng-href="/{{auth.context.tenantId}}/workflows/{{workflow.id}}"><i class="icon-tasks"></i> {{workflow.id}}</a></td>
        <td>{{workflow.name}}</td>
        <td><div class="progress" style="margin-bottom: 0px;">
              <div class="bar" ng-style="{width: (workflow.progress || '0') + '%'}"
                 ng-class="{'bar-success': workflow.status == 'COMPLETE'}">
                 <span>{{workflow.status}}</span></div>
            </div></td>
      </tr>
    </tbody>
  </table>
  <div data-ng-include data-src="'/partials/shared/pagination.html'"></div>
</div>
