<div class="container entries">
  <div class="row-fluid">
    <section class="span10 offset1">
        <h4>{{data.wf_spec.name}}</h4>
        <div class="row-fluid" ng-cloak ng-show="timeRemaining == 0">
          <div class="alert alert-success">
              <clippy style="top:0" content="{{all_data}}" bgcolor="#DFF0D8"></clippy>
              <h2 style="margin-top: 0;">Congratulations! Your deployment is complete.</h2>
              <div ng-hide="!output.path"><p><strong>Access your application</strong> from <a ng-href="{{output.path}}" target="_blank">{{output.path}}</a>.</p>
              <p>Alternatively, enter the IP address in your hosts file if the domain name is not yet accessible:</p>
              <p><pre>echo "{{output.vip}}  {{output.domain}}" >> /etc/hosts</pre></p>
              <p>You might need to run this with elevated priviledges:
                <pre>sudo bash -c 'echo "{{output.vip}}  {{output.domain}}" >> /etc/hosts'</pre>
              </p></div>

              <br>
              <p><strong>Servers</strong> created were:
              <table class="table table-bordered table-condensed">
                <thead><tr><th>Name</th><th>Role</th><th>IP</th><th>Root Password</th></tr></thead>
                <tbody><tr ng-repeat="resource in output.resources | filter:{component:'linux_instance'}">
                    <td><a target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/#compute%2CcloudServersOpenStack%2C{{resource.region}}/{{resource.instance.id}}">{{resource['dns-name']}}</a></td>
                    <td>{{resource.service}}</td>
                    <td>{{resource.instance.public_ip}}</td>
                    <td>{{resource.instance.password}}</td>
                </tr></tbody></table>

              <p><strong>Databases</strong> created:<br>
              <table class="table table-condensed" ng-repeat="resource in output.resources | filter:{type:'database'}">
                <tr><td>Name:</td><td>
                  <a ng-cloak ng-show="resource.provider=='database'" target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/database#rax%3Adatabase%2CcloudDatabases%2C{{output.resources[resource.hosted_on].region}}/{{output.resources[resource.hosted_on].instance.id}}">{{resource['dns-name']}}</a>
                  <a ng-cloak ng-show="resource.provider=='chef-local'" target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/#compute%2CcloudServersOpenStack%2C{{output.resources[resource.hosted_on].region}}/{{output.resources[resource.hosted_on].instance.id}}">{{resource['dns-name']}}</a>
                  <a ng-cloak ng-show="resource.provider=='chef-solo'" target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/#compute%2CcloudServersOpenStack%2C{{output.resources[resource.hosted_on].region}}/{{output.resources[resource.hosted_on].instance.id}}">{{resource['dns-name']}}</a>
                  </td></tr>
                <!--<tr><td>Admin Link:</td><td><a target="_blank" href="https://{{output.master_server.instance.public_ip}}/database-admin">https://{{output.master_server.instance.public_ip}}/database-admin</a></td></tr>-->
                <tr><td>Role:</td><td>{{resource.service}}</td></tr>
                <tr><td>Host:</td><td>{{resource.instance.interfaces.mysql.host}}</td></tr>
                <tr><td>Database:</td><td>{{resource.instance.interfaces.mysql.database_name}}</td></tr>
                <tr><td>Username:</td><td>{{resource.instance.interfaces.mysql.username || output.username}}</td></tr>
                <tr><td>Password:</td><td>{{resource.instance.interfaces.mysql.password || output.password}}</td></tr>
              </table>

              <p><strong>Access your application</strong> using these administrative credentials:
              <pre>username: {{output.username}}<br>password: {{output.password}}</pre></p>
              <p ng-cloak ng-show="output.private_key">Alternatively, you can use this private key:<clippy content="{{output.private_key}}" bgcolor="#DFF0D8"></clippy>
              </p>
              <p ng-cloak ng-show="output.private_key"><pre>{{output.private_key}}</pre></p>
              <p>The advanced view of the workflow can still be reached <a href=".">here</a>.</p>
          </div>
        </div>
        <div class="row-fluid" ng-cloak ng-show="timeRemaining">
            <p>Your deployment is in progress.</p>
            Progress: <div class="progress">
              <div class="bar" style="width: {{percentComplete()}}%;"></div>
            </div>

            <div>
              <p><span class="label label-info cmtip" title="Total items">{{count}}</span> tasks total:</p>
              <p>&nbsp;&nbsp;<span class="label label-success cmtip" title="Completed">{{taskStates['completed'] + taskStates['ready']}}</span> completed</p>
              <p>&nbsp;&nbsp;<span class="label label-warning cmtip" title="In Progress">{{taskStates['waiting']}}</span> in progress</p>
              <p>&nbsp;&nbsp;<span class="label label-important cmtip" title="Errors">{{taskStates['error']}}</span> errored out</p>
              <p>&nbsp;&nbsp;<span class="label cmtip" title="Waiting on other tasks">{{taskStates['future'] + taskStates['likely'] +
              taskStates['maybe']}}</span> tasks waiting on other tasks to finish.</p>
            </div>
            &nbsp;
            <div>Expected to finish {{timeRemaining | secondsETA}}</div>
            <a style="margin-bottom: 15px;" class="btn" ng-cloak ng-show="data.id == 'simulate'" href="./status?complete">Complete the Simulation Now</a>
            <div class="alert">You can access an <a href=".">advanced</a> view of
            the workflow to manage any errors or hack at the workflow.</div>
        </div>
      </section>
  </div>
</div>