<!DOCTYPE html>
<html lang="en" ng-app="checkmate" ng-csp="">
<head>
  <meta charset="utf-8">
  <title>Checkmate</title>
  <meta name="description" content="Cloud deployment and configuration orchestration">
  <meta name="author" content="Ziad Sawalha">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
	   More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  <link href="/libs/bootstrap-2.2.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/libs/google-code-prettify-rev187/prettify.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build.
	   Modernizr enables HTML5 elements & feature detects for optimal performance.
	   Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="/libs/modernizr-2.5.3.min.js"></script>

  <!-- *** Code Mirror - code viewer/editor ***
  Note: experienced some problems running this at bottom -->
  <link href="/libs/code-mirror-2.32/lib/codemirror.css" rel="stylesheet"/>
  <link href="/libs/code-mirror-2.32/theme/lesser-dark.css" rel="stylesheet"/>

  <script src="/libs/code-mirror-2.32/lib/codemirror.js" type="text/javascript"></script>
  <script src="/libs/code-mirror-2.32/mode/javascript/javascript.js" type="text/javascript"></script>
  <script src="/libs/code-mirror-2.32/lib/util/foldcode.js" type="text/javascript"></script>

  <link href="/libs/angular-ui-0.3.1/css/angular-ui.min.css" rel="stylesheet"/>
  <link href="/libs/bootstrap-notify/css/bootstrap-notify.css" rel="stylesheet">
  <link href="/libs/bootstrap-notify/css/styles/alert-bangtidy.css" rel="stylesheet">
    
  <style type="text/css">
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
    }
  </style>

</head>
<body ng-controller="AppController" class="ng-cloak" w-down="tasks.next()" w-up="tasks.prev()"
	  w-read="toggleRead()" w-star="toggleStar()" w-space="handleSpace()">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
	   chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <header ng-cloak ng-show="showHeader">
    <div class="navbar navbar-fixed-top no-select navbar-inverse" ng-controller="NavBarController">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/"><img id="loading" src="/img/blank.gif" style="width: 16px; height: 16px;"/> Checkmate</a>
          <!--TODO: collapsing not yet clean -->
          <div id="user_control" class="nav pull-right">
            <ul class="nav">
              <li class="divider-vertical"></li>
              <li class="dropdown pull-right" style="display: none;" ng-show="auth.loggedIn">
                <a href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown">
                      <i class="icon-user icon-white"></i> {{auth.username}}
                      <span ng-show="auth.tenantId"> ({{auth.tenantId}})</span>
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a ng-click="logOut()">Log Out</a></li>
                </ul>
              </li>
              <li class="pull-right" style="display: none" ng-show="!auth.loggedIn">
                <a href="#" ng-click="loginPrompt()">
                  <i class="icon-user icon-white"></i> Log In</a>
              </li>
            </ul>
          </div>
          <div class="nav-collapse collapse">
            <ul id="nav-elements" class="nav" style="display: none" ng-show="auth.loggedIn">
              <li id="nav-deployments"><a href="/{{auth.tenantId}}/deployments">Deployments</a></li>
              <li id="nav-workflows"><a href="/{{auth.tenantId}}/workflows">Workflows</a></li>
	      <li id="nav-blueprints"><a href="/{{auth.tenantId}}/blueprints">Blueprints</a></li>
              <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li id="nav-environments"><a href="/{{auth.tenantId}}/environments">Environments</a></li>
                  <li id="nav-blueprints"><a href="/{{auth.tenantId}}/blueprints">Blueprints</a></li>
                  <li id="nav-providers"><a href="/{{auth.tenantId}}/providers">Providers</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Status</li>
                  <li id="nav-status-celery"><a href="/status/celery">Celery</a></li>
                  <li id="nav-status-libraries"><a href="/status/libraries">Libraries</a></li>
                </ul>
              </li>-->
              <li class="divider-vertical" style="display: none" ng-show="showSearch"></li>
              <form class="navbar-search" id="navSearch" style="display: none" ng-show="showSearch">
                <input type="search" ng-model="$parent.search" class="search-query span2" style="height: 15px;" placeholder="Search">
              </form>
            </ul>
            <ul id="nav-support" class="nav">
              <li class="dropdown">
                <a id="support-menu" href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li id="nav-support"><a href="#" data-toggle="modal" data-target="#modalSLA">General Info</a></li>
		  <li id="nav-wiki"><a href="https://one.rackspace.com/display/Checkmate/" target="_blank">Checkmate Wiki</a></li>
		  <li class="dropdown-submenu">
		    <a tabindex="-1" href="#">Reports</a>
		    <ul class="dropdown-menu">
		      <li><a href="http://mongo-n01.ord1.chkmate.rackspace.net/deployments.php" target="_blank">Deployments</a></li>
		    </ul>
		  </li>
		  <li class="divider"></li>
		  <li id="nav-feedback" class="dropdown-submenu">
		    <a id="feedback-menu" class="dropdown-toggle" href="#" data-toggle="dropdown" data-target="#feedback-dropdown">Submit Feedback</a>
		    <div id="feedback-dropdown" class="dropdown-menu" style="padding: 15px; padding-bottom: 0px; color: black;">
		      <form id="feedback-form" class="form-horizontal">
			<h4>Issues or Suggestions?</h4>
			<p>Let us know so we can do something about it.</p>
			<textarea id="feedback" name="feedback" class="span4" rows="6" placeholder="I would like to be able to log in using OpenID" ng-model="feedback"></textarea>
			<div id="feedback_error" class="alert alert-error hide">
			  <strong>Feedback not captured!</strong> <span id="feedback_error_text"></span>.
			  <br>You can send your feedback by email to <a style="display: inline; " href="mailto:checkmate@lists.rackspace.com">checkmate@lists.rackspace.com</a>
			</div>
			<div>&nbsp;</div>
			<p>If you would like us to send you updates on your issue, let us know which email address to use:</p>
			<div class="input-prepend">
			  <span class="add-on">
			    <i class="icon-envelope"></i>
			  </span><input type="text" id="email" name="email" class="span3" ng-model="email">
			</div>
			<div>&nbsp;</div>
			<div class="modal-footer">
			  <button id="feedback-submit" class="btn btn-primary" style="margin-top: 0;" ng-click="send_feedback()">Send Feedback</button>
			</div>
		      </form>
		    </div>
		  </li>
		  <li class="dropdown-submenu">
		    <a tabindex="-1" href="#">Contact the team</a>
		    <ul class="dropdown-menu">
		      <li><a href="mailto:checkmate@lists.rackspace.com" target="_blank">Email</a></li>
		      <li><a href="irc://irc.intra.rackspace.com/#checkmate" target="_blank">IRC</a></li>
		      <li><a href="http://github.rackspace.com/checkmate" target="_blank">Github</a></li>
		    </ul>
		  </li>
                </ul>
              </li>
	    </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid mainContent" ng-view>
    <!-- main content goes here. It can contain:
      //Controls on the left. Assign them to top, middle or bottom
      <section id="leftControls" class="lcontrols no-select" ng-cloak ng-show="showControls">
        <div class="tControls">
          <div class="top">
            <button ng-click="tasks.markAllRead()" class="btn" title="Run workflow" alt="Run"><i class="icon-play"></i></button>
            ...
          </div>
        </div>
      </section
      //summaries (shown as tiles on the left):
      <section class="summaries" ng-cloak ng-show="showSummaries">
        // Status card
        <section class="top well" ng-cloak ng-show="showStatus">
          <h4>{{name}}</h4>
          <div>
            <a class="label label-info cmtip" title="Total items" ng-click="showAll()">{{count}}</a> items: 
            <a class="label label-success cmtip" title="Completed" ng-click="showUnread()">{{count}}</a>
            <a class="label label-warning cmtip" title="Waiting" ng-click="showStarred()">{{count}}</a>  
            <a class="label label-important cmtip" title="Errors" ng-click="showRead()">{{count}}</a>
          </div>
        </section>
        // All other cards - ng-repeat those
        <article class="well summary">
          ...
        </article>
      </section>

      //And an entry (shown as a page with content in it):
      <section class="entries">
        <article class="well entry">
          ...
        </article>
      </section>
      Ref: http://vojtajina.github.com/WebApp-CodeLab/FinalProject/index.html
    -->
  </div>
  <div class="notifications bottom-right"></div>

  <footer ng-cloak style="display: none" ng-show="showFooter">
    <a data-toggle="modal" href="#modalAbout">&copy; Rackspace Hosting 2012</a>
  </footer>

  <div id="modalAuth" class="modal hide fade">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal">&times;</button>
	  <h3>Log In</h3>
	  <p>Log in to your Rackspace Cloud account.</p>
	</div>
	<div class="modal-body">
	  <form class="form-horizontal" style="margin-bottom: 0px">
            <div id="auth_error" class="alert alert-error hide">
              <strong>Authentication Failed!</strong> <span id="auth_error_text"></span>.
            </div>
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="username" ng-model="bound_creds.username"></i>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                  <input type="password" class="input-xlarge" id="password" ng-model="bound_creds.password">
                </div>
              </div>
                <p style="text-align: center">or</p>
                <div class="control-group">
                  <label class="control-label" for="apikey">API Key</label>
                  <div class="controls">
                        <input type="password" class="input-xlarge" id="apikey" ng-model="bound_creds.apikey">
                  </div>
                </div>
                <hr/>
                <div class="control-group">
                  <label class="control-label" for="auth_url">Cloud/Region</label>
                  <div class="controls">
                    <select id="auth_url" class="span3" required ng-model="bound_creds.auth_url">
                      <option value="https://identity.api.rackspacecloud.com/v2.0/tokens">Rackspace Cloud - US</option>
                      <option value="https://lon.identity.api.rackspacecloud.com/v2.0/tokens">Rackspace Cloud - UK</option>
                    </select>
                  </div>
                </div>
            </fieldset>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" ng-click="logIn(username.value, password.value, apikey.value, auth_url.value)">Authenticate!</button>
            </div>
	  </form>
	</div>
  </div>
  <div id="modalError" class="modal hide fade" >
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3>{{error.title}}</h3>
    </div>
    <div class="modal-body">
      <p>
        {{error.message}}
        <pre class="prettyprint">{{error.data}}</pre>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
  <div id="modalSLA" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3>Support for Checkmate</h3>
    </div>
    <div class="modal-body">
      <dl class="dl-horizontal">
	<dt>About 24 hours</dt>
	<dd>We don't have a 24x7 team. The code is an advanced prototype,
      but a prototype nonetheless, so there could be show-stopping bugs in here and we can't guarantee a time by which we
      could get them fixed.</dd>
      </dl>
  
      <dl class="dl-horizontal">
	<dt>Passion</dt>
	<dd>That said, we love this product and believe in it. We'll do our best to make it rock and to make your
      experience using it awesome.</dd>
      </dl>
  
      <dl class="dl-horizontal">
	<dt>Helping each other out</dt>
	<dd>You can help (or help us help you) by giving us feedback or letting us know about issues
      from the Help/Submit Feedback menu,
      by <a target="_blank" href="mailto:checkmate@lists.rackspace.com">email</a>,
      <a href="irc://irc.intra.rackspace.com/#checkmate" target="_blank">IRC</a>,
      or <a href="http://github.rackspace.com/checkmate">contributing</a> on github.</dd>
      </dl>
    </div>
    <div class="modal-footer">
      <small class="pull-left"><b>Checkmate version:</b> {{api_version}}</br>
      <b>Rook version:</b> {{rook_version}}</small>
    </div>
  </div>

  <!-- IMPORTANT: load jquery BEFORE angular. Or angular will use JQLite and
  that has caused me a few time-sucking debug sessions!-->
  <script src="/libs/jquery-1.7.2.min.js" type="text/javascript"></script>
  
  <!-- Bootstrap - compiled into one file-->
  <script src="/libs/bootstrap-2.2.1/js/bootstrap.min.js"></script>

  <!-- Others -->
  <script src="/libs/underscore-min.js" type="text/javascript"></script>
  <script src="/libs/yaml.js" type="text/javascript"></script>
  <script src="/libs/moment-1.4.0.min.js" type="text/javascript"></script>
  <script src="/libs/google-code-prettify-rev187/prettify.js" type="text/javascript"></script>
  <script src="/libs/jquery.jsPlumb-1.3.10-all-min.js" type="text/javascript"></script>
  <script src="/libs/d3.v2.min.js" type="text/javascript"></script>
  <script src="/libs/bootstrap-notify/js/bootstrap-notify.js"></script>
  <script src="/libs/jquery.validation-1.10.0/jquery.validate.min.js"></script>
  <script src="/libs/jquery.validation-1.10.0/additional-methods.min.js"></script>
  <script src="/libs/URI-1.7.4.js"></script>

  <!-- Angular -->
  <script src="/libs/angular-1.0.3/angular.js" type="text/javascript"></script>
  <script src="/libs/angular-1.0.3/angular-cookies.js" type="text/javascript"></script>
  <script src="/libs/angular-1.0.3/angular-resource.js" type="text/javascript"></script>
  <script src="/libs/angular-1.0.3/angular-sanitize.js" type="text/javascript"></script>

  <!-- Angular enhancements/extensions -->
  <script src="/libs/angular-ui-0.3.1/js/angular-ui.min.js" type="text/javascript"></script>
  <script src="/libs/angular-ui-0.3.1/js/angular-ui-ieshiv.min.js" type="text/javascript"></script>

  <!-- Our Angular Implementation-->
  <script src="/js/app.js" type="text/javascript"></script>
  <script src="/js/filters.js" type="text/javascript"></script>
  <script src="/js/services.js" type="text/javascript"></script>
  <script src="/js/directives.js" type="text/javascript"></script>
  <!--<script src="js/plugins.js" type="text/javascript"></script>-->
  
  <!-- Asynchronous Google Analytics snippet. -->
  <!--<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35142731-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>-->
<!--This makes it easy to copy and paste the blueprint from https://github.rackspace.com/Blueprints/wordpress-clouddb/raw/master/checkmate.yaml-->
<script id="dbaasBlueprint" language="application/x-yaml">
blueprint:
  id: d8fcfc17-b515-473a-9fe1-6d4e3356ef8d
  description: Create a multi-server WordPress deployment using Chef and Cloud Databases.
  name: WordPress w/ Cloud Databases
  options:
    database_memory:
      choice:
      - name: 512 Mb
        value: 512
      - name: 1024 Mb
        value: 1024
      - name: 2048 Mb
        value: 2048
      - name: 4096 Mb
        value: 4096
      constrains:
      - resource_type: compute
        service: backend
        setting: memory
      default: 512
      description: The size of the database instance in MB of RAM.
      label: Database Size
      type: select
    database_volume_size:
      constrains:
      - resource_type: database
        service: backend
        setting: disk
      constraints:
      - greater-than: 0
        less-than: 51
      default: 1
      description: The hard drive space available for the database instance in GB.
      label: Database Disk Size
      type: int
    domain:
      choice: []
      constrains:
      - resource_type: application
        service: web
        setting: apache/domain_name
      - resource_type: application
        service: master
        setting: apache/domain_name
      description: |
        The domain you wish to host your blog on. (ex: example.com)
        
        You can either select a previously created domain from the drop-down, or create
        a new domain in the text box.
      label: Domain
      regex: ^(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9])$
      required: true
      sample: example.com
      type: combo
    os:
      choice:
      - Ubuntu 12.04 # We're limiting the choice to supported operating systems for this blueprint
      constrains:
      - resource_type: compute
        service: web
        setting: os
      - resource_type: compute
        service: master
        setting: os
      default: Ubuntu 12.04
      description: The operating system for the web servers.
      label: Operating System
      type: select
    password:
      constrains:
      - setting: resources/wp user/password
      description: Password to use for database and system user.
      label: Password
      type: password
    path:
      constrains:
      - resource_type: application
        service: web
        setting: wordpress/path
      - resource_type: application
        service: master
        setting: wordpress/path
      default: /
      description: 'The path you wish to host your blog on under your domain. (ex: /blog)'
      label: Path
      sample: /blog
      type: string
    prefix:
      constrains:
      - resource_type: application
        service: master
        setting: wordpress/database/prefix
      - resource_type: application
        service: web
        setting: wordpress/database/prefix
      default: wp_
      description: The application ID (and wordpress table prefix).
      help: |
        Note that this also the user name, database name, and also identifies
        this wordpress install from other ones you might add later to the same deployment.
      label: Prefix
      required: true
      type: string
    region:
      choice:
      - ORD
      - DFW
      - LON
      default: ORD
      label: Region
      required: true
      type: select
    register-dns:
      constrains: #TODO: is this correct? Can we use rackspace.dns instead?
      - resource_type: load-balancer
        service: lb
        setting: create_dns
      default: true
      label: Create DNS records
      type: boolean
    ssl_certificate:
      constrains:
      - resource_type: application
        service: web
        setting: apache/ssl_cert #FIXME: this is not canonical. It should be ssl_certificate
      - resource_type: application
        service: master
        setting: apache/ssl_cert #FIXME: this is not canonical. It should be ssl_certificate
      description: SSL certificate in PEM format. Make sure to include the BEGIN and END certificate lines.
      label: SSL Certificate
      sample: |
        -----BEGIN CERTIFICATE-----
        Encoded Certificate
        -----END CERTIFICATE-----
      type: text
    ssl_private_key:
      constrains:
      - resource_type: application
        service: web
        setting: apache/ssl_private_key
      - resource_type: application
        service: master
        setting: apache/ssl_private_key
      label: SSL Certificate Private Key
      sample: |
        -----BEGIN PRIVATE KEY-----
        Encoded key
        -----END PRIVATE KEY-----
      type: text
    username:
      constrains:
      - setting: resources/wp user/name
      default: wp_user
      description: The user name to use for Wordpress and the deployment servers and database.
      label: Username
      required: true
      type: string
    web_server_count:
      constrains:
      - resource_type: application
        service: web
        setting: count
      constraints:
      - greater-than: 0 #TODO: implement this in the UI and on the server - talk to autoscale.
      default: 1
      description: The number of WordPress servers in addition to the master server.
      label: Additional Web Servers
      type: int
    web_server_protocol:
      choice:
      - name: HTTP Only
        precludes: #TODO: good idea. Design and /or implement this
        - ssl_certificate
        - ssl_private_key
        value: http
      - name: HTTP and HTTPS
        requires:
        - ssl_certificate
        - ssl_private_key
        value: http_and_https
      constrains:
      - resource_type: load-balancer
        service: lb
        setting: protocol
      default: http
      description: Use HTTP or HTTP and HTTPS (SSL) for web traffic. HTTPS requires an SSL certificate and private key.
      help: Use HTTP or HTTP and HTTPS (SSL) for web traffic. HTTPS requires an SSL certificate and private key.
      label: HTTP Protocol
      type: select
    web_server_size:
      choice:
      - name: 512 Mb
        value: 512
      - name: 1 Gb
        value: 1024
      - name: 2 Gb
        value: 2048
      - name: 4 Gb
        value: 4096
      - name: 8 Gb
        value: 8092
      - name: 16 Gb
        value: 16384
      - name: 30 Gb
        value: 30720
      constrains:
      - resource_type: compute
        service: web
        setting: memory
      - resource_type: compute
        service: master
        setting: memory
      default: 1024
      description: The size of the instance in MB of RAM.
      label: Web Server Size
      type: select
  resources:
    wp keys:
      constrains:
      - attribute: private_key
        resource_type: application
        service: web
        setting: lsyncd/user/ssh_private_key
      - attribute: private_key
        resource_type: application
        service: master
        setting: lsyncd/user/ssh_private_key
      - attribute: public_key_ssh
        resource_type: application
        service: web
        setting: lsyncd/user/ssh_pub_key #FIXME: this is not canonical.
      - attribute: public_key_ssh
        resource_type: application
        service: master
        setting: lsyncd/user/ssh_pub_key #FIXME: this is not canonical.
      type: key-pair
    wp user:
      constrains:
      - attribute: name
        resource_type: application
        service: web
        setting: lsyncd/user/name
      - attribute: name
        resource_type: application
        service: master
        setting: lsyncd/user/name
      - attribute: name
        resource_type: application
        service: web
        setting: mysql/database_name
      - attribute: name
        resource_type: application
        service: master
        setting: mysql/database_name
      - attribute: name
        resource_type: application
        service: web
        setting: wordpress/database/database_name
      - attribute: name
        resource_type: application
        service: master
        setting: wordpress/database/database_name
      - attribute: name
        resource_type: database
        service: backend
        setting: database/name
      - attribute: name
        resource_type: database
        service: backend
        setting: database/username
      - attribute: password
        resource_type: database
        service: backend
        setting: database/password
      - attribute: password
        resource_type: application
        service: web
        setting: mysql/password
      - attribute: password
        resource_type: application
        service: master
        setting: mysql/password
      - attribute: name
        resource_type: application
        service: web
        setting: mysql/username
      - attribute: name
        resource_type: application
        service: master
        setting: mysql/username
      - attribute: password
        resource_type: application
        service: web
        setting: wordpress/database/password
      - attribute: password
        resource_type: application
        service: master
        setting: wordpress/database/password
      - attribute: name
        resource_type: application
        service: web
        setting: wordpress/database/username
      - attribute: name
        resource_type: application
        service: master
        setting: wordpress/database/username
      - attribute: name
        resource_type: application
        service: web
        setting: wordpress/user/name
      - attribute: name
        resource_type: application
        service: master
        setting: wordpress/user/name
      - attribute: password
        resource_type: application
        service: web
        setting: wordpress/user/password
      - attribute: password
        resource_type: application
        service: master
        setting: wordpress/user/password
      - attribute: hash
        resource_type: application
        service: web
        setting: wordpress/user/hash
      - attribute: hash
        resource_type: application
        service: master
        setting: wordpress/user/hash
      type: user
  services:
    backend:
      component:
        interface: mysql
        type: database
    lb:
      component:
        constraints:
        - algorithm: ROUND_ROBIN
        interface: proxy #FIXME: this is not a valid protocol
        type: load-balancer
      exposed: true
      open-ports:
      - 80/tcp
      relations:
        master: http
        web: http
    master:
      component:
        constraints:
        - wordpress/version: 3.4.1
        name: wordpress-master-role
        type: application
      constraints:
      - count: 1
      relations:
        lsyncd/slaves:
          attribute: private_ip #TODO: use 'quality: private' instead.
          interface: host
          service: web
        mysql: #TODO: add a way to say that we desire 'quality: private' + name should not be tied to databag
          interface: mysql
          service: backend
        varnish/master_backend:
          attribute: private_ip
          interface: host
        wordpress/database:
          interface: mysql
          service: backend
    web:
      component:
        constraints:
        - wordpress/version: 3.4.1
        name: wordpress-web-role
        type: application
      relations:
        lsyncd/slaves:
          attribute: private_ip
          interface: host
        mysql:
          interface: mysql
          service: backend
        varnish/master_backend:
          attribute: private_ip
          interface: host
          service: master
        wordpress/database:
          interface: mysql
          service: backend
environment:
  description: This environment uses next-gen cloud servers.
  name: Next-Gen Open Cloud
  providers:
    chef-local:
      provides:
      - application: http
      vendor: opscode
    common:
      vendor: rackspace
    database: {}
    load-balancer: {}
    nova: {}
inputs:
  blueprint:
    database_memory: 512
    database_volume_size: 1
    domain: wordpress.cldsrvr.com
    os: Ubuntu 12.04
    password: pULQxCxkIK
    path: /
    prefix: wp_
    region: ORD
    register-dns: false
    ssl_certificate: |
      -----BEGIN CERTIFICATE-----
      MIIDxjCCAq6gAwIBAgIJAMPPVAWqOFGIMA0GCSqGSIb3DQEBBQUAMIGWMQswCQYD
      VQQGEwJVUzELMAkGA1UECBMCVHgxFDASBgNVBAcTC1NhbiBBbnRvbmlvMRowGAYD
      VQQKExFBd2Vzb21lbmVzcywgSW5jLjEdMBsGA1UEAxMUbXlhd2Vzb21ld2Vic2l0
      ZS5jb20xKTAnBgkqhkiG9w0BCQEWGnN0dWZmQG15YXdlc29tZXdlYnNpdGUuY29t
      MB4XDTEyMDYxNTE0MDE0NloXDTIyMDYxMzE0MDE0NlowgZYxCzAJBgNVBAYTAlVT
      MQswCQYDVQQIEwJUeDEUMBIGA1UEBxMLU2FuIEFudG9uaW8xGjAYBgNVBAoTEUF3
      ZXNvbWVuZXNzLCBJbmMuMR0wGwYDVQQDExRteWF3ZXNvbWV3ZWJzaXRlLmNvbTEp
      MCcGCSqGSIb3DQEJARYac3R1ZmZAbXlhd2Vzb21ld2Vic2l0ZS5jb20wggEiMA0G
      CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDKqXVCJkLHNJzlqKQ1GTh0nyFqbZik
      G5uMzzauBa1BtwCspziUqL1X/PNoGXOnSyEqp+zwtArci82o4PYJ9c8rYAzHZRtM
      mg+ZKR/8w/aO/AFuLfoGiqVLaWcexARR0fw3W9qB84KjBQ/bNAWbYLDle+tLdhep
      gmggbjTfSl8YzqHi7fBqLww+OSp9PYFJs02v6TIzNVZXw5TFTaedIuOaixz5dsaj
      uWag9YX2Lb7Ysl5V07bp0Mvv4YGyVXtngigK2WuKwpMFbOZJRbYYT9LAK+XvJKUy
      85XcmxXTjTREmS6TS1nvJgFAu3uP1dpfkH9JzWtpXtsZ0cChFQL1+U1NAgMBAAGj
      FTATMBEGCWCGSAGG+EIBAQQEAwIGQDANBgkqhkiG9w0BAQUFAAOCAQEAqXZuiTPy
      +YRWkkE9DOWJmmnSsjLBrnh1YY0ZmNDMFM9xP6uRd/StAbwgIYxMS2Wo8ZtMkrNv
      naCBB6ghgQHaNJmx1j92SpS1U/WELcSKV01j9DnklFXbSH6n5fS/VsckTcmVOXoW
      wLgHXXd0aueqBTPpiKEjNfI7dUl+uUpbklb+RyN565hxjzrSDSuhSjZ/0GL61RVz
      4pY+rjEPNp3itHbR6weyWwNvi0xA8FYipwJYEiErN2zuhH1ikACrlBw9Fo/7hSmh
      Z3rujqhToCEbXsejLKjSKSzdVGEhgRHla+9+cEvnAYfWnIkAl1pVK3BH+5Bg4634
      FQOjVTygmZVlVw==
      -----END CERTIFICATE-----
    ssl_private_key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAyql1QiZCxzSc5aikNRk4dJ8ham2YpBubjM82rgWtQbcArKc4
      lKi9V/zzaBlzp0shKqfs8LQK3IvNqOD2CfXPK2AMx2UbTJoPmSkf/MP2jvwBbi36
      BoqlS2lnHsQEUdH8N1vagfOCowUP2zQFm2Cw5XvrS3YXqYJoIG4030pfGM6h4u3w
      ai8MPjkqfT2BSbNNr+kyMzVWV8OUxU2nnSLjmosc+XbGo7lmoPWF9i2+2LJeVdO2
      6dDL7+GBslV7Z4IoCtlrisKTBWzmSUW2GE/SwCvl7ySlMvOV3JsV0400RJkuk0tZ
      7yYBQLt7j9XaX5B/Sc1raV7bGdHAoRUC9flNTQIDAQABAoIBAE3RhgoRgQDXDgwN
      loghGBGH7R/d14fkZfVKt/dYjK+4IpUpXMuQg6weoCRv6X3qlmC3vH6s06LeN+lK
      AI/QiG1iY2XJSBNA8Q5hwTugz7MVx0LUerY6VMBBR+yDXhlA5XUoWx4dMCOC1RTZ
      w/FmzmZAEBiYzvsy7OLPDpRTDXMLbV3ULlC+TsKOHAGeSnJbLFrS7MMI4rs8d366
      lyz9pYy9VG2/NRFk+yLvO5vd2YKiPgWWCFWmxkULvRYC7pRU8Uye6iUh0Zn/LWQd
      0Rt38ZrMfVUoIm8ep8TjfwvZDO4MURy7mqAtqLRNyUJk1Rau23crbq5F6jCF0ukq
      MzLlguECgYEA+mzdUD4dic92V5+sP9LYM79DMVlRFLQ9nDJOK4hKukG9+KXSyk8T
      WEtLlJA/2LoDOBAPqq+3eg6l54YTq1RPgVOQxFAwIQHq1K2aBJEt1tyMA1eK3Kp/
      bsS8/jbr3V3C82q3E/Llsm0JCO/5cTCc59DC6xHZvWZ4YJRT7Fc+LHUCgYEAzyxl
      z81fgoaOglcEpVMcv+48EUANEoG06+WXLu9Juc7G9xuKe/QGvl3cAhx0zB+PwnKw
      SF9CXj3d5hCgnioNC8HZ6fO9IiYBqbrjmenrvdPBAbG4SSVZTChYSg44Kh6puSOB
      fZpDaW3poTl4YFFOSpijkukL/kWs5m7zpM4b4nkCgYBkL6d+0crpdllnBtdXlVev
      pCYSmSQJ/23ijnGdkuIqj+CbmGOzUl1v5nevUOJqJ0jgZfSOmcvyheezr30w/wLr
      v23cTCRlICo9udIzX42SNxvAvoYsb/2ZaBYgMgK8xiUXUys5TOS+NEb4D2Gg+gzb
      5TYF61dMIbGpGc5VcDXMfQKBgDId/WsttYMv5d2mC1urJXNQwHsz0XW+pvPCELar
      8Fvgp8UzhmbB+7eloQlptN+EaxSRBhAb60Q9FycGsrRQW+OSO5MbAY/3PcO/kDu1
      mO/NAA3W3kvjmxyPTfxsQC4ASPKeoj6uSMyCaFg2POagBJ6LGlb5xYr3dAIyqQIf
      UiORAoGBAN79cXdQBL6XJIFuy43QzcT37IDihxJ3sGOBPf4nOCealOHxA/iRgYim
      N7YE6SrkAPPZdG3L9U7LOCfchUiIbSvQFXReukewn6714N4QMYY0Dz+1NBwXD/w1
      8j3jDF3oufViQELOIrmjxtZbBazVffOTpgYiepnP8Ns7U5WGijhF
      -----END RSA PRIVATE KEY-----
    username: wp_user
    web_server_count: 1
    web_server_protocol: http_and_https
    web_server_size: 1024
</script>

<!--This makes it easy to copy and paste the blueprint from https://github.rackspace.com/Blueprints/wordpress/raw/master/checkmate.yaml-->
<script id="mysqlBlueprint" language="application/x-yaml">
blueprint:
  id: 0255a076c7cf4fd38c69b6727f0b37ea
  name: Managed Cloud WordPress w/ MySQL on VMs
  description: Create a multi-server WordPress deployment on any cloud account using the Chef cookbooks created by the Managed Cloud team.
  services:
    lb:
      open-ports:
      - 80/tcp
      component:
        interface: proxy
        type: load-balancer
        constraints:
        - algorithm: ROUND_ROBIN
      relations:
        web: http
        master: http
      exposed: true
    master:
      component:
        type: application
        name: wordpress-master-role
        constraints:
          wordpress/version: 3.4.1
          wordpress/database/create_db: "true"
          wordpress/database/create_db_user: "true"
      relations:
        wordpress/database:
          interface: mysql
          service: backend
        wordpress/database/host:
          interface: host
          service: backend
          attribute: private_ip
        wordpress/database/server_root_password:
          interface: host
          service: backend
          attribute: password
        varnish/master_backend:
          interface: host
          attribute: private_ip
        lsyncd/slaves:
          interface: host
          service: web
          attribute: private_ip
      constraints:
      - count: 1
    web:
      component:
        type: application
        name: wordpress-web-role
        constraints:
          wordpress/version: 3.4.1
      relations:
        varnish/master_backend:
          interface: host
          service: master
          attribute: private_ip
        lsyncd/slaves:
          interface: host
          attribute: private_ip
        wordpress/database/host:
          interface: host
          service: backend
          attribute: private_ip
    backend:
      component:
        name: mysql-master-role
        interface: mysql
        type: database
      relations:
        mysql/host:
          interface: host
          attribute: private_ip
        mysql/server_root_password:
          interface: host
          attribute: password
  options:
    domain:
      regex: ^(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9])$
      constrains:
      - setting: apache/domain_name
        service: web
        resource_type: application
      - setting: apache/domain_name
        service: master
        resource_type: application
      description: 'The domain you wish to host your blog on. (ex: example.com)'
      label: Domain
      sample: example.com
      type: combo
      required: true
      choice: []
    path:
      constrains:
      - setting: wordpress/path
        service: web
        resource_type: application
      - setting: wordpress/path
        service: master
        resource_type: application
      description: 'The path you wish to host your blog on under your domain. (ex: /blog)'
      default: /
      label: Path
      sample: /blog
      type: string
    register-dns:
      default: false
      type: boolean
      label: Create DNS records
    region:
      required: true
      type: select
      default: ORD
      label: Region
      choice:
      - DFW
      - ORD
      - LON
    prefix:
      constrains:
      - setting: wordpress/database/prefix
        service: master
        resource_type: application
      - setting: wordpress/database/prefix
        service: web
        resource_type: application
      help: |
        Note that this also the user name, database name, and also identifies this
        wordpress install from other ones you might add later to the same deployment.
      default: wp_
      required: true
      label: Prefix
      type: string
      description: The application ID (and wordpress table prefix).
    password:
      type: password
      description: Password to use for service.
      label: Password
      constrains:
      - setting: resources/wp user/password
    username:
      type: string
      description: The user name to use for Wordpress and the deployment servers and database.
      required: true
      label: Username
      default: wp_user
      constrains:
      - setting: resources/wp user/name
    os:
      constrains:
      - setting: os
        service: web
        resource_type: compute
      - setting: os
        service: master
        resource_type: compute
      - setting: os
        service: backend
        resource_type: compute
      description: The operating system for the all servers.
      default: Ubuntu 12.04
      label: Operating System
      type: select
      choice:
      - Ubuntu 12.04
    server_size:
      constrains:
      - setting: memory
        service: web
        resource_type: compute
      - setting: memory
        service: master
        resource_type: compute
      description: The size of the Wordpress server instances in MB of RAM.
      default: 512
      label: Server Size
      type: select
      choice:
      - name: 512 Mb
        value: 512
      - name: 1 Gb
        value: 1024
      - name: 2 Gb
        value: 2048
      - name: 4 Gb
        value: 4096
      - name: 8 Gb
        value: 8092
      - name: 16 Gb
        value: 16384
      - name: 30 Gb
        value: 30720
    web_server_count:
      constrains:
      - setting: count
        service: web
        resource_type: application
      description: The number of WordPress servers in addition to the master server
      default: 1
      label: Additional Web Servers
      type: int
      constraints:
      - greater-than: 0
    database_size:
      constrains:
      - setting: memory
        service: backend
        resource_type: compute
      description: The size of the database instance in MB of RAM.
      default: 1024
      label: Database Instance Size
      type: select
      choice:
      - name: 512 Mb (20 Gb disk)
        value: 512
      - name: 1 Gb (40 Gb disk)
        value: 1024
      - name: 2 Gb (80 Gb disk)
        value: 2048
      - name: 4 Gb (160 Gb disk)
        value: 4096
      - name: 8 Gb (320 Gb disk)
        value: 8192
      - name: 16 Gb (620 Gb disk)
        value: 15872
      - name: 30 Gb (1.2 Tb disk)
        value: 30720
    web_server_protocol:
      default: http
      label: HTTP Protocol
      type: select
      choice:
      - name: HTTP Only
        value: http
        precludes:
        - ssl_certificate
        - ssl_private_key
      - name: HTTP and HTTPS
        value: http_and_https
        requires:
        - ssl_certificate
        - ssl_private_key
      help: Use HTTP or HTTP and HTTPS (SSL) for web traffic. HTTPS requires an SSL certificate and private key.
      description: Use HTTP or HTTP and HTTPS (SSL) for web traffic. HTTPS requires an SSL certificate and private key.
      constrains:
      - setting: protocol
        service: lb
        resource_type: load-balancer
    ssl_certificate:
      sample: |
        -----BEGIN CERTIFICATE-----
        Encoded Certificate
        -----END CERTIFICATE-----
      constrains:
      - setting: apache/ssl_cert
        service: web
        resource_type: application
      - setting: apache/ssl_cert
        service: master
        resource_type: application
      type: text
      description: SSL certificate in PEM format. Make sure to include the BEGIN and END certificate lines.
      label: SSL Certificate
    ssl_private_key:
      sample: |
        -----BEGIN PRIVATE KEY-----
        Encoded key
        -----END PRIVATE KEY-----
      constrains:
      - setting: apache/ssl_private_key
        service: web
        resource_type: application
      - setting: apache/ssl_private_key
        service: master
        resource_type: application
      type: text
      label: SSL Certificate Private Key
  resources:
    wp keys:
      type: key-pair
      constrains:
      - setting: lsyncd/user/ssh_private_key
        service: web
        resource_type: application
        attribute: private_key
      - setting: lsyncd/user/ssh_private_key
        service: master
        resource_type: application
        attribute: private_key
      - setting: lsyncd/user/ssh_pub_key
        service: web
        resource_type: application
        attribute: public_key_ssh
      - setting: lsyncd/user/ssh_pub_key
        service: master
        resource_type: application
        attribute: public_key_ssh
    wp user:
      type: user
      constrains:
      - setting: lsyncd/user/name
        service: web
        resource_type: application
        attribute: name
      - setting: lsyncd/user/name
        service: master
        resource_type: application
        attribute: name
      - setting: mysql/database_name
        service: web
        resource_type: application
        attribute: name
      - setting: mysql/database_name
        service: master
        resource_type: application
        attribute: name
      - setting: wordpress/database/database_name
        service: web
        resource_type: application
        attribute: name
      - setting: wordpress/database/database_name
        service: master
        resource_type: application
        attribute: name
      - setting: mysql/password
        service: web
        resource_type: application
        attribute: password
      - setting: mysql/password
        service: master
        resource_type: application
        attribute: password
      - setting: mysql/username
        service: web
        resource_type: application
        attribute: name
      - setting: mysql/username
        service: master
        resource_type: application
        attribute: name
      - setting: wordpress/database/password
        service: web
        resource_type: application
        attribute: password
      - setting: wordpress/database/password
        service: master
        resource_type: application
        attribute: password
      - setting: wordpress/database/username
        service: web
        resource_type: application
        attribute: name
      - setting: wordpress/database/username
        service: master
        resource_type: application
        attribute: name
      - setting: wordpress/user/name
        service: web
        resource_type: application
        attribute: name
      - setting: wordpress/user/name
        service: master
        resource_type: application
        attribute: name
      - setting: wordpress/user/password
        service: web
        resource_type: application
        attribute: password
      - setting: wordpress/user/password
        service: master
        resource_type: application
        attribute: password
      - setting: wordpress/user/hash
        service: web
        resource_type: application
        attribute: hash
      - setting: wordpress/user/hash
        service: master
        resource_type: application
        attribute: hash
environment:
  description: This environment uses next-gen cloud servers.
  name: Next-Gen Open Cloud
  providers:
    chef-local:
      provides:
      - application: http
      - database: mysql
      - compute: mysql
      vendor: opscode
    load-balancer: {}
    nova: {}
    common:
      vendor: rackspace
inputs:
  blueprint:
    domain: wordpress.cldsrvr.com
    password: pULQxCxkIK
    ssl_certificate: |
      -----BEGIN CERTIFICATE-----
      MIIDxjCCAq6gAwIBAgIJAMPPVAWqOFGIMA0GCSqGSIb3DQEBBQUAMIGWMQswCQYD
      VQQGEwJVUzELMAkGA1UECBMCVHgxFDASBgNVBAcTC1NhbiBBbnRvbmlvMRowGAYD
      VQQKExFBd2Vzb21lbmVzcywgSW5jLjEdMBsGA1UEAxMUbXlhd2Vzb21ld2Vic2l0
      ZS5jb20xKTAnBgkqhkiG9w0BCQEWGnN0dWZmQG15YXdlc29tZXdlYnNpdGUuY29t
      MB4XDTEyMDYxNTE0MDE0NloXDTIyMDYxMzE0MDE0NlowgZYxCzAJBgNVBAYTAlVT
      MQswCQYDVQQIEwJUeDEUMBIGA1UEBxMLU2FuIEFudG9uaW8xGjAYBgNVBAoTEUF3
      ZXNvbWVuZXNzLCBJbmMuMR0wGwYDVQQDExRteWF3ZXNvbWV3ZWJzaXRlLmNvbTEp
      MCcGCSqGSIb3DQEJARYac3R1ZmZAbXlhd2Vzb21ld2Vic2l0ZS5jb20wggEiMA0G
      CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDKqXVCJkLHNJzlqKQ1GTh0nyFqbZik
      G5uMzzauBa1BtwCspziUqL1X/PNoGXOnSyEqp+zwtArci82o4PYJ9c8rYAzHZRtM
      mg+ZKR/8w/aO/AFuLfoGiqVLaWcexARR0fw3W9qB84KjBQ/bNAWbYLDle+tLdhep
      gmggbjTfSl8YzqHi7fBqLww+OSp9PYFJs02v6TIzNVZXw5TFTaedIuOaixz5dsaj
      uWag9YX2Lb7Ysl5V07bp0Mvv4YGyVXtngigK2WuKwpMFbOZJRbYYT9LAK+XvJKUy
      85XcmxXTjTREmS6TS1nvJgFAu3uP1dpfkH9JzWtpXtsZ0cChFQL1+U1NAgMBAAGj
      FTATMBEGCWCGSAGG+EIBAQQEAwIGQDANBgkqhkiG9w0BAQUFAAOCAQEAqXZuiTPy
      +YRWkkE9DOWJmmnSsjLBrnh1YY0ZmNDMFM9xP6uRd/StAbwgIYxMS2Wo8ZtMkrNv
      naCBB6ghgQHaNJmx1j92SpS1U/WELcSKV01j9DnklFXbSH6n5fS/VsckTcmVOXoW
      wLgHXXd0aueqBTPpiKEjNfI7dUl+uUpbklb+RyN565hxjzrSDSuhSjZ/0GL61RVz
      4pY+rjEPNp3itHbR6weyWwNvi0xA8FYipwJYEiErN2zuhH1ikACrlBw9Fo/7hSmh
      Z3rujqhToCEbXsejLKjSKSzdVGEhgRHla+9+cEvnAYfWnIkAl1pVK3BH+5Bg4634
      FQOjVTygmZVlVw==
      -----END CERTIFICATE-----
    ssl_private_key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAyql1QiZCxzSc5aikNRk4dJ8ham2YpBubjM82rgWtQbcArKc4
      lKi9V/zzaBlzp0shKqfs8LQK3IvNqOD2CfXPK2AMx2UbTJoPmSkf/MP2jvwBbi36
      BoqlS2lnHsQEUdH8N1vagfOCowUP2zQFm2Cw5XvrS3YXqYJoIG4030pfGM6h4u3w
      ai8MPjkqfT2BSbNNr+kyMzVWV8OUxU2nnSLjmosc+XbGo7lmoPWF9i2+2LJeVdO2
      6dDL7+GBslV7Z4IoCtlrisKTBWzmSUW2GE/SwCvl7ySlMvOV3JsV0400RJkuk0tZ
      7yYBQLt7j9XaX5B/Sc1raV7bGdHAoRUC9flNTQIDAQABAoIBAE3RhgoRgQDXDgwN
      loghGBGH7R/d14fkZfVKt/dYjK+4IpUpXMuQg6weoCRv6X3qlmC3vH6s06LeN+lK
      AI/QiG1iY2XJSBNA8Q5hwTugz7MVx0LUerY6VMBBR+yDXhlA5XUoWx4dMCOC1RTZ
      w/FmzmZAEBiYzvsy7OLPDpRTDXMLbV3ULlC+TsKOHAGeSnJbLFrS7MMI4rs8d366
      lyz9pYy9VG2/NRFk+yLvO5vd2YKiPgWWCFWmxkULvRYC7pRU8Uye6iUh0Zn/LWQd
      0Rt38ZrMfVUoIm8ep8TjfwvZDO4MURy7mqAtqLRNyUJk1Rau23crbq5F6jCF0ukq
      MzLlguECgYEA+mzdUD4dic92V5+sP9LYM79DMVlRFLQ9nDJOK4hKukG9+KXSyk8T
      WEtLlJA/2LoDOBAPqq+3eg6l54YTq1RPgVOQxFAwIQHq1K2aBJEt1tyMA1eK3Kp/
      bsS8/jbr3V3C82q3E/Llsm0JCO/5cTCc59DC6xHZvWZ4YJRT7Fc+LHUCgYEAzyxl
      z81fgoaOglcEpVMcv+48EUANEoG06+WXLu9Juc7G9xuKe/QGvl3cAhx0zB+PwnKw
      SF9CXj3d5hCgnioNC8HZ6fO9IiYBqbrjmenrvdPBAbG4SSVZTChYSg44Kh6puSOB
      fZpDaW3poTl4YFFOSpijkukL/kWs5m7zpM4b4nkCgYBkL6d+0crpdllnBtdXlVev
      pCYSmSQJ/23ijnGdkuIqj+CbmGOzUl1v5nevUOJqJ0jgZfSOmcvyheezr30w/wLr
      v23cTCRlICo9udIzX42SNxvAvoYsb/2ZaBYgMgK8xiUXUys5TOS+NEb4D2Gg+gzb
      5TYF61dMIbGpGc5VcDXMfQKBgDId/WsttYMv5d2mC1urJXNQwHsz0XW+pvPCELar
      8Fvgp8UzhmbB+7eloQlptN+EaxSRBhAb60Q9FycGsrRQW+OSO5MbAY/3PcO/kDu1
      mO/NAA3W3kvjmxyPTfxsQC4ASPKeoj6uSMyCaFg2POagBJ6LGlb5xYr3dAIyqQIf
      UiORAoGBAN79cXdQBL6XJIFuy43QzcT37IDihxJ3sGOBPf4nOCealOHxA/iRgYim
      N7YE6SrkAPPZdG3L9U7LOCfchUiIbSvQFXReukewn6714N4QMYY0Dz+1NBwXD/w1
      8j3jDF3oufViQELOIrmjxtZbBazVffOTpgYiepnP8Ns7U5WGijhF
      -----END RSA PRIVATE KEY-----
    username: wp_user
    web_server_count: 1
    web_server_protocol: http_and_https
    server_size: 1024
</script>
</body>
</html>
