<!DOCTYPE html>
<html lang="en" ng-app="checkmate" ng-csp="">
<head>
  <meta charset="utf-8">
  <title>Checkmate</title>
  <meta name="description" content="Cloud deployment and configuration orchestration">
  <meta name="author" content="Ziad Sawalha">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
     More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  <link href="/libs/bootstrap-2.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/libs/google-code-prettify-rev187/prettify.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build.
     Modernizr enables HTML5 elements & feature detects for optimal performance.
     Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="/libs/modernizr-2.5.3.min.js"></script>

  <!-- *** Code Mirror - code viewer/editor ***
  Note: experienced some problems running this at bottom -->
  <link href="/libs/codemirror-3.1/lib/codemirror.css" rel="stylesheet"/>
  <link href="/libs/codemirror-3.1/theme/lesser-dark.css" rel="stylesheet"/>

  <script src="/libs/codemirror-3.1/lib/codemirror.js" type="text/javascript"></script>
  <script src="/libs/codemirror-3.1/mode/javascript/javascript.js" type="text/javascript"></script>
  <script src="/libs/codemirror-3.1/addon/fold/foldcode.js" type="text/javascript"></script>

  <link href="/libs/angular-ui-0.4.0/css/angular-ui.min.css" rel="stylesheet"/>
  <link href="/libs/bootstrap-notify/css/bootstrap-notify.css" rel="stylesheet">
  <link href="/libs/bootstrap-notify/css/styles/alert-bangtidy.css" rel="stylesheet">

  <link rel="stylesheet" href="/libs/font-awesome-3.1.0/css/font-awesome.min.css">
  <!--[if IE 7]>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-ie7.min.css">
  <![endif]-->

  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
  typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
  b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
  mixpanel.init("a40f83096f836e11ede90da45dcbb0ef");
  mixpanel.track("View home page");
  </script><!-- end Mixpanel -->

  <style type="text/css">
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
    }
  </style>

</head>
<body ng-controller="AppController" class="ng-cloak">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
     chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <header ng-cloak ng-show="showHeader">
    <div class="navbar navbar-fixed-top no-select navbar-inverse" ng-controller="NavBarController">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" ng-click="toggle_navbar()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">
            <img class="loading" ng-hide="hasPendingRequests()" src="/img/blank.gif" />
            <img class="loading" ng-show="hasPendingRequests()" src="/img/ajax-loader-white.gif" />
            Checkmate
          </a>
          <!--TODO: collapsing not yet clean -->
          <div id="user_control" class="nav pull-right">
            <ul class="nav">
              <li class="divider-vertical"></li>

              <li class="pull-right" ng-cloak ng-hide="auth.identity.loggedIn">
                <a href="#" ng-click="loginPrompt()">
                  <i class="icon-user icon-white"></i> Log In
                </a>
                <ng-include src="'/partials/app/login_prompt.html'"></ng-include>
              </li>

              <li class="dropdown pull-right" ng-cloak ng-show="auth.identity.loggedIn" title="Token expires {{auth.context.token.expires | formattedDate}}">
                <a href="#" class="dropdown-toggle" id="user_button">
                      <i class="icon-user icon-white"></i> {{auth.context.username}}
                      <span ng-show="auth.context.tenantId"> ({{auth.context.tenantId}})</span>
                      <b class="caret"></b>
                </a>
                <ul id="user_menu" class="dropdown-menu pull-right" role="menu" aria-labelledby="user_button">
                  <li ng-show="auth.identity.is_admin" class="nav-header">TENANTS</li>
                  <li ng-show="auth.identity.is_admin">
                    <form id="impersonate" ng-submit="impersonate(impersonation.username)">
                      <input ng-model="impersonation.username" type="text" placeholder="Username" cm-stop-click-propagation />
                    </form>
                  </li>
                  <li role="presentation" ng-repeat="tenant in auth.cache.tenants">
                      <a role="menutitem" ng-click="impersonate(tenant.username)">{{tenant.username}} ({{tenant.tenantId}})</a>
                  </li>
                  <li ng-show="is_impersonating()" class="divider"></li>
                  <li><a ng-show="is_impersonating()" ng-click="exit_impersonation()">Exit Impersonation</a></li>
                  <li ng-show="auth.cache.tenants" class="divider"></li>
                  <li><a ng-click="logOut()">Log Out</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <div collapse="collapse_navbar" class="nav-collapse">
            <ul id="nav-elements" class="nav" ng-cloak ng-show="auth.context.tenantId">
              <li id="nav-deployments"><a ng-href="/{{auth.context.tenantId}}/deployments">Deployments</a></li>
              <li id="nav-workflows"><a ng-href="/{{auth.context.tenantId}}/workflows">Workflows</a></li>
              <li id="nav-blueprints"><a ng-href="/{{auth.context.tenantId}}/blueprints">Blueprints</a></li>
              <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle">Other<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li id="nav-environments"><a href="/{{auth.context.tenantId}}/environments">Environments</a></li>
                  <li id="nav-providers"><a href="/{{auth.context.tenantId}}/providers">Providers</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Status</li>
                  <li id="nav-status-celery"><a href="/status/celery">Celery</a></li>
                  <li id="nav-status-libraries"><a href="/status/libraries">Libraries</a></li>
                </ul>
              </li>-->
              <li class="divider-vertical" ng-show="showSearch"></li>
              <form id="navSearch" class="navbar-search" ng-show="showSearch">
                <input type="search" ng-model="$parent.search" class="search-query span2" placeholder="Search">
              </form>
            </ul>
            <ul id="nav-support" class="nav">
              <li class="dropdown">
                <a href="#" ng-cloak ng-show="in_admin_context()" class="dropdown-toggle">
                  Admin<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li id="nav-admin-feedback"><a href="/admin/feedback">View Feedback</a></li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Reports</a>
                    <ul class="dropdown-menu">
                      <li><a href="https://dashboard.cloudplatform.rackspace.net/checkmate/deployments" target="_blank">Deployments</a></li>
                    </ul>
                  </li>

                  <li class="divider"></li>
                  <li class="nav-header">All</li>
                  <li id="nav-admin-deployments"><a href="/admin/deployments">Deployments</a></li>

                  <li class="divider"></li>
                  <li class="nav-header">Status</li>
                  <li id="nav-status-celery"><a href="/admin/status/celery">Celery</a></li>
                  <li id="nav-status-libraries"><a href="/admin/status/libraries">Libraries</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a id="support-menu" href="#" class="dropdown-toggle">
                  Help<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li id="nav-support">
                    <a ng-click="open_modal('modal_sla')">General Info</a>
                    <ng-include src="'/partials/app/modal_sla.html'"></ng-include>
                  </li>
                  <li id="nav-wiki"><a href="https://one.rackspace.com/display/Checkmate/" target="_blank">Checkmate Wiki</a></li>

                  <li class="divider"></li>
                  <!-- <li nid="nav-feedback" class="dropdown-submenu">
                    <a id="feedback-menu" class="dropdown-toggle" href="#">
                      Submit Feedback
                    </a>
                    <div id="feedback-dropdown" class="dropdown-menu">
                      <form id="feedback-form" name="feedbackForm" class="form-horizontal" ng-submit="send_feedback()">
                        <h4>Issues or Suggestions?</h4>
                        <p>Let us know so we can do something about it.</p>
                        <textarea id="feedback" name="feedback" class="span4" rows="6" placeholder="I would like to be able to log in using OpenID" ng-model="feedback"></textarea>
                        <div>&nbsp;</div>

                        <p>If you would like us to send you updates on your issue, let us know which email address to use:</p>
                        <div class="input-prepend">
                          <span class="add-on">
                            <i class="icon-envelope"></i>
                          </span><input type="text" id="email" name="email" class="span3" ng-model="email">
                        </div>
                        <div>&nbsp;</div>

                        <div id="feedback_error" class="alert alert-error ">
                          <strong>The server didn't capture your feedback!</strong>
                          <br>Sorry about that! Could you email it to <a style="display: inline; " href="mailto:checkmate@lists.rackspace.com">checkmate@lists.rackspace.com</a> instead?
                          <br>The error we saw was: <span id="feedback_error_text"></span>.
                        </div>
                        <div class="modal-footer">
                          <button id="feedback-submit" type="submit" class="btn btn-primary" style="margin-top: 0;">Send Feedback</button>
                        </div>
                      </form>
                    </div>
                  </li>-->
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Contact the team</a>
                    <ul class="dropdown-menu">
                      <li><a href="mailto:checkmate@lists.rackspace.com" target="_blank">Email</a></li>
                      <li><a href="irc://irc.intra.rackspace.com/#checkmate" target="_blank">IRC</a></li>
                      <li><a href="http://github.rackspace.com/checkmate" target="_blank">Github</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid mainContent" ng-view>
    <!-- main content goes here. It can contain:
      //Controls on the left. Assign them to top, middle or bottom
      <section id="leftControls" class="lcontrols no-select" ng-cloak ng-show="showControls">
        <div class="tControls">
          <div class="top">
            <button ng-click="tasks.markAllRead()" class="btn" title="Run workflow" alt="Run"><i class="icon-play"></i></button>
            ...
          </div>
        </div>
      </section>
      //summaries (shown as tiles on the left):
      <section class="summaries" ng-cloak ng-show="showSummaries">
        // Status card
        <section class="top well" ng-cloak ng-show="showStatus">
          <h4>{{name}}</h4>
          <div>
            <a class="label label-info" tooltip="Total items" ng-click="showAll()">{{count}}</a> items:
            <a class="label label-success" tooltip="Completed" ng-click="showUnread()">{{count}}</a>
            <a class="label label-warning" tooltip="Waiting" ng-click="showStarred()">{{count}}</a>
            <a class="label label-important" tooltip="Errors" ng-click="showRead()">{{count}}</a>
          </div>
        </section>
        // All other cards - ng-repeat those
        <article class="well summary">
          ...
        </article>
      </section>

      //And an entry (shown as a page with content in it):
      <section class="entries">
        <article class="well entry">
          ...
        </article>
      </section>
      Ref: http://vojtajina.github.com/WebApp-CodeLab/FinalProject/index.html
    -->
  </div>

  <div class="notifications bottom-right" cm-notifications="notifications"></div>

  <footer ng-cloak style="display: none" ng-show="showFooter">
    <a data-toggle="modal" href="#modalAbout">&copy; Rackspace Hosting 2012</a>
  </footer>

  <div id="modalError" modal="modal_window.error" close="close_modal('error')" options="modal_opts" >
    <div class="modal-header">
      <button type="button" class="close" ng-click="close_modal('error')">&times;</button>
      <h3>{{error.title}}</h3>
    </div>
    <div class="modal-body">
      <p>
        {{error.message}}
        <pre class="prettyprint">{{error.data}}</pre>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" ng-click="close_modal('error')">Close</a>
    </div>
  </div>

  <!-- IMPORTANT: load jquery BEFORE angular. Or angular will use JQLite and
  that has caused me a few time-sucking debug sessions!-->
  <script src="/libs/jquery-1.7.2.min.js" type="text/javascript"></script>

  <!-- Bootstrap - compiled into one file-->
  <script src="/libs/bootstrap-2.3.1/js/bootstrap.min.js"></script>

  <!-- Others -->
  <script src="/libs/underscore-min.js" type="text/javascript"></script>
  <script src="/libs/yaml.js" type="text/javascript"></script>
  <script src="/libs/moment.min.js" type="text/javascript"></script>
  <script src="/libs/jquery.timeago.js" type="text/javascript"></script>
  <script src="/libs/google-code-prettify-rev187/prettify.js" type="text/javascript"></script>
  <script src="/libs/jquery.jsPlumb-1.3.10-all-min.js" type="text/javascript"></script>
  <script src="/libs/d3.v2.min.js" type="text/javascript"></script>
  <script src="/libs/bootstrap-notify/js/bootstrap-notify.js"></script>
  <script src="/libs/jquery.validation-1.10.0/jquery.validate.min.js"></script>
  <script src="/libs/jquery.validation-1.10.0/additional-methods.min.js"></script>
  <script src="/libs/URI-1.7.4.js"></script>
  <script src="/libs/strapdown-0.2/marked.min.js"></script>

  <!-- Angular -->
  <script src="/libs/angular-1.0.5/angular.js" type="text/javascript"></script>
  <script src="/libs/angular-1.0.5/angular-cookies.js" type="text/javascript"></script>
  <script src="/libs/angular-1.0.5/angular-resource.js" type="text/javascript"></script>
  <script src="/libs/angular-1.0.5/angular-sanitize.js" type="text/javascript"></script>

  <!-- Angular enhancements/extensions -->
  <script src="/libs/angular-ui-0.4.0/js/angular-ui.min.js" type="text/javascript"></script>
  <script src="/libs/angular-ui-0.4.0/js/angular-ui-ieshiv.min.js" type="text/javascript"></script>
  <script src="/libs/ui-bootstrap-0.3.0/ui-bootstrap-0.3.0.min.js" type="text/javascript"></script>
  <script src="/libs/ui-bootstrap-0.3.0/ui-bootstrap-tpls-0.3.0.min.js" type="text/javascript"></script>

  <!-- Our Angular Implementation-->
  <script src="/js/app.js" type="text/javascript"></script>
  <script src="/js/filters.js" type="text/javascript"></script>
  <script src="/js/services.js" type="text/javascript"></script>
  <script src="/js/directives.js" type="text/javascript"></script>
  <!--<script src="js/plugins.js" type="text/javascript"></script>-->

  <!-- Asynchronous Google Analytics snippet. -->
  <!--<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35142731-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>-->

  <!-- Webengage -->
  <div id="webengage_script_tag" ng-init="init_webengage()"></div>
</body>
</html>
