<div class="rs-container">
  <div class="rs-app-launch-container rs-panel"
        ng-class="{
          'catalog-open': catalog.isVisible,
          'editor-open': codemirror.isVisible,
          'editor-full-screen': codemirror.isFullScreen,
          'editor-error': codemirror.hasError,
          'github-invalid-import-open': prompts.githubInvalidImport.isVisible,
          'github-auth-open': prompts.githubAuth.isVisible,
          'github-empty-repo-open': prompts.githubEmptyRepo.isVisible,
          'selection-open': selection.isVisible && selection.hasSelection()
        }">

    <div class="catalog-toggle-button"
      ng-click="catalog.isVisible = !catalog.isVisible">
      <i class="fa fa-bars"></i>
    </div>

    <div class="rs-app-launch-sidebar stick-left app-catalog">
      <header class="rs-app-launch-header">
        <div class="rs-app-launch-input rs-app-launch-search-bar">
          <input type="text" ng-model="search" placeholder="Search Applications...">
        </div> <!-- /.rs-app-launch-input.rs-app-launch-search-bar -->
      </header> <!-- /.rs-app-launch-header -->

      <div class="rs-app-launch-list-container">
        <div class="rs-quiet text-center" ng-show="catalog.isLoading()">
          <i class="fa fa-spin fa-spinner"></i>
          Loading App Catalog...
        </div>
        <div class="text-center rs-status-error"
             ng-show="catalog.hasError() && !catalog.isLoading()">
          <i class="fa fa-warning"></i>
          App catalog load failed.
        </div>
        <section class="rs-app-launch-list-section"
                 ng-repeat="(type,types) in catalog.get()">
          <h4>{{type}}</h4>
          <div class="rs-app-launch-list">
            <div class="rs-app-launch-list-item"
                 ng-repeat="(app,config) in types"
                 x-lvl-draggable="true"
                 ng-show="config.id.indexOf(search) > -1 || config.display_name.indexOf(search) > -1 || config.name.indexOf(search) > -1 || !search"
                 ng-mousedown="select(config)"
                 ng-dblclick="add(config)"
                 ng-click="viewDetails()">
                <div class="rs-app-list-item-icon"
                     ng-hide="!config['meta-data']['display-hints']['icon-20x20']">
                  <img ng-attr-src="{{config['meta-data']['display-hints']['icon-20x20']}}"
                       width="20"
                       height="20">
                </div> <!-- /.rs-app-list-item-icon -->
                <div class="rs-app-list-item-title">
                  {{config.display_name || config.id || config.name || app | truncate: 22}}
                </div> <!-- /.rs-app-list-item-title -->
            </div> <!-- /.rs-app-launch-list-item -->
          </div> <!-- /.rs-app-launch-list-item -->
        </section> <!-- /.rs-app-launch-list-section -->

      </div> <!-- /.rs-app-launch-list-container -->
    </div> <!-- /.rs-app-launch-sidebar -->

    <div class="rs-app-launch-sidebar stick-left dark app-selection">
      <header class="rs-app-launch-header">
        <div class="rs-app-launch-subtitle">
          Options
        </div> <!-- /.rs-app-launch-input.rs-app-launch-search-bar -->
        <div class="rs-app-launch-title">
          {{ selection.data.service }}\{{ selection.data.component.display_name || selection.data.component.id || selection.data.component.name }}
        </div> <!-- /.rs-app-launch-input.rs-app-launch-search-bar -->
        <div class="rs-app-launch-control">
          <i class="fa fa-close fa-inverse" ng-click="selection.isVisible = false"></i>
        </div> <!-- /.rs-app-launch-input.rs-app-launch-search-bar -->
      </header> <!-- /.rs-app-launch-header -->
      <section class="rs-app-launch-list-section">
        <component-options ng-if="selection.data.component"
                           service-id="selection.data.service"
                           component="selection.data.component"
                           options="catalog.component(selection.data.component.id || selection.data.component.name).options">
        </component-options>
      </section> <!-- /.rs-app-launch-list-section -->
    </div> <!-- /.rs-app-launch-sidebar -->

    <div class="rs-app-launch-topology"
         x-lvl-drop-target="true"
         x-on-drop="add()">

      <div class="ui-block"></div>

      <!-- Topology -->
      <blueprint-topology></blueprint-topology>

      <!-- Code Mirror -->
      <div class="codemirror-toggle-button"
           ng-click="codemirror.isVisible = !codemirror.isVisible">
        <span class="fa-stack fa-lg">
          <i class="fa fa-ban fa-stack-2x text-danger" ng-show="codemirror.isVisible"></i>
          <i class="fa fa-code fa-stack-1x"
             ng-class="{'fa-inverse': codemirror.isVisible}"></i>
        </span>
      </div>

      <div class="codemirror-full-screen-button"
        ng-show="codemirror.isVisible"
        ng-click="codemirror.isFullScreen = !codemirror.isFullScreen">
        <span class="fa-stack fa-lg">
          <i class="fa fa-inverse fa-stack-1x" ng-class="{
            'fa-compress': codemirror.isFullScreen,
            'fa-expand': !codemirror.isFullScreen
          }"></i>
        </span>
      </div>

      <deployment-editor class="rs-app-launch-sidebar stick-right"
                         ng-class="{'visible': codemirror.isVisible}">
      </deployment-editor>

      <div class="rs-table-overlay rs-app-launch-empty-canvas"
           ng-show="!deployment.blueprint.services">
        <div class="rs-table-overlay-content">
          <div class="rs-table-overlay-title">You don't have any services yet.</div>
          <div class="rs-table-overlay-subtitle">Add one now.</div>
          <div class="rs-table-overlay-message">
            Drag a service here. We'll draw the topology, just for you.
          </div>
        </div>
      </div>

      <div class="rs-app-config-controls checkmate-flavors"
           ng-class="{'config-open': flavors.list.length}">
        <cm-flavor-select class="span4"></cm-flavor-select>
      </div>

      <div class="rs-app-launch-controls">
        <div class="rs-btn-group rs-pull-right">
          <span class="rs-pull-left rs-quiet" ng-show="!auth.identity.loggedIn">
            <i class="fa fa-exclamation-triangle"></i>
            You must have Rackspace credentials to Launch or Simulate.
            <a href="#" ng-click="loginPrompt()">Authenticate</a>
          </span>
          <button class="rs-btn rs-btn-primary"
                  ng-disabled="!auth.identity.loggedIn || submitting"
                  ng-click="submit()">Build</button>
          <button class="rs-btn"
                  ng-disabled="!auth.identity.loggedIn || submitting"
                  ng-click="submit('simulate')">Simulate</button>
          <button class="rs-btn"
                  ng-disabled="!controls.canRevert"
                  ng-click="revert()">Revert</button>
          <button class="rs-btn"
                  ng-disabled="!deployment.blueprint.services"
                  ng-click="reset()">Reset</button>
        </div>
        <div class="rs-btn-group">
          <button class="rs-btn rs-btn-secondary" ng-disabled="true">Import</button>
          <button class="rs-btn rs-btn-secondary"
                  ng-disabled="!deployment.blueprint.services"
                  ng-click="export()">Export</button>
        </div>
      </div> <!-- /.rs-app-launch-controls -->

      <div class="rs-app-launch-controls rs-app-prompt {{prompt.classes.join(' ')}}"
           ng-repeat="prompt in prompts"
           ng-class="{'prompt-open': prompt.isVisible}">
        <i class="fa fa-close rs-pull-right"
           ng-show="prompt.isDismissible"
           ng-click="prompt.isVisible = false;"></i>
        <i class="{{prompt.icon}}" style="opacity:.5;"></i>
        {{prompt.message}}
        <button class="rs-btn"
                ng-click="prompt.action()">
          {{prompt.actionLabel}}
        </button>
      </div>

    </div>

  </div> <!-- /.rs-app-launch-container -->
</div> <!-- /.rs-container -->
