<form ng-submit="open_modal('custom_deployment_warning')">
  <h4>Create a Deployment</h4>
  Name this deployment: <input type="text" ng-model="deployment.name" required>
  </input>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>ID</th>
        <th>Region</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="decorated_resource in selected_resources">
        <td><i ng-click="remove_from_deployment(decorated_resource)" class="icon-minus-sign-alt clickable"></i></td>
        <td>{{decorated_resource.object['dns-name']}}</td>
        <td>{{decorated_resource.object['instance']['id']}}</td>
        <td>{{decorated_resource.object['region']}}</td>
        <td>{{decorated_resource.object['status']}}</td>
      </tr>
    </tbody>
  </table>

  <input type="submit" class='btn' value='Add to Checkmate' />
  <!-- custom_deployment_warning -->
  <div modal="modal_window.custom_deployment_warning" close="close_modal('custom_deployment_warning')" options="modal_opts" tabindex="-1" role="dialog" aria-labelledby="custom_deployment_warning" aria-hidden="true">
    <div class="modal-header">
      <h3 id="custom_deployment_warning" class="alert">Attention!</h3>
    </div>
    <div class="modal-body">
      The following resources will be added to a custom deployment (<strong>{{deployment.name}}</strong>)
      and you will be able to manage this deployment within the Checkmate interface.
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Region</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="decorated_resource in selected_resources">
            <td>{{decorated_resource.object['dns-name']}}</td>
            <td>{{decorated_resource.object['instance']['id']}}</td>
            <td>{{decorated_resource.object['region']}}</td>
            <td>{{decorated_resource.object['status']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button ng-click="submit()"
              class="btn btn-primary">
        Go ahead and them to Checkmate
      </button>
      <button class="btn" ng-click="close_modal('custom_deployment_warning')">Cancel</button>
    </div>
  </div>

</form>

