<div class='well'>
  <h4>
    Databases
    <button ng-click="get_databases()" class="btn btn-small pull-right">
      <i class="icon-refresh"></i>
    </button>
  </h4>
  <div class='alert'>Due to limitations in the Database API, <b>all</b> databases are displayed below, <b>including ones that are already part of another deployment</b>. Take caution in selecting your resources</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Region</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="decorated_db in resources_by_provider['database'] | orderBy:'object.instance.id' | filter: {in_checkmate: false}">
        <td>{{decorated_db.object['dns-name']}}</td>
        <td>{{decorated_db.object['instance']['id']}}</td>
        <td>{{decorated_db.object['region']}}</td>
        <td>{{decorated_db.object['status']}}</td>
        <td><i ng-click="add_to_deployment(decorated_db)" class="icon-plus-sign-alt clickable"></i></td>
      </tr>

      <tr class='messages'>
        <td colspan="5">
          <div ng-show="loading_status.database">
            <img class="loading" src="/img/ajax-loader.gif" />
            Loading...
          </div>

          <div ng-show="resources_by_provider['database'].length == 0">
            No databases found
          </div>

          <div ng-show="error_msgs.database">
            {{error_msgs.database}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
