.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

checkmate-codemirror .cm-s-lesser-dark.CodeMirror,
checkmate-codemirror .cm-s-lesser-dark .CodeMirror-gutters {
  background: transparent;
}
.cm-s-lesser-dark .CodeMirror-gutters {
  border-right: 1px solid #555;
}

span.CodeMirror-foldmarker {
  color: rgb(188, 188, 194);
  text-shadow: none;
}
