/* Topology Styles */
.blueprint-topology {
  position: relative;
  z-index: 700;
  --webkit-cursor: move;
  --moz-cursor: move;
  cursor: move;
}
.overlay {
  fill: none;
  pointer-events: all;
}
text.fa {
  font-family: FontAwesome;
}

/* Services */
.service {
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}
.service.dragging {
  cursor:grabbing;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
}
.service-title tspan {
  font-size: 10px;
  fill: #999;
  font-weight: bold;
}

/* Components */
.component-title tspan {
  font-size: 16px;
  fill: #666;
  font-weight: 100;
  letter-spacing: .04em;
}

.service-container,
.component-container {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 1;
}
.deactivated {
  opacity: .3;
}

g.selected > .service-container,
g.selected > .component-container {
  stroke-width: 4px;
  stroke: #aaa;
  stroke-dasharray: 8;
}
.component-remover {
  fill: #bdc3c7;
}
.component-remover:hover {
  cursor: pointer;
  fill: #c0392b;
}

/* Relations */
g.relation-linker:hover {
  cursor: pointer;
}
g.relation-linker:hover circle.relation-link-container {
  stroke: #ccc;
  stroke-width: 1;
}
g.relation-linker text {
  fill: #999;
}
g.relation-linker:hover text {
  fill: #2980b9;
}
g.relation-linker:hover circle.relation-link-container {
  stroke: #2980b9;
}

g.relation-linker.dragging circle {
  stroke: #1abc9c;
}

g.relation-linker.target text {
  fill: #1abc9c;
}
g.relation-linker.target circle {
  stroke: #1abc9c;
}

g.relation-linker.target.unsuitable text {
  fill: #c0392b;
}
g.relation-linker.target.unsuitable circle {
  stroke: #c0392b;
}

path.linker {
  fill: none;
  stroke: #95a5a6;
  stroke-width: 2px;
  cursor: default;
}

/* Relations - Indicator */
g.relation-indicator .relation-indicator-circle {
  fill: #bdc3c7;
}

g.relation-indicator:hover .relation-indicator-circle {
  fill: #3498db;
  cursor: pointer;
}
g.relation-indicator .connection {
  display: none;
}
g.relation-indicator.active .connection {
  display: block;
}
g.relation-indicator .connection text {
  font-size: 11px;
  fill: #7f8c8d;
}

/* Connections */
.connections-arrow {
  fill: #ccc;
  display: none;
}
.connections-container {
  fill: #fff;
  stroke: #ccc;
  display: none;
}
g.relation-indicator.active .connections-container,
g.relation-indicator.active .connections-arrow {
  display: block;
}
