<div class='well'>
  <h4>
    Databases
    <button ng-click="get_resources('database')" class="btn btn-small pull-right">
      <i class="icon-refresh"></i>
    </button>
  </h4>
  <div class='alert'>Displaying all databases that are not part of a deployment in <b>this</b> instance of Checkmate.  Due to limitations in the Database API, we cannot be sure that these databases are not managed by a different instance of Checkmate.</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Region</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="decorated_db in resources_by_provider['database'] | orderBy:'object.instance.id' | filter: {in_checkmate: false}">
        <td>{{decorated_db.object['dns-name']}}</td>
        <td>{{decorated_db.object.instance.id}}</td>
        <td>{{decorated_db.object.instance.region}}</td>
        <td>{{decorated_db.object.status}}</td>
        <td><i ng-click="add_to_deployment(decorated_db)" class="fa fa-plus clickable"></i></td>
      </tr>

      <tr class='messages'>
        <td colspan="5">
          <div ng-show="loading_status.database">
            <img class="loading" src="/img/ajax-loader.gif" />
            Loading...
          </div>

          <div ng-show="resources_by_provider['database'].length == 0">
            No databases found
          </div>

          <div ng-show="error_msgs.database">
            {{error_msgs.database}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
