<div class="entries container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th ng-show="is_admin(true)">Tenant</th>
        <th>Local</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items | orderBy:'name'" >
        <td>
          <a ng-show="item.tenantId"
             ng-href="/{{item.tenantId}}/blueprints/{{item.id}}">
            {{item.id}}
          </a>
          <span ng-hide="item.tenantId">{{item.id}}</span>
        </td>
        <td>{{item.name}}</td>
        <td ng-show="is_admin(true)">{{item.tenantId}}</td>
        <td>{{item.isLocal ? 'Locally Saved' : 'External'}}</td>
      </tr>
    </tbody>
  </table>
</div>
