<div class="span3 summaryBar">
    <div class="summaries">
    <div class="well summary">
        <ul class="nav nav-list">
          <li class="nav-header">Limited Options</li>
          <li>
            This deployment includes a default environment and blueprint. It has been designed with Managed Cloud defaults
            incorporated in it.
          </li>
        </ul>
    </div>
    <div class="well summary" style="display: none;">
        <ul class="nav nav-list">
          <li class="nav-header">YAML</li>
          <li>
            <pre class="prettyprint lang-yaml">{{answers | yaml}}</pre>
          </li>
        </ul>
    </div>
  </div>
</div>
<div class="entries">
  <div class="entry well">
    <div class="row-fluid">
      <div class="span9">
        <div class="page-header">
          <h1>{{blueprint.name}}</h1>
        </div>
        <p>
          {{blueprint.description}}
        </p>
        <p ng-cloak ng-show="is_unsupported_account()" class="alert">
          This account is a RackConnect account. RackConnect accounts are currently not supported by this Blueprint.
        </p>
        <hr/>    
        <div class="alert alert-info" ng-cloak ng-show="!showSettings()">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Heads up!</strong> You need to select an environment and blueprint before I can
          show you the settings.
        </div>
    
        <form class="form-horizontal">
          <fieldset>
            <div class="control-group">
              <label class="control-label required" for="environment">Environment</label>
              <div class="controls">
                <select id="environment" class="span6" ng-model="environment" ng-change="onBlueprintChange()"
                        ng-options="environment.name for (id,environment) in environments" required>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label required" for="blueprint">Blueprint</label>
              <div class="controls">
                <select id="blueprint" class="span6" ng-model="blueprint" ng-change="onBlueprintChange()" style="width:350px"
                        ng-options="blueprint.name for (id,blueprint) in blueprints" required>
                </select>
              </div>
            </div>
          </fieldset>
    
          <fieldset ng-hide="!showSettings()">
            <legend>Options</legend>
            <div class="control-group" ng-repeat="setting in settings" compile-html="renderSetting(setting)">
            </div>
    
            <div class="form-actions">
              <button ng-click="submit(false)" class="btn btn-primary" ng-disabled="!auth.loggedIn || is_unsupported_account()">Build It!</button>
              <!-- SIMULATE BUTTON PLACEHOLDER - do not change this comment, used for substitution!! -->
              <button ng-click="loginPrompt()" class="btn" ng-hide="auth.loggedIn">Log in to execute this workflow</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <script id="setting-string" type="text/ng-template">
    <label class="control-label capitalize {{#required}}required{{/required}}" for="{{id}}">{{label}}</label>
    <div class="controls">
      <input type="text" class="input-xlarge ng-model" id="{{id}}" ng-model="answers['{{id}}']"
              {{#required}}required{{/required}} {{#regex}}ng-pattern="{{regex}}"{{/regex}}
              {{#default}}value="{{default}}"{{/default}} {{#sample}}placeholder="{{sample}}"{{/sample}}>
      {{#description}}<p class="help-block">{{description}}</p>{{/description}}
    </div>
  </script>

  <script id="setting-password" type="text/ng-template">
    <label class="control-label capitalize {{#required}}required{{/required}}" for="{{id}}">{{label}}</label>
    <div class="controls">
      <input type="password" class="input-xlarge ng-model" id="{{id}}" ng-model="answers['{{id}}']"
              {{#required}}required{{/required}} {{#regex}}ng-pattern="{{regex}}"{{/regex}}
              {{#default}}value="{{default}}"{{/default}} {{#sample}}placeholder="{{sample}}"{{/sample}}>
        <button ng-click="answers['{{id}}']=generatePassword()" class="btn">Generate</button><br />
        <label class="checkbox">
            <input type="checkbox" ng-model="{{id}}.show">
            Show password
        </label>
        <span ng-show="{{id}}.show"><input type="text" class="input-xlarge ng-model" ng-model="answers['{{id}}']" disabled="true"></span>
      {{#description}}<p class="help-block">{{description}}</p>{{/description}}
    </div>​
  </script>

  <script id="setting-text" type="text/ng-template">
    <label class="control-label capitalize {{#required}}required{{/required}}" for="{{id}}">{{label}}</label>
    <div class="controls">
      <textarea cols="80" rolws="20" class="input-xlarge ng-model" id="{{id}}" ng-model="answers['{{id}}']"
              {{#required}}required{{/required}} {{#regex}}ng-pattern="{{regex}}"{{/regex}} {{#sample}}placeholder="{{sample}}"{{/sample}}>{{#default}}>"{{default}}"{{/default}}</textarea>
      {{#description}}<p class="help-block">{{description}}</p>{{/description}}
    </div>
  </script>

   <script id="setting-int" type="text/ng-template">
    <label class="control-label capitalize {{#required}}required{{/required}}" for="{{id}}">{{label}}</label>
    <div class="controls">
      <input  type="number" class="input-small" id="{{id}}" ng-model="answers['{{id}}']"
              {{#required}}required{{/required}}
              {{#default}}value="{{default}}"{{/default}}>
      {{#description}}<p class="help-block">{{description}}</p>{{/description}}
    </div>
  </script>

   <script id="setting-boolean" type="text/ng-template">
    <label class="control-label capitalize {{#required}}required{{/required}}" for="{{id}}">{{label}}</label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" class="input-xlarge" id="{{id}}" ng-model="answers['{{id}}']"
              {{#required}}required{{/required}} {{#default}}value="{{default}}"{{/default}}>
        {{#description}}{{description}}{{/description}}
      </label>
    </div>
  </script>

  <script id="setting-select" type="text/ng-template">
    <label class="control-label capitalize {{#required}}required{{/required}}" for="{{id}}">{{label}}</label>
    <div class="controls">
      <select id="{{id}}" ng-model="answers['{{id}}']" {{#required}}required{{/required}} ng-options="o for o in setting.choice">
      </select>
	  {{#description}}<p class="help-block">{{description}}</p>{{/description}}
    </div>
  </script>

  <script id="setting-select-kv" type="text/ng-template">
    <label class="control-label capitalize {{#required}}required{{/required}}" for="{{id}}">{{label}}</label>
    <div class="controls">
      <select id="{{id}}" ng-model="answers['{{id}}']" {{#required}}required{{/required}} ng-options="o.value as o.name for o in setting.choice">
      </select>
	  {{#description}}<p class="help-block">{{description}}</p>{{/description}}
    </div>
  </script>

  <script id="setting-combo" type="text/ng-template">
    <label class="control-label capitalize {{#required}}required{{/required}}" for="{{id}}">{{label}}</label>
    <div class="controls">
       <input type="text" name="state" class="input-xlarge ng-model" id="{{id}}" ng-model="answers['{{id}}']"
              {{#required}}required{{/required}} {{#regex}}ng-pattern="{{regex}}"{{/regex}}
              {{#default}}value="{{default}}"{{/default}} {{#sample}}placeholder="{{sample}}"{{/sample}} />
       <br />
       <select name="s" id="{{id}}" ng-model="answers['{{id}}']" ng-options="o for o in setting.choice" onchange="document.ex.state.value=document.ex.s.options[document.ex.s.selectedindex].value;document.ex.s.value=""><option value="" selected="selected">
       </select>
       {{#description}}<p class="help-block">{{description}}</p>{{/description}}
    </div>
   </script>
</section>

