<div class="container">
  <div class="row-fluid">
    <section class="span6 offset3">
        <h4>{{data.wf_spec.name}}</h4>
        <div class="row-fluid" ng-cloak ng-show="timeRemaining == 0">
          <div class="alert alert-success"><strong>Congratulations! Your deployment is complete.</strong>
            &nbsp;
              <p>Access your Wordpress site from <a>{{data.output.path}}</a>.</p>
              <p>The username and password are <strong>jsmith/paxwd</strong>.</p>
          </div>
        </div>
        <div class="row-fluid" ng-cloak ng-show="timeRemaining">
            <p>Your deployment is in progress.</p>
            Progress: <div class="progress">
              <div class="bar" style="width: {{percentComplete()}}%;"></div>
            </div>
            <div>
              <span class="label label-info cmtip" title="Total items">{{count}}</span> tasks: 
              <span class="label label-success cmtip" title="Completed">{{taskStates['completed']}}</span> completed, 
              <span class="label label-warning cmtip" title="Waiting">{{taskStates['waiting']}}</span> waiting, and 
              <span class="label label-important cmtip" title="Errors">{{0}}</span> errored out.
            </div>
            &nbsp;
            <div>Expected to finish {{timeRemaining | secondsETA}}</div>
            &nbsp;
            <div class="alert">You can access an <a href=".">advanced</a> view of
            the workflow to manage any errors or hack at the workflow.</div>
        </div>
      </section>
  </div>
</div>