<div class="container-fluid" style="padding: 0">
  <div class="row-fluid" style="height: 100%">
    <div class="span3" style="height: inherit">
      <div class="row-fluid" style="height: 200px">
        <section class="summaries">
          <section class="top well" ng-cloak ng-show="showStatus">
            <div class="row-fluid" style="height: 20px;">
                <div class="span10 actions">Workflow</div>
                <div class="span2 actions">
                    <a clas="cmtip" title="Check status" href="{{data.id}}/status"><i class="icon-heart"></i></a>
                    <a clas="cmtip" title="Run workflow" href="#" ng-click="workflow_action(data.id, 'execute')"><i class="icon-play"></i></a>
                </div>
            </div>
            <h4>{{data.wf_spec.name}}</h4>
            <div class="progress" style="height: 10px;">
              <div class="bar" style="width: {{percentComplete()}}%;"></div>
            </div>
            <div>Expected to finish {{timeRemaining | secondsETA}}</div>
            <div>
              <a class="label label-info cmtip" title="Total items" ng-click="showAll()">{{count}}</a> tasks: 
              <a class="label label-success cmtip" title="Completed" ng-click="showUnread()">{{taskStates['completed']}}</a>
              <a class="label label-warning cmtip" title="Waiting" ng-click="showStarred()">{{taskStates['waiting']}}</a>  
              <a class="label label-important cmtip" title="Errors" ng-click="showRead()">{{0}}</a>
            </div>
          </section>
        </section>
      </div>
      <div class="row-fluid" style="max-height: 70%">
        <section id="spec_list" class="summaries" style="max-height: inherit">
          <section class="top">
            <a href="#{{key}}" ng-repeat="(key, spec) in data.wf_spec.task_specs" class="nohover">
              <article class="well summary" ng-click="selectSpec(key)" ng-class="{active: current_spec_index == key}" >
                <div class="row-fluid">
                  <h6>{{spec.name}} <span ng-class="state_class({state: spec_status(key)})"> {{task_count(key)}} tasks</span></h6>
                </div>
                <div class="row-fluid">
                  {{spec.description}}
                </div>
              </article>
            </a>
          </section>
        </section>
      </div>
    </div>
  </div>  
</div>
<section class="entries">
  <article class="well entry">
    <h2>{{current_spec.name}}</h2>
    <div class="row-fluid">
       <div class="span3">
        <ul class="nav nav-list">
          <li class="nav-header">Task Spec</li>
          <li>
            <a href="#" ng-click="save_spec()" class="tip" title="Save any edits of the JSON. The JSON on the right is editable!"><i class="icon-ok"></i> Save</a>
          </li>
          <li class="nav-header">Inputs</li>
          <li ng-repeat="input in current_spec.inputs"><a href="#{{input}}" ng-click="selectSpec(input)">{{input}}</a></li>
          <li class="nav-header">Outputs</li>
          <li ng-repeat="output in current_spec.outputs"><a href="#{{output}}" ng-click="selectSpec(output)">{{output}}</a></li>
        </ul>
       </div>
       <div class="span9">
        <textarea id="spec_source" ui-codemirror="{
                theme: 'lesser-dark',
                mode: {name: 'javascript', json: true},
                lineNumbers: true,
                autoFocus: true,
                lineWrapping: true,
                dragDrop: false,
                matchBrackets: true
                }" ng-model="current_spec_json"></textarea>
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> If your updates include any 'secret' values (like password or private keys) and you have not opened this screen with a ?with_secrets query parameter, then any existing secrets will be overwritten and lost
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <ul class="nav nav-list" ng-cloak ng-show="current_task_index">
          <li class="nav-header">
            Task
          </li>
          <li>
            <a href="#" ng-click="save_task()" class="tip" title="Save any edits of the JSON. The JSON on the right is editable!"><i class="icon-ok"></i> Save</a>
          </li>
          <li>
            <a href="#" ng-click="reset_task()" class="tip" title="Clear the task data and reset it"><i class="icon-repeat"></i> Reset</a>
          </li>
          <li>
            <a href="#" ng-click="execute_task()" class="tip" title="Execute task"><i class="icon-play"></i> Run Task</a>
          </li>
          <li>
            <a href="#" ng-click="resubmit_task()" class="tip" title="Clear task data, abort the Celery task, and retrigger it"><i class="icon-retweet"></i> Abort and Resubmit</a>
          </li>
          <li>
            <a ng-href="{{data.id}}/tasks/{{current_task.id}}"><i class="icon-time"></i> Legacy UI</a>
          </li>
        </ul>
      </div>
      <div class="span9" >
        <ul class="nav nav-tabs">
          <li ng-repeat="task in current_spec_tasks" ng-include="'task.html'" ng-class="{active: task.id==current_task_index}"></li>
        </ul>
        <div ng-cloak ng-show="current_task_index">
          <div id="error-alert" class="alert alert-block alert-error fade in" ng-cloak ng-show="current_task.internal_attributes.task_state.state == 'FAILURE'">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Oh snap! Something didn't work!</h4>
            <p>This error was reported: {{current_task.internal_attributes.task_state.info}}. See the code <a class="accordion-toggle cmcollapse" data-toggle="collapse" data-target="#traceback">traceback</a>.</p><div id="traceback" class="cmcollapse collapse">
              <pre>{{current_task.internal_attributes.task_state.traceback}}</pre></div>
            <p>
              <a class="btn btn-primary" href="#" ng-click="execute_task()">Run Task</a> <a class="btn btn-danger cmtip" href="#" ng-click="resubmit_task()" title="Clear task data, abort the Celery task, and retrigger it"><i class="icon-retweet"></i> Abort and Retry</a>
            </p>
          </div>
          <div id="error-alert" class="alert alert-block fade in" ng-cloak ng-show="current_task.internal_attributes.task_state.state == 'RETRY' && current_task.state != 64">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Something might be up! But we haven't given up yet...</h4>
            <p>This task is being retried. See the code <a class="accordion-toggle cmcollapse" data-toggle="collapse" data-target="#traceback2">traceback</a>.</p><div id="traceback2" class="cmcollapse collapse"><pre>{{current_task.internal_attributes.task_state.traceback}}</pre></div>
            <p>
              If you don't think this task is going to succeed you could <a class="btn btn-danger cmtip" href="#" ng-click="resubmit_task()" title="Clear task data, abort the Celery task, and retrigger it"><i class="icon-retweet"></i> Abort and Retry</a>, but please choose this carefully so we don't end up with duplicate resources!
            </p>
          </div>
        <div class="alert alert-success" ng-cloak ng-show="was_server_created()">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          Server
          <a ng-cloak ng-show="resource(current_task).id.indexOf('-')" target="_blank" href="https://mycloud.rackspace.com/a/{{auth.username}}/#compute%2CcloudServersOpenStack%2C{{current_task.attributes.region}}/{{resource(current_task).id}}">{{resource(current_task).id}}</a>
          <a ng-hide="resource(current_task).id.indexOf('-')" target="_blank" href="https://mycloud.rackspace.com/a/{{auth.username}}/#compute%2CcloudServers/{{resource(current_task).id}}">{{resource(current_task).id}}</a>
          was created with IP address {{resource(current_task).ip}}.
          Connect to it over <a href="ssh://root@{{resource(current_task).ip}}">ssh</a>.
        </div>
        <div class="alert alert-success" ng-cloak ng-show="was_loadbalancer_created()">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          Load balancer
          <a target="_blank" href="https://mycloud.rackspace.com/a/{{auth.username}}/load_balancers#rax%3Aload-balancer%2CcloudLoadBalancers%2C{{current_task.attributes.region}}/{{resource(current_task).id}}">{{resource(current_task).id}}</a>was created and
          assigned the public virtual IP (VIP) <a target="_blank" href="http://{{resource(current_task).public_ip}}/">{{resource(current_task).public_ip}}</a>.
        </div>
        <div class="alert alert-success" ng-cloak ng-show="was_database_created()">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          Database instance <a target="_blank" href="https://mycloud.rackspace.com/a/{{auth.username}}/database#rax%3Adatabase%2CcloudDatabases%2C{{current_task.attributes.region}}/{{resource(current_task).id}}">{{resource(current_task).id}}</a> was created on host {{resource(current_task).interfaces.mysql.host}}.
        </div>
          <textarea id="task_source" ui-codemirror="{
              theme: 'lesser-dark',
              mode: {name: 'javascript', json: true},
              lineNumbers: true,
              autoFocus: true,
              lineWrapping: true,
              dragDrop: false,
              matchBrackets: true
              }" ng-model="current_task_json"></textarea>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>


<script type="text/ng-template" id="task.html">
  <a href="#" ng-click="selectTask(task.id)"> Task {{task.id}}
  <span class="cmtip" ng-class="state_class(task)" title="{{task.description}}">{{state_name(task.state)}}</span></a>
</script>
