<div>
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Deployments</li>
        <li id="deployment-{{deployment.id}}" ng-repeat="deployment in deployments">
          <a ng-click="navigate(deployment.id)">{{deployment.blueprint.name | truncate:30}}</a>
        </li>
        <li class="nav-header">Search</li>
        <li>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-search"></i></span><input type="text" class="span2" ng-model="query">
          </div>
        </li>
        <li class="nav-header">Actions</li>
        <li>
          <button class="btn btn-primary" ng-click="create()">
            <i class="icon-plus icon-white"></i>Create New Deployment
          </button>
        </li>
      </ul>

    </div><!--/.well -->
  </div>

  <div class="span9">
    <div class="page-header">
      <h1>Current Deployments</h1>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Environment</th>
          <th>Status</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable" ng-repeat="deployment in deployments | filter:query">
          <td style="width:50px">
            <div class="btn-group pull-left">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-cog"></i><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a ng-click="navigate(deployment.id)">Edit</a></li>
                <li><a ng-click="delete(deployment)">Delete</a></li>
              </ul>
            </div>
          </td>
          <td ng-click="navigate(deployment.id)">{{deployment.blueprint.name}}</td>
          <td ng-click="navigate(deployment.id)">{{deployment.environment.name}}</td>
          <td style="text-align: center; width:75px" ng-click="navigate(deployment.id)">{{deployment.status}}</td>
          <td style="text-align: center; width:100px" ng-click="navigate(deployment.id)">{{deployment.created}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <script type="text/javascript">
    $(document).ready(function() {
      $('#nav-elements li').removeClass('active');
      $('#nav-deployments').addClass('active');
      $('#deployment-{{deployment.id}}').addClass('active');
    });
  </script>
</div>