<div ng-controller="DeploymentNewCtrl">

  <div class="span9">
    <div class="page-header">
      <h1>Create a New Deployment</h1>
    </div>

    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="environment">Environment</label>
          <div class="controls">
            <select id="environment" class="span3" ng-model="environment" ng-change="updateSettings()"
                    ng-options="environment.name for (id,environment) in environments" required>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="blueprint">Blueprint</label>
          <div class="controls">
            <select id="blueprint" class="span3" ng-model="blueprint" ng-change="updateSettings()"
                    ng-options="blueprint.name for (id,blueprint) in blueprints" required>              
            </select>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Settings</legend>        
        <div class="control-group" ng-repeat="setting in settings" 
             compile-html="renderSetting(setting)">
        </div>

        <div class="form-actions">
          <button ng-click="submit()" class="btn btn-primary">Build It!</button>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Help</li>
        <li>
          This screen allows you to create and launch a deployment. You'll start by selecting
          an environment and a blueprint. Both of these selections will expose settings that you
          will need to configure how you want. 
        </li>
        <li>
          Once you are happy with everything, click the Build It! button and Checkmate will start
          provisining your environment.
        </li>
      </ul>
    </div><!--/.well -->
  </div>


  <script type="text/javascript">
    $(document).ready(function() {
      $('#nav-elements li').removeClass('active');
      $('#nav-deployments').addClass('active');
    });
  </script>

  <script id="setting-string" type="text/html">
    <label class="control-label capitalize" for="{{id}}">{{label}}</label>
    <div class="controls">
      <input  type="text" class="input-xlarge ng-model" id="{{id}}" ng-model="answers['{{id}}']" 
              {{#required}}required{{/required}} {{#regex}}ng-pattern="{{regex}}"{{/regex}}
              {{#default}}value="{{default}}"{{/default}}>
      {{#description}}<p class="help-block">{{description}}</p>{{/description}}
    </div>
  </script>

   <script id="setting-number" type="text/html">
    <label class="control-label capitalize" for="{{id}}">{{label}}</label>
    <div class="controls">
      <input  type="number" class="input-small" id="{{id}}" ng-model="answers['{{id}}']" 
              {{#required}}required{{/required}} 
              {{#default}}value="{{default}}"{{/default}}>
      {{#description}}<p class="help-block">{{description}}</p>{{/description}}
    </div>
  </script>

   <script id="setting-boolean" type="text/html">
    <label class="control-label capitalize" for="{{id}}">{{label}}</label>
    <div class="controls">
      <label class="checkbox">      
        <input type="checkbox" class="input-xlarge" id="{{id}}" ng-model="answers['{{id}}']" 
              {{#required}}required{{/required}} {{#default}}value="{{default}}"{{/default}}>
        {{#description}}{{description}}{{/description}}
      </label>
    </div>
  </script>

  <script id="setting-select" type="text/html">
    <label class="control-label capitalize" for="{{id}}">{{label}}</label>
    <div class="controls">
      <select id="{{id}}" ng-model="answers['{{id}}']" {{#required}}required{{/required}}
              ng-options="element.name for (id,element) in options">
      </select>
    </div>
  </script>
</div>
