<div class="span12">
  <div class="page-header">
    <h1>Deployment Status
      <small>({{deployment.id}})</small>
    </h1>
  </div>

  <div class="span7 well">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>State</th>
            <th>Tasks</th>
            <th>State</th>
            <th>Tasks</th>
          </tr>          
        </thead>
        <tbody>
          <tr>
            <td class="header">Future</td><td>{{taskStates["future"]}}</td>
            <td class="header">Likely</td><td>{{taskStates["likely"]}}</td>
          </tr>
          <tr>
            <td class="header">Maybe</td><td>{{taskStates["maybe"]}}</td>
            <td class="header">Waiting</td><td>{{taskStates["waiting"]}}</td>
          </tr>
          <tr>
            <td class="header">Ready</td><td>{{taskStates["ready"]}}</td>
            <td class="header">Cancelled</td><td>{{taskStates["cancelled"]}}</td>
          </tr>
          <tr>
            <td class="header">Completed</td><td>{{taskStates["completed"]}}</td>
            <td class="header">Triggered</td><td>{{taskStates["triggered"]}}</td>
          </tr>
        </tbody>        
      </table>
  </div>

  <div class="span3 well">
    <div class="fraction">
      {{}}
    </div>
    <div class="progress progress-striped active">
      <div class="bar" style="width: {{percentComplete()}}%;"></div>
    </div>
    <div style="text-align: center">
      <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
    </div>
  </div>
</div>

<div id="task_container" style="padding-left: 30px;">
</div>

<script id="task" type="text/html">
  <div id="{{id}}" class="alert task span2 {{state}}">
    {{id}}:{{name}}
  </div>
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#nav-elements li').removeClass('active');
    $('#nav-deployments').addClass('active');    
  });
</script>

