<div>
  <div class="span9">

    <div class="page-header">
      <h1>Environment Detail</h1>
    </div>

    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="name" ng-model="environment.name" required>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <textarea class="input-xlarge" id="description" rows="7" 
                      ng-model="environment.description">
            </textarea>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Providers</legend>

        <div class="control-group" ng-repeat="provider in providers">
          <label class="control-label capitalize" for="{{provider.id}}">{{provider.label}}</label>
          <div class="controls">
            <select id="{{provider.id}}" ng-model="selectedProviders[provider.id]"
                    ng-options="o as o.name for o in provider.options" required>
            </select>
          </div>
        </div>
      </fieldset>
      <div class="form-actions">        
        <button class="btn" ng-click="reset()">Reset</button>
        <button class="btn btn-primary" ng-click="update(environment)">Save changes</button>
      </div>
    </form>
  </div>

  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Help</li>
        <li>
          <p>
            Everyone likes contextual help! This form allows you to edit an existing environment 
            or create a new one.
          </p>
        </li>
        <li class="nav-header">Providers</li>
        <li>
          <p>
            Providers are the engines of your configuration. Whenever you need a particular resource
            like compute or storage, that resources is gotten from your providers, e.g. Rackspace.
          </p>
        </li>
        
      </ul>
    </div><!--/.well -->
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#nav-elements li').removeClass('active');
    $('#nav-environments').addClass('active');
  });
</script>
