<div ng-controller="EnvironmentListCtrl">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Environments</li>
        <li id="environment-{{environment.id}}" ng-repeat="environment in environments">
          {{environment.name | truncate:32}}
        </li>
        <li class="nav-header">Search</li>
        <li>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-search"></i></span><input type="text" class="span2" ng-model="query"> 
          </div>    
        </li>
        <li class="nav-header">Actions</li>
        <li>
          <button class="btn btn-primary" ng-click="create()"><i class="icon-plus icon-white"></i>Create New Environment</button>
        </li>
      </ul>

    </div><!--/.well -->
  </div>

  <div class="span9">
    <div class="page-header">
      <h1>Current Environments</h1>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Providers</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="environment in environments | filter:query">
          <td></td>
          <td>{{environment.name}}</td>
          <td>{{environment.description}}</td>
          <td>{{provider_count(environment)}}</td>
        </tr>
      </tbody>      
    </table>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#nav-environments').addClass('active');
      $('#environment-{{environment.id}}').addClass('active');
    });
  </script>
</div>

