<div>
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Providers</li>
        <li id="provider-{{provider.id}}" ng-repeat="provider in providers">
          <a ng-click="navigate(provider.id)">{{provider.name | truncate:32}}</a>
        </li>
        <li class="nav-header">Search</li>
        <li>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-search"></i></span><input type="text" class="span2" ng-model="query"> 
          </div>    
        </li>
      </ul>
    </div><!--/.well -->
  </div>

  <div class="span9">
    <div class="page-header">
      <h1>Current Providers</h1>
    </div>

    <table id="env-table" class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Vendor</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable" ng-repeat="provider in providers | filter:query">
          <td style="width:50px">
            <div class="btn-group pull-left">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-cog"></i><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a ng-click="navigate(provider.id)">Edit</a></li>
                <li><a ng-click="delete(provider)">Delete</a></li>
              </ul>
            </div>
          </td>
          <td ng-click="navigate(provider.id)">{{provider.name}}</td>
          <td ng-click="navigate(provider.id)">{{provider.vendor}}</td>
        </tr>
      </tbody>      
    </table>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#nav-elements li').removeClass('active');
      $('#nav-providers').addClass('active');
      $('#provider-{{provider.id}}').addClass('active');
    });
  </script>
</div>

