<div class="navbar navbar-top no-select" ng-controller="NavBarController">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" data-toggle="modal" href="#modalAbout">
        Workflow
      </a>
      <ul class="nav">
        <li class="divider-vertical"></li>
        <li class="itemCount"><a ng-click="showAll()">{{tasks.allCount()}} Tasks</a></li>
        <li class="divider-vertical"></li>
        <li class="itemCount"><a ng-click="showUComplete()">{{tasks.unreadCount()}} Complete</a></li>
        <li class="divider-vertical"></li>
        <li class="itemCount"><a ng-click="showWaiting()">{{tasks.starredCount()}} Waiting</a></li>
        <li class="divider-vertical"></li>
        <li class="itemCount"><a ng-click="showError()">{{tasks.readCount()}} Error</a></li>
        <li class="divider-vertical"></li>
      </ul>
      <form class="navbar-search pull-left" id="navSearch">
        <input type="search" ng-model="$parent.search" class="search-query" placeholder="Search">
      </form>
      <ul class="nav pull-right">
        <!--<li><a ng-click="showSettings()"><i class="icon-cog icon-white"></i></a></li>-->
        <!--
        <li><a {{action "showUserConfig" on="click"}}><i class="icon-user icon-white"></i></a></li>
        -->
        <li><a ng-click="refresh()" title="Refresh all tasks" alt="Refresh all tasks"><i class="icon-refresh icon-white"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="span4">
  <h4>{{workflow.wf_spec.name}}</h4>
  <div id="task_container" class="row-fluid">
    <div class="alert task span6 {{node.state}}" ng-repeat="(name, node) in tasks.filtered" id="spec-{{$index}}" ng-model="node.spec">
      {{name}}
      <span ng-repeat="(id, element) in node.elements" id="{{element.task.id}}" ng-model="element.task" class="{{element.state}}">
        <a href="#/workflows/{{workflow.id}}/tasks/{{id}}">{{id}}</a>
      </span>
    </div>
  </div>
</div>
<div class="span8">
  content
</div>

<!--
  <div id="task_container" style="padding-left: 30px;">
    <div ng-repeat="task in jit" id="{{task.id}}" ng-model="task" class="alert task span2 {{task.state}}">
      {{task.task_spec}}{{task.id}}
      <a data-toggle="modal" href="#{{task.id}}-modal">details</a>
      <div id="{{task.id}}-modal">
        <form id="{{task.id}}-form" method="POST" action="#/workflows/{{workflow.id}}/tasks/{{task.id}}">
          <textarea name="object" id="{{task.id}}-editor" ng-bind-html-unsafe="."></textarea>
        </form>
        <script>
          var foldFunc = CodeMirror.newFoldFunction(CodeMirror.braceRangeFinder);
          var Editor = CodeMirror.fromTextArea(document.getElementById('{{task.id}}-editor'), {
            theme: 'lesser-dark',
            mode: {name: "javascript", json: true},
            lineNumbers: true,
            onGutterClick: foldFunc,
            autoFocus: true,
            lineWrapping: true,
            dragDrop: false,
            matchBrackets: true
            });
        </script>
      </div>
    </div>
  </div>
<script id="Xtask" type="text/html">
  <div id="{{task.id}}" class="alert task span2 {{task.state}}">
    {{task.name}}
    <a data-toggle="modal" href="#{{task.id}}-modal">details</a>
    <div id="{{task.id}}-modal" style="display: none;">
      <form id="{{task.id}}-form" method="POST" action="#/workflows/{{workflow.id}}/tasks/{{task.id}}">
        <textarea name="object" id="{{task.id}}-editor">{{task}}</textarea>
      </form>
      <script>
        var foldFunc = CodeMirror.newFoldFunction(CodeMirror.braceRangeFinder);
        var Editor = CodeMirror.fromTextArea(document.getElementById('{{task.id}}-editor'), {
          theme: 'lesser-dark',
          mode: {name: "javascript", json: true},
          lineNumbers: true,
          onGutterClick: foldFunc,
          autoFocus: true,
          lineWrapping: true,
          dragDrop: false,
          matchBrackets: true
          });
      </script>
    </div>

  </div>
</script>
-->
<script type="text/javascript">
  $(document).ready(function() {
    $('#nav-elements li').removeClass('active');
    $('#nav-workflows').addClass('active');
  });

  $('.task').hover(
    function() {
      //hover-in
      $(this).addClass('hovering');
      $scope.showConnections($(this));
    },
    function() {
      $(this).removeClass('hovering');
    }
  );
</script>
