<ul class="nav nav-list">
  <!-- INFO -->
  <li class="nav-header">
    Info
  </li>

  <li ng-show="is_resumable()">
    <a ng-click="resume()">Resume</a>
  </li>

  <li ng-show="is_retriable()">
    <a ng-click="retry()">Retry</a>
  </li>

  <li>
  <a class="controls" ng-switch="data.secrets" ng-class="{muted: data.secrets != 'AVAILABLE'}" ng-click="showSecrets()">
      <i class="icon-lock"></i>
      <span ng-switch-when="AVAILABLE" style="display: inline-block">Secrets available</span>
      <span ng-switch-when="LOCKED">Secrets Dismissed</span>
      <span ng-switch-when="GENERATING">available soon</span>
      <span ng-switch-default>No secrets</span>
    </a>
  </li>

  <!-- COMMANDS -->
  <li class="nav-header">
    Commands
  </li>
  <li>
    <a ng-click="save()" tooltip="Save any edits of the JSON. The JSON on the right is editable!" tooltip-placement="right">
      <i class="icon-ok"></i>
      Save
    </a>
  </li>

  <li>
    <a ng-click="wrap_admin_call(data['created-by'], sync, data)" tooltip="Sync the deployment resources" tooltip-placement="right">
      <i class="icon-retweet"></i>
      Sync
    </a>
  </li>

  <li>
    <a ng-click="open_modal('check_warning'); wrap_admin_call(data['created-by'], check, data)" tooltip="Check the currect deployment for common errors" tooltip-placement="right">
      <i class="icon-check"></i>
      Check for errors
    </a>
    <!-- check_warning -->
    <div modal="modal_window.check_warning" close="close_modal('check_warning')" options="modal_opts" tabindex="-1" role="dialog" aria-labelledby="warning_title" aria-hidden="true">
      <div class="modal-header">
        <h3 id="warning_title" class="alert">Deployment Check Results</h3>
      </div>
      <div class="modal-body">
        <div ng-show="loading.check">
          <img class="loading" src="/img/ajax-loader.gif" />
          Please wait while we check your deployment for errors...
        </div>
        <div ng-hide="loading.check">
          <ng-include src="'/partials/deployments/_check_results.html'"></ng-incude>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close_modal('check_warning')">OK</button>
      </div>
    </div>
  </li>

  <li>
    <a ng-click="open_modal('delete_warning')" tooltip="Delete Resources and Deployment" tooltip-placement="right">
      <i class="icon-remove"></i>
      Delete
    </a>
    <!-- delete_warning -->
    <div modal="modal_window.delete_warning" close="close_modal('delete_warning')" options="modal_opts" tabindex="-1" role="dialog" aria-labelledby="warning_title" aria-hidden="true">
      <div class="modal-header">
        <h3 id="warning_title" class="alert alert-danger">Warning! Data Destructive Task</h3>
      </div>
      <div class="modal-body">
        <p>Deleting the deployment will also delete all resources and data in it.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="wrap_admin_call(data['created-by'], delete_deployment)">Go ahead and Delete</button>
        <button class="btn" ng-click="close_modal('delete_warning')">Cancel</button>
      </div>
    </div>
  </li>

  <li>
    <a ng-click="open_modal('force_delete_warning')" tooltip="Delete Resources and Deployment even if status does not allow it" tooltip-placement="right">
      <i class="icon-remove"></i> Force Delete
    </a>
    <!-- forceDeleteWarning -->
    <div modal="modal_window.force_delete_warning" close="close_modal('force_delete_warning')" options="modal_opts" tabindex="-1" role="dialog" aria-labelledby="forceDeleteWarningLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="forceDeleteWarningLabel" class="alert alert-danger">Warning! Data Destructive Task</h3>
      </div>
      <div class="modal-body">
        <p>Deleting the deployment will also delete all resources and data in it.</p>
        <p>A forced delete may also result in a deployment that is broken and in an indeterminate state.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" href='#' ng-click="wrap_admin_call(data['created-by'], delete_deployment, '1')">Go ahead and Force Delete</button>
        <button class="btn" ng-click="close_modal('force_delete_warning')">Cancel</button>
      </div>
    </div>
  </li>

  <!-- WORKFLOW -->
  <li class="nav-header">
    Current Workflow
  </li>
  <li>
    <a ng-show="data.operation.link" href="{{data.operation.link}}">
      <i class="icon-tasks"></i> {{data.operation.type | capitalize}}
    </a>
  </li>
  <!-- WORKFLOW HISTORY -->
  <li class="nav-header">
    Workflow History
  </li>

  <li ng-repeat="operation in operations_history | filter:{ link: '!canvas' }">
    <a href="{{operation.link}}">
      <i class="icon-list"></i>
      {{operation.type | capitalize}}
    </a>
  </li>

</ul>
