<ul class="nav nav-list">
  <!-- COMMANDS -->
  <li class="nav-header">
    Commands
  </li>
  <li>
    <a ng-click="save()" tooltip="Save any edits of the JSON. The JSON on the right is editable!" tooltip-placement="right">
      <i class="icon-ok"></i>
      Save
    </a>
  </li>

  <li ng-show="showCommands" >
    <a ng-click="wrap_admin_call(data['created-by'], sync, data)" tooltip="Sync the deployment resources" tooltip-placement="right">
      <i class="icon-retweet"></i>
      Sync
    </a>
  </li>

  <li ng-show="available_services(data).length > 0">
    <a ng-show="data.status == 'UP'" ng-click="open_modal('delete_nodes_warning')" tooltip="Delete Nodes from current deployment" tooltip-placement="right">
      <i class="icon-arrow-down"></i>
      Scale Down
    </a>
    <a ng-hide="data.status == 'UP'" class="muted" tooltip="Please wait until deployment status is UP" tooltip-placement="right">
      <i class="icon-arrow-down"></i>
      Scale Down
    </a>
    <!-- delete_nodes_warning -->
    <div modal="modal_window.delete_nodes_warning" close="close_modal('delete_nodes_warning')" options="modal_opts" tabindex="-1" role="dialog" aria-labelledby="warning_title" aria-hidden="true">
      <div class="modal-header">
        <h3 id="warning_title" class="alert alert-danger">Warning! Data Destructive Task</h3>
      </div>
      <div class="modal-body" ng-init="selected_resources = {}">
        Select the nodes you want to delete:
        <label class="checkbox" ng-repeat="resource in resources" ng-show="is_scalable_service(data, resource) && resource.status != 'DELETED'">
          <input type="checkbox" ng-model="selected_resources[resource.index]">
          {{resource['dns-name']}}
        </label>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="delete_nodes(data, selected_resources); close_modal('delete_nodes_warning');">Go ahead and Delete these nodes</button>
        <button class="btn" ng-click="close_modal('delete_nodes_warning')">Cancel</button>
      </div>
    </div>
  </li>

  <li>
    <a ng-show="showCommands" ng-click="open_modal('delete_warning')" tooltip="Delete Resources and Deployment" tooltip-placement="right">
      <i class="icon-remove"></i>
      Delete
    </a>
    <a ng-hide="showCommands" class="muted" tooltip="You must impersonate this user to use this" tooltip-placement="right">
      <i class="icon-remove"></i>
      Delete
    </a>
    <!-- delete_warning -->
    <div modal="modal_window.delete_warning" close="close_modal('delete_warning')" options="modal_opts" tabindex="-1" role="dialog" aria-labelledby="warning_title" aria-hidden="true">
      <div class="modal-header">
        <h3 id="warning_title" class="alert alert-danger">Warning! Data Destructive Task</h3>
      </div>
      <div class="modal-body">
        <p>Deleting the deployment will also delete all resources and data in it.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="delete_deployment()">Go ahead and Delete</button>
        <button class="btn" ng-click="close_modal('delete_warning')">Cancel</button>
      </div>
    </div>
  </li>

  <li>
    <a ng-show="showCommands" ng-click="open_modal('force_delete_warning')" tooltip="Delete Resources and Deployment even if status does not allow it" tooltip-placement="right">
      <i class="icon-remove"></i> Force Delete
    </a>
    <a ng-hide="showCommands" class="muted" tooltip="You must impersonate this user to use this" tooltip-placement="right">
      <i class="icon-remove"></i> Force Delete
    </a>
    <!-- forceDeleteWarning -->
    <div modal="modal_window.force_delete_warning" close="close_modal('force_delete_warning')" options="modal_opts" tabindex="-1" role="dialog" aria-labelledby="forceDeleteWarningLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="forceDeleteWarningLabel" class="alert alert-danger">Warning! Data Destructive Task</h3>
      </div>
      <div class="modal-body">
        <p>Deleting the deployment will also delete all resources and data in it.</p>
        <p>A forced delete may also result in a deployment that is broken and in an indeterminate state.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" href="#" ng-click="delete_deployment('1')">Go ahead and Force Delete</button>
        <button class="btn" ng-click="close_modal('force_delete_warning')">Cancel</button>
      </div>
    </div>
  </li>

  <!-- WORKFLOWS -->
  <li class="nav-header">
    Workflows
  </li>
  <li ng-repeat="operation in data['operations-history'].reverse() | filter:{ link: '!canvas' }">
    <a ng-show="showCommands" href="{{operation.link}}">{{operation.type | capitalize}}</a>
    <a ng-hide="showCommands" class="muted" tooltip="You must impersonate this user to use this" tooltip-placement="right">{{operation.type | capitalize}}</a>
  </li>
  <li>
    <a ng-show="showCommands &amp;&amp; data.operation.link" href="{{data.operation.link}}">{{data.operation.type | capitalize}}</a>
    <a ng-hide="showCommands" class="muted" tooltip="You must impersonate this user to use this" tooltip-placement="right">{{data.operation.type | capitalize}}</a>
  </li>
</ul>
