<p class="lead">Infrastructure</p>

<table class="table table-bordered table-condensed">
  <thead><tr><th>Name</th><th>Type</th><th>IP</th><th>Build Status</th></tr></thead>
  <tbody>
    <tr ng-repeat="resource in resources" ng-hide="['application', 'key-pair', 'user', 'database', ''].indexOf(resource.type || '') > -1">
      <td>
        <div class="dropdown" ng-show="urlBuilder.is_valid(resource)">
          <a class="dropdown-toggle">{{resource['dns-name']}}</a>
          <ul class="dropdown-menu">
            <li>
              <a target="_blank" ng-href="{{urlBuilder.get_url('cloud_control', resource, data.tenantId, auth.context.username)}}">Cloud Control</a>
            </li>
            <li>
              <a target="_blank" ng-href="{{urlBuilder.get_url('my_cloud', resource, data.tenantId, auth.context.username)}}">My Cloud</a>
            </li>
            <li>
              <a target="_blank" ng-href="{{urlBuilder.get_url('nova_stats', resource, data.tenantId, auth.context.username)}}">Nova Stats</a>
            </li>
            <li>
              <a ng-href="{{urlBuilder.get_url('ssh', resource, data.tenantId, auth.context.username)}}">SSH</a>
            </li>
          </ul>
        </div>
        <span ng-hide="urlBuilder.is_valid(resource)">{{resource['dns-name']}} ({{resource.provider}})</span>

      </td>
      <td>{{resource.type}}{{resource.service | prepend: ' - '}}</td>
      <td>{{resource.instance.public_ip}}</td>
      <td>{{resource.status}} <span ng-show="resource['status-message']">({{resource['status-message']}})</span><span ng-show="resource['error-message']">({{resource['error-message']}})</span></td>
    </tr>
  </tbody>
</table>

<accordion>
  <accordion-group heading="Show me the old completion screen">
    <clippy clippy-element="{{clippy_element}}" style="top:0" bgcolor="#f5f5f5"></clippy>
    <div ng-hide="!formatted_data.path"><p><strong>Access your application</strong> from <a ng-href="{{formatted_data.path}}" target="_blank">{{formatted_data.path}}</a>.</p>
    <p>Alternatively, enter the IP address in your hosts file if the domain name is not yet accessible:</p>
    <p><pre>echo "{{formatted_data.vip}}  {{formatted_data.domain}}" >> /etc/hosts</pre></p>
    <p>You might need to run this with elevated priviledges:
      <pre>sudo bash -c 'echo "{{formatted_data.vip}}  {{formatted_data.domain}}" >> /etc/hosts'</pre>
    </p></div>

    <br>
    <p><strong>Servers</strong> created were:
    <table class="table table-bordered table-condensed">
      <thead><tr><th>Name</th><th>Role</th><th>IP</th><th>Root Password</th></tr></thead>
      <tbody><tr ng-repeat="resource in formatted_data.resources | filter:{component:'linux_instance'}">
          <td><a target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/#compute%2CcloudServersOpenStack%2C{{resource.region}}/{{resource.instance.id}}">{{resource['dns-name']}}</a></td>
          <td>{{resource.service}}</td>
          <td>{{resource.instance.public_ip}}</td>
          <td>{{resource.instance.password}}</td>
      </tr></tbody>
    </table>

    <p><strong>Databases</strong><br>
    <table class="table table-condensed" ng-repeat="resource in formatted_data.resources | filter:{type:'database'}">
      <tr><td>Name:</td><td>
        <a ng-show="resource.provider=='database'" target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/database#rax%3Adatabase%2CcloudDatabases%2C{{formatted_data.resources[resource.hosted_on].region}}/{{formatted_data.resources[resource.hosted_on].instance.id}}">{{resource['dns-name']}}</a>
        <a ng-show="resource.provider=='chef-local'" target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/#compute%2CcloudServersOpenStack%2C{{formatted_data.resources[resource.hosted_on].region}}/{{formatted_data.resources[resource.hosted_on].instance.id}}">{{resource['dns-name']}}</a>
        <a ng-show="resource.provider=='chef-solo'" target="_blank" ng-href="https://mycloud.rackspace.com/a/{{auth.context.username}}/#compute%2CcloudServersOpenStack%2C{{formatted_data.resources[resource.hosted_on].region}}/{{formatted_data.resources[resource.hosted_on].instance.id}}">{{resource['dns-name']}}</a>
      <tr><td>Role:</td><td>{{resource.service}}</td></tr>
      <tr><td>Host:</td><td>{{resource.instance.interfaces.mysql.host}}</td></tr>
      <tr><td>Database:</td><td>{{resource.instance.interfaces.mysql.database_name}}</td></tr>
      <tr><td>Username:</td><td>{{resource.instance.interfaces.mysql.username || formatted_data.username}}</td></tr>
      <tr><td>Password:</td><td>{{resource.instance.interfaces.mysql.password || formatted_data.password}}</td></tr>
    </table>

    <p><strong>Access your application</strong> using these administrative credentials:
    <pre>username: {{formatted_data.username}}<br>password: {{formatted_data.password}}</pre></p>
    <p ng-show="formatted_data.private_key">Alternatively, you can use this private key:<clippy content="{{formatted_data.private_key}}" bgcolor="#f5f5f5"></clippy>
    </p>
    <p ng-show="formatted_data.private_key"><pre>{{formatted_data.private_key}}</pre></p>
    <p>The advanced view of the workflow can still be reached <a ng-href="/{{data.tenantId}}/workflows/{{data.id}}">here</a>.</p>
  </accordion-group>
</accordion>

<div ng-show="data.blueprint.documentation.instructions">
  <accordion>
    <accordion-group heading="Instructions">
      <p class="help-block" ng-bind-html-unsafe="render_markdown(data.blueprint.documentation.instructions)"></p>
    </accordion-group>
  </accordion>
</div>
