<p class="lead">Raw Source</p>

<button class="btn btn-mini tip" title="Auto refresh" ng-class="{active: auto_refresh}" ng-click="toggle_auto_refresh()">
	<i class="icon-refresh"></i> auto refresh
	<span ng-switch on="auto_refresh">
		<span ng-switch-when="true">enabled</span>
		<span ng-switch-when="false">disabled</span>
	</span>
</button>

<textarea id="source"
		  ui-codemirror="{ theme: 'lesser-dark', mode: {name: 'javascript', json: true}, lineNumbers: true, autoFocus: true, lineWrapping: true, dragDrop: false, matchBrackets: true, onGutterClick: foldFunc }"
		  ng-model="data_json">
</textarea>

<alert close="$parent.hide_alert('deployment_overwrite_secrets')" ng-show="$parent.display_alert('deployment_overwrite_secrets')">
  <strong>Warning!</strong>
  If your updates include any 'secret' values (like password or private keys)
  and you have not opened this screen with a <code>?with_secrets</code> query
  parameter, then any existing secrets will be overwritten and lost.
</alert>
