interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/flavors/101
  response:
    body: {string: !!python/unicode '{"flavor": {"ram": 512, "id": 101, "links": [{"href":
        "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/101",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/101",
        "rel": "bookmark"}], "name": "512MB Redis Instance"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"instance": {"flavorRef": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/101",
      "datastore": {"version": "2.8", "type": "redis"}, "name": "test-delete-me"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/instances
  response:
    body: {string: !!python/unicode '{"instance": {"status": "BUILD", "updated": "2015-01-09T01:01:43",
        "name": "test-delete-me", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/instances/ef9d75a6-c968-4747-a434-ecbfc16f99d5",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/instances/ef9d75a6-c968-4747-a434-ecbfc16f99d5",
        "rel": "bookmark"}], "created": "2015-01-09T01:01:43", "hostname": "redacted",
        "id": "ef9d75a6-c968-4747-a434-ecbfc16f99d5", "flavor": {"id": "101", "links":
        [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/101",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/101",
        "rel": "bookmark"}]}, "password": "redacted", "datastore": {"version": "2.8",
        "type": "redis"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/instances/ef9d75a6-c968-4747-a434-ecbfc16f99d5
  response:
    body: {string: !!python/unicode '{"instance": {"status": "BUILD", "updated": "2015-01-09T01:01:44",
        "name": "test-delete-me", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/instances/ef9d75a6-c968-4747-a434-ecbfc16f99d5",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/instances/ef9d75a6-c968-4747-a434-ecbfc16f99d5",
        "rel": "bookmark"}], "created": "2015-01-09T01:01:43", "hostname": "redacted",
        "id": "ef9d75a6-c968-4747-a434-ecbfc16f99d5", "flavor": {"id": "101", "links":
        [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/101",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/101",
        "rel": "bookmark"}]}, "datastore": {"version": "2.8", "type": "redis"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/instances/ef9d75a6-c968-4747-a434-ecbfc16f99d5
  response:
    body: {string: !!python/unicode '{"instance": {"status": "ACTIVE", "updated":
        "2015-01-09T01:01:44", "name": "test-delete-me", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/instances/ef9d75a6-c968-4747-a434-ecbfc16f99d5",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/instances/ef9d75a6-c968-4747-a434-ecbfc16f99d5",
        "rel": "bookmark"}], "created": "2015-01-09T01:01:43", "local_storage": {"used":
        0.5}, "hostname": "redacted", "id": "ef9d75a6-c968-4747-a434-ecbfc16f99d5",
        "flavor": {"id": "101", "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/flavors/101",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/flavors/101",
        "rel": "bookmark"}]}, "datastore": {"version": "2.8", "type": "redis"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
