<div modal="modal_window.modal_sla" close="close_modal('modal_sla')" options="modal_opts">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close_modal('modal_sla')">&times;</button>
    <h3>Support for Checkmate</h3>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>Support Coverage</dt>
      <dd>
        24x7 support coverage will be starting soon, but for now please hit us up by
        <a target="_blank" href="mailto:checkmate@lists.rackspace.com">email</a>,
        <a href="irc://irc.intra.rackspace.com/#checkmate" target="_blank">IRC</a>,
        or contributing on
        <a target="_blank" href="http://github.rackspace.com/checkmate/checkmate/issues/new">github</a>.
      </dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Rackers</dt>
      <dd>
        This product was built by Rackers for Rackers. Let us know what features you want and we'll get them done.
      </dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Feedback</dt>
      <dd>
        Click the feedback button on the right and let us know if you experience any problems using Checkmate, have suggestions for improvement, or stories of how Checkmate helped you.
      </dd>
    </dl>
  </div>
  <div class="modal-footer">
    <small class="pull-left"><b>Checkmate version:</b> {{api_version}}<br />
    <b>Rook version:</b> {{rook_version}}</small>
  </div>
</div>
