<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
    <head>
        <title>{% block title %}CheckMate{% endblock %}</title>

        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="Ziad Sawalha/Rackspace" />

        <!-- *** Bootstrap *** -->
        <!-- Le styles -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>
        <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="/static/bootstrap/ico/apple-touch-icon-57-precomposed.png" />

        <!-- *** Google Code Prettify *** -->
        <link href="/static/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="/static/google-code-prettify/prettify.js"></script>

        <!-- *** Code Mirror - code viewer/editor *** -->
        <link rel="stylesheet" href="/static/code-mirror/lib/codemirror.css" />
        <link rel="stylesheet" href="/static/code-mirror/theme/elegant.css" />
        <script type="text/javascript" src="/static/code-mirror/lib/codemirror.js"></script>
        <script type="text/javascript" src="/static/code-mirror/mode/javascript/javascript.js"></script>
        <script type="text/javascript" src="/static/code-mirror/lib/util/foldcode.js"></script>
        <!-- *** jQuery *** -->
        <script src="/static/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>

        <!-- modal plugin -->
        <link rel="stylesheet" href="/static/jquery-bootstrap-scripting/css/jquery-dialog2/jquery.dialog2.css" />
        <script type="text/javascript" src="/static/jquery-bootstrap-scripting/lib/jquery.controls.js"></script>
        <script type="text/javascript" src="/static/jquery-bootstrap-scripting/lib/jquery.form.js"></script>
        <script type="text/javascript" src="/static/jquery-bootstrap-scripting/lib/jquery.dialog2.js"></script>
        <script type="text/javascript" src="/static/jquery-bootstrap-scripting/lib/jquery.dialog2.helpers.js"></script>

        <style>
        body {
            height: 100%;
            width: 100%;
            position: absolute;
        }
        .container-fluid, .span9, form, .CodeMirror, .row-fluid { height: inherit; }
        .CodeMirror-scroll { height: 80%; }
        </style>
    </head>
    <body onload="prettyPrint()">
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/">Checkmate</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li class="divider-vertical"></li>
                  <li><a href="/">Home</a></li>
                  <li><a href="{{tenant_id|prepend}}/environments/">Environments</a></li>
                  <li><a href="{{tenant_id|prepend}}/deployments/">Deployments</a></li>
                  <li><a href="{{tenant_id|prepend}}/blueprints/">Blueprints</a></li>
                  <li><a href="{{tenant_id|prepend}}/components/">Components</a></li>
                  <li><a href="{{tenant_id|prepend}}/workflows/">Workflows</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="/">{{tenant_id|prepend('Tenant: ')}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
        {% block content %}
            <pre class="prettyprint lang-js"><code>{{ source | safe }}</code></pre>
        {% endblock %}
        </div><!-- container-fluid -->

    </body>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
    <!-- CheckMate Extensions and converntions -->
    <script type="text/javascript" >
            $(".cmpop").popover();  //anything with a 'cmpop' class will attempt to pop over using the data-content and title attributes
            $(".cmtip").tooltip();  //anything with a 'cmtip' class will attempt to show a tooltip of the title attribute
            $(".cmcollapse").collapse();  //anything with a 'cmcollapse' class will be collapsible
    </script>
</html>
