interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/datastores/versions/14069833-2efd-4d3a-b7e7-d57b51fc7dc4/parameters
  response:
    body: {string: !!python/unicode '{"configuration-parameters": [{"name": "auto_increment_increment",
        "min": 1, "max": 65535, "restart_required": false, "type": "integer", "datastore_version_id":
        "14069833-2efd-4d3a-b7e7-d57b51fc7dc4"}, {"name": "auto_increment_offset",
        "min": 1, "max": 65535, "restart_required": false, "type": "integer", "datastore_version_id":
        "14069833-2efd-4d3a-b7e7-d57b51fc7dc4"}, {"name": "bulk_insert_buffer_size",
        "min": 0, "max": 18446744073709547520, "restart_required": false, "type":
        "integer", "datastore_version_id": "14069833-2efd-4d3a-b7e7-d57b51fc7dc4"},
        {"type": "string", "name": "character_set_filesystem", [...]
