interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/datastores
  response:
    body: {string: !!python/unicode '{"datastores": [{"default_version": "4f5f2548-1102-4d22-9162-5c8a67949048",
        "versions": [{"id": "4f5f2548-1102-4d22-9162-5c8a67949048", "links": [{"href":
        "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/datastores/versions/4f5f2548-1102-4d22-9162-5c8a67949048",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/datastores/versions/4f5f2548-1102-4d22-9162-5c8a67949048",
        "rel": "bookmark"}], "name": "10"}], "id": "0627c7ba-6439-425c-aece-a83c160740df",
        "links": [{"href": "https://iad.databases.api.rackspacecloud.com/v1.0/redacted/datastores/0627c7ba-6439-425c-aece-a83c160740df",
        "rel": "self"}, {"href": "https://iad.databases.api.rackspacecloud.com/datastores/0627c7ba-6439-425c-aece-a83c160740df",
        "rel": "bookmark"}], "name": "mariadb"}, {"default_version": "14069833-2efd-4d3a-b7e7-d57b51fc7dc4",
        "versions": [{"id": "14069833-2efd-4d3a-b7e7-d57b51fc7dc4", "l[...]
