interactions:
- request:
    body: '{"configuration": {"datastore": {"version": "5.6", "type": "mysql"}, "values":
      {"connect_timeout": 60, "expire_logs_days": 90}, "description": "Created by
      integration test. Please delete!", "name": "integration-test-please-delete"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/configurations
  response:
    body: {string: !!python/unicode '{"configuration": {"datastore_name": "mysql",
        "updated": "2015-01-15T18:23:39", "values": {"connect_timeout": 60, "expire_logs_days":
        90}, "name": "integration-test-please-delete", "created": "2015-01-15T18:23:39",
        "datastore_version_name": "5.6", "instance_count": 0, "id": "5a413d67-60e8-4689-93af-f7c816d61363",
        "datastore_version_id": "14069833-2efd-4d3a-b7e7-d57b51fc7dc4", "description":
        "Created by integration test. Please delete!"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.databases.api.rackspacecloud.com:443/v1.0/redacted/configurations/5a413d67-60e8-4689-93af-f7c816d61363
  response:
    body: {string: !!python/unicode '{"configuration": {"datastore_name": "mysql",
        "updated": "2015-01-15T18:23:39", "values": {"connect_timeout": 60, "expire_logs_days":
        90}, "name": "integration-test-please-delete", "created": "2015-01-15T18:23:39",
        "datastore_version_name": "5.6", "instance_count": 0, "id": "5a413d67-60e8-4689-93af-f7c816d61363",
        "datastore_version_id": "14069833-2efd-4d3a-b7e7-d57b51fc7dc4", "description":
        "Created by integration test. Please delete!"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
