interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://hkg.blockstorage.api.rackspacecloud.com:443/v1/redacted/volumes
  response:
    body: {string: !!python/unicode '{"volumes": []}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-2852fff0-49a4-4e4a-bb47-fed81d2d328f]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://iad.blockstorage.api.rackspacecloud.com:443/v1/redacted/volumes
  response:
    body: {string: !!python/unicode '{"volumes": [{"status": "available", "display_name":
        null, "attachments": [], "availability_zone": "nova", "bootable": "false",
        "created_at": "2015-01-23T05:52:48.000000", "display_description": null, "volume_type":
        "SATA", "snapshot_id": null, "source_volid": null, "metadata": {"storage-node":
        "6ac4cda7-9fd0-41dc-90dd-b4f874345b2c"}, "id": "889be469-d8d5-409d-87e8-904a51eeeb4f",
        "size": 101}, {"status": "available", "display_name": null, "attachments":
        [], "availability_zone": "nova", "bootable": "false", "created_at": "2015-01-23T05:52:09.000000",
        "display_description": null, "volume_type": "SATA", "snapshot_id": null, "source_volid":
        null, "metadata": {"storage-node": "443b171f-bc85-4fab-a5ec-b2dc5d929fd6"},
        "id": "b95aaccc-92f2-4a49-9325-1994e1359798", "size": 101}, {"status": "available",
        "display_name": null, "attachments": [], "ava[...]
