<div id="leftControls" class="lcontrols no-select" ng-show="showControls" ng-init="auto_refresh()">
  <div class="tControls">
    <div class="top" ng-show="data">
      <button ng-click="wrap_admin_call(deployment['created-by'], workflow_action, data.id, 'execute')" class="btn" tooltip="Run workflow" tooltip-placement="right" ng-hide="is_paused()"><i class="icon-play"></i></button>
      <button ng-click="wrap_admin_call(deployment['created-by'], workflow_action, data.id, 'pause')" class="btn" tooltip="Pause Workflow" tooltip-placement="right" ng-hide="is_paused()"><i class="icon-pause"></i></button>
      <button ng-click="wrap_admin_call(deployment['created-by'], workflow_action, data.id, 'resume')" class="btn" tooltip="Resume Workflow" tooltip-placement="right" ng-show="is_paused()"><i class="icon-play"></i></button>
      <button ng-click="navigate(data.tenantId + '/workflows/' + data.attributes.deploymentId + '/status')" class="btn" tooltip="Check status" tooltip-placement="right"><i class="icon-heart"></i></button>
    </div>
    <div class="bottom" ng-show="data">
      <button ng-click="load()" class="btn" tooltip="Refresh" tooltip-placement="right"><i class="icon-repeat"></i></button>
    </div>
  </div>
</div>

<div class="span3 summaryBar">
  <div class="summaryHeader" ng-show="data">
    <div class="top well" ng-show="showStatus">
      <div class="row-fluid" style="height: 20px;">
        <div class="span6 actions">
          Workflow
        </div>
        <div class="deployment_link span6 pull-right">
          <a data-ng-href="/{{data.tenantId}}/deployments/{{data.attributes.deploymentId}}">See deployment</a>
        </div>

        <div class="span2 actions">
          <!--<a tooltip="Check status" href="{{data.id}}/status"><i class="icon-heart"></i></a>
          <a tooltip="Run workflow" href="#" ng-click="workflow_action(data.id, 'execute')"><i class="icon-play"></i></a>-->
        </div>
      </div>

      <h4>{{data.wf_spec.name}}</h4>

      <div class="progress" style="height: 10px;">
        <div class="bar" ng-style="{width: percentComplete + '%'}"></div>
      </div>

      <div>
        Expected to finish {{timeRemaining | secondsETA}}
      </div>

      <div>
        <a class="label label-info" tooltip="Total items" ng-click="showAll()">{{count}}</a> tasks:
        <a class="label label-success" tooltip="Completed" ng-click="showUnread()">{{taskStates['completed'] + taskStates['ready']}}</a>
        <a class="label label-warning" tooltip="Waiting" ng-click="showStarred()">{{taskStates['waiting']}}</a>
        <a class="label label-important" tooltip="Errors" ng-click="showRead()">{{taskStates['error']}}</a>, and
        <a class="label" tooltip="Other" ng-click="showRead()">{{taskStates['future'] + taskStates['likely'] + taskStates['maybe']}}</a>
      </div>
    </div>
  </div>
</div>
