<div id="new_blueprint_container" class="row-fluid" ng-init="load_blueprint()">
  <div class="span6" id="new_blueprint_editor">
    <textarea id="blueprint_source"
              ng-model="deployment_json"
              ui-codemirror="codemirror_options">
    </textarea>
  </div>

  <div class="span6 editor_side_container">
    <tabs>
      <pane heading="Documentation">
        <markdown text="help_display"></markdown>
      </pane>

      <pane heading="Deployment Graph">
        <cm-tree-view data="parsed_deployment_tree" width="640" height="480"></cm-tree-view>
      </pane>

      <pane heading="Preview Blueprint Options">
        <div class="entries">
          <form id='blueprint_options' name='blueprint_options'>
            <ng-include src="'/partials/blueprints/_options.html'"></ng-include>
          </form>
        </div>
      </pane>
    </tabs>

    <div class="row-fluid">
      <a style="display:none;" ng-click="toggle_editor_type()">Toggle editor type</a>
      <p style="display:none;">{{errors.conversion}}</p>
    </div>
  </div>
</div>
