<div id="new_blueprint_container" class="row-fluid">
  <div class="span6" id="new_blueprint_editor">
    <textarea id="blueprint_source"
          ui-codemirror="{ onLoad: newBlueprintCodemirrorLoaded, theme: 'lesser-dark', mode: {name: 'javascript', json: true }, lineNumbers: true, autoFocus: true, lineWrapping: true, dragDrop: false, matchBrackets: true, onGutterClick: foldFunc }"
          ng-model="deployment_json">
    </textarea>
  </div>
  <div class="span6">
    <cm-tree-view data="parsed_deployment_tree" width="640" height="480"></cm-tree-view>
    <hr />
    <div ng-bind-html="help_display"></div>
  </div>
</div>
