<div id="new_blueprint_container" class="row-fluid">
  <div class="span6" id="new_blueprint_editor">
    <textarea id="blueprint_source"
          ui-codemirror="{ onLoad: newBlueprintCodemirrorLoaded, theme: 'lesser-dark', mode: {name: 'javascript', json: true }, lineNumbers: true, autoFocus: true, lineWrapping: true, dragDrop: false, matchBrackets: true, onGutterClick: foldFunc }"
          ng-model="blueprint_json">
    </textarea>
  </div>
  <div class="span6">
    <span ng-bind-html="help_display"></span>
  </div>
</div>
